#header{
	margin: 0 auto;
	background: #eeeeee;
	padding: 10px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	height: 85px;
}
#atencion{
	/* margin: 0 auto; */
	border: 1px solid #eeeeee;
	box-shadow: 0px 0px 5px #c6c6c6;
	margin-bottom: 10px;
	width: 49%;
	float: left;
	margin-left: 5px;
	padding: 5px;
}
#tituloAtencion{
	color:#E61818;
	margin-left: 10px;
}
#tituloAsegurese{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	background: #eeeeee;
	padding: 15px;
	border-radius: 3px;
	margin-left: -15px;
	margin-bottom: 15px;
}
#logoAsRun{
	float: left
}
#form{
	margin-left: 25%;
	margin-top: 10%;
}#contAtencion{
	margin-left: 0px;
	width: 50%;
}#tituloForm{
	text-align: center;
}
#btnCompara{
	margin-top: 10px;
}
.errorList{
	border: 1px solid #D92929;
	padding: 5px;
	list-style: none;
	text-align: center;
	box-shadow: 0px 0px 5px #d92929;
	background: #E65151;
	color: #ffffff;
	font-size: 18px;
}
.contFormGeneral{
	min-height: 320px !important;
	background: rgba(30, 55, 90, 0.3) !important;
	border-radius: 3px;
	width: 48%;
	float: right;
	margin-right: 5px;
}
#contLoading{
	text-align: center;
}
#msg{
	color:#BDBDBD;
}
.principal{
	float: left;
	width: 100%;
}