{% extends "admin_copies/change_form.html" %}

{% block after_field_sets %}
<div id="player">


<script type='text/javascript' src='/jwplayer/jwplayer.js'></script>


<div id='mediaspace'></div>

<script type='text/javascript'>

$("#id_origen").change(function () { 

 jwplayer('mediaspace').setup({
    'file': "http://clips.adbout.com:8070/multimedia/ar/CapturaDVRs/" + $("#id_origen").val(),
    'type': 'flv', 
    'autostart': 'true',
    //analytics: { enabled:false},
    'width': '470',
    'height': '320'
  });
  jwplayer().seek(100);

 } );



</script>


</div>
{% endblock %}
