
<table border=1>
<tr>
<th>Fecha</th>
<th>Usuario</th>
<th>Texto</th>
</tr>

{% for t in posts.data %}
<tr>
    <td>{{t.created_time}}</td>
    <td>{{t.from.name}}</td>
    <td>{{t.message}}</td>
    </tr>
{% endfor %}
</table>
