<table border=1>
<tr>
<th>Fecha</th>
<th>Titulo</th>
<th>Resumen</th>
<th>Link</th>
</tr>

{% for entry in response.entries %}
<tr>
    <td>{{entry.published_parsed}}</td>
    <td>{{entry.title}}</td>
    <td>{{entry.summary|safe}}</td>
    <td><a href="{{entry.link}}">Ver noticia</a></td>
</tr>
{% endfor %}
</table>
