<table border=1>
<tr>
<th>Fecha</th>
<th>Usuario</th>
<th>Texto</th>
</tr>
{% for t in tweets %}
    <tr>
    <td>({{t.created_at}})</td>
    <td>@{{t.GetUser.screen_name}}</td>
    <td>{{t.GetText}}</td>
    </td>
{% endfor %}
</table>
