
<table border=1>
<tr>
<th>Fecha</th>
<th>Usuario</th>
<th>Titulo</th>
<th>Url</th>
</tr>

{% for t in videos %}
<tr>
    <td>{{t.published.text}}</td>
    <td>{{t.author.0.name.text}}</td>
    <td>{{t.media.title.text}}</td>
    <td><a href="{{t.media.player.url}}">Ver video</a></td>
</tr>
{% endfor %}
</table>
