{% extends "admin/base_site.html" %}
<!-- {% load i18n admin_static admin_modify %} -->
{% load url from future %}
{% load admin_urls %}
{% block extrahead %}
{% load widget_tweaks %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock%}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
  &rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
  &rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">


<div class="container-fluid" id="formularioedicion">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading clearfix">
          <strong class="panel-title pull-left" style="padding-top: 7.5px;">
            Datos del sintonizador
          </strong> 
          <div class="btn-group pull-right">
            <img src="{{STATIC_URL}}img/botones/disponible.png" id="imagestatus" style="visibility:hidden"  height="35" width="75">
          </div>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <form class="form-horizontal" role="form" action="/admin/decos/sintonizador/manage_sintonizador_form1/{{sintonizador.pk}}/" method="POST">{% csrf_token %}
                {% for field in form %}
                 <div class="form-group">
                    <label class="control-label col-md-5">{{field.label}}:</label>  
                    <div class="col-md-7">
                      {{field|add_class:'form-control col-md-7'}}
                    </div>
                 </div>
                 <!-- </li> -->
                {% endfor %}
                <center>
                  <input  type="submit" value="Guardar">
                </center>
              </form>
            </li>
          </ul> 
        </div> <!-- body -->        
      </div> <!-- panel total -->
    </div>   <!-- end div col-md3 -->


    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading clearfix">
          <strong class="panel-title" >Datacenter : </strong> {{datacenter.nombre}} 
        </div>
        <div class="panel-body">
          <ul class="list-group">
            
             <li class="list-group-item">
              <strong>Dirección: </strong> {{datacenter.ip}}
            </li>

            <li class="list-group-item">
              <strong>Ciudad: </strong> {{datacenter.ciudad}}
            </li>
            <li class="list-group-item">

              <form class="form-horizontal" role="form" action="/admin/decos/sintonizador/manage_sintonizador_form2/{{sintonizador.pk}}/" method="POST">{% csrf_token %}
              {% for field in ubicacionform %}
               <!-- <li class="list-group-item"> -->
                <div class="form-group">
                  <label class="control-label col-md-5">{{field.label}}:</label>  
                    <div class="col-md-7">
                      {{field|add_class:'form-control col-md-7'}}
                    </div>
                </div>
               <!-- </li> -->
              {% endfor %}
                <center>
                 <input  type="submit" value="Guardar">
                </center>
              </form>
            </li>

          </ul>
        </div>
      </div>
    </div>  <!-- columna -->

    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading clearfix">
          <strong class="panel-title">Medio :</strong> {{medio.nombre}}
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <form class="form-horizontal" role="form" action="/admin/decos/sintonizador/manage_sintonizador_form3/{{sintonizador.pk}}/" method="POST">{% csrf_token %}
              <div class="form-group">
                <label class="control-label col-md-5">Device:</label>  
                <div class="col-md-7">
                  {{medioform.dvr|add_class:'form-control col-md-7'}}
                </div>

              </div>
              <div class="form-group">
                <label class="control-label col-md-5">Slot:</label>
                <div class="col-md-7">
                  {{medioform.canal|add_class:'form-control col-md-7'}}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">Media Delivery ID:</label>  
                <div class="col-md-7">
                  {{medioform.mediadelivery_id|add_class:'form-control col-md-7'}}
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-5">Canal DirecTV:</label>  
                <div class="col-md-7">
                  {{medioform.canal_directv|add_class:'form-control col-md-7'}}
                </div>
              </div>
              <center>
               <input  type="submit" value="Guardar">
              </center>
             </form>
            </li>
          </ul>
        </div> <!-- panelbody -->
      </div> <!-- paneltotal -->
    </div> <!-- columna -->
  </div>  <!-- row -->


  <div class="container-fluid" id="controldedeco">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Controles del Sintonizador</h4>
            <div class="btn-group pull-right">
              <a href="#" class="btn btn-default btn-sm" id="mostrarcontroles"> Mostrar</a>
            </div>
          </div>
          <div class="panel-body" id="tv-panel">
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-3">
                <div class="container "  style="width:100%"> 
                  <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                    <table class="control_table center-block" >
                   <tr class="tr_control">
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/exit.png" onClick="boton('exit')" class="controlboton" id="id_" height="40" width="52" >
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/up.png" onClick="boton('up')" class="controlboton" id="id_" >
                      </td>
                      <td class="td_control">
                       <img src="{{STATIC_URL}}img/botones/back.png" onClick="boton('back')" class="controlboton" id="id_" height="40" width="52" >
                      </td>
                    </tr>
                    <tr class="tr_control">
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/left.png" onClick="boton('left')" class="controlboton" id="id_" >
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/select.png" onClick="boton('select')" class="controlboton" id="id_" height="40" width="52">
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/right.png" onClick="boton('right')" class="controlboton" id="id_" >
                      </td>
                    </tr>
                    <tr class="tr_control">
                      <td class="td_control">
                      <h href="">
                        <img src="{{STATIC_URL}}img/botones/chanup.png" onClick="boton('chanup')" class="controlboton" id="id_" height="40" width="52" >
                      </a>
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/down.png" onClick="boton('down')" class="controlboton"  id="id_" >
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/dash.png" onClick="boton('dash')" class="controlboton" id="id_" height="40" width="52" >
                      
                      </td>
                    </tr>
                    <tr class="tr_control">
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/chandown.png" onClick="boton('chandown')" class="controlboton" id="id_" height="40" width="52">
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/menu.png" onClick="boton('menu')" class="controlboton" id="id_" height="40" width="52" >
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/guide.png" onClick="boton('guide')" class="controlboton" id="id_" height="40" width="52" >
                      </td>
                    </tr>
                    <tr class="tr_control">
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/1.png" onClick="boton('1')" class="controlboton" id="id_" >
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/2.png" onClick="boton('2')" class="controlboton" id="id_" >
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/3.png" onClick="boton('3')" class="controlboton" id="id_" >
                      </td>
                    </tr>
                    <tr class="tr_control">
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/4.png" onClick="boton('4')" class="controlboton" id="id_" >
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/5.png" onClick="boton('5')" class="controlboton" id="id_" >
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/6.png" onClick="boton('6')" class="controlboton" id="id_" >
                      </td>
                    </tr>
                    <tr class="tr_control">
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/7.png" onClick="boton('7')" class="controlboton" id="id_" >
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/8.png" onClick="boton('8')" class="controlboton" id="id" >
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/9.png" onClick="boton('9')" class="controlboton" id="id_" >
                      </td>
                    </tr>
                    <tr class="tr_control">
                      <td class="td_control">
<!--                         <img src="{{STATIC_URL}}img/botones/format.png"  onClick="boton('format')" class="controlboton" id="id_" height="40" width="52" >
 -->                      </td>
                      <td class="td_control">
                      <img src="{{STATIC_URL}}img/botones/0.png" onClick="boton('0')" class="controlboton" id="id_" >
                      </td>
                      <td class="td_control">
                        <img src="{{STATIC_URL}}img/botones/power.png" onClick="boton('power')" class="controlboton" id="id_" height="40" width="52" >
                      </td>
                    </tr>
                  </table> <!-- <END CONTROL TABLE> -->
                    
                    </div>
                    <div class="col-md-1">
                    </div>
                  </div>


                  <strong>Canal: </strong><input type="number" onchange="cambiarCanal()" class="form-control" id="channelform">
                </div> <!-- container -->
              </div>
              <div class="col-md-5">
                  <img src="" id="tv"class="img-responsive img-thumbnail center-block" />
                  <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                      <div class="alert alert-danger" id="alertblock">
                        <center>
                          <strong id="alertmsg">Hay retraso</strong> 
                        </center>
                       </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                  </div>
              </div>
              <div class="col-md-2">
              </div>
            </div>

          </div>
         <div class="progress" id="progress-block">
           <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" id="bar" aria-valuemax="100" style="width:0%;opacity:0.7">
           </div>
         </div>
        </div>
      </div> <!-- columna md 12 -->
    </div> <!-- row -->
  </div> <!-- container -->
</div>

<div id="formulariocreacion"> <!-- esto corresponde al formulario de creacion del change form original -->
    <div id="content-main">
    
    {% block object-tools %}
    {% if change %}{% if not is_popup %}
      <ul class="object-tools">
        {% block object-tools-items %}
        <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
        {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
        {% endblock %}
      </ul>
    {% endif %}{% endif %}
    {% endblock %}
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
    <div>
    {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
    {% if save_on_top %}{% submit_row %}{% endif %}
    {% if errors %}
        <p class="errornote">
        {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ adminform.form.non_field_errors }}
    {% endif %}

    {% block field_sets %}
    {% for fieldset in adminform %}
      {% include "admin/includes/fieldset.html" %}
    {% endfor %}
    {% endblock %}

    {% block after_field_sets %}{% endblock %}

    {% block inline_field_sets %}
    {% for inline_admin_formset in inline_admin_formsets %}
        {% include inline_admin_formset.opts.template %}
    {% endfor %}
    {% endblock %}

    {% block after_related_objects %}{% endblock %}

    {% submit_row %}

    {% if adminform and add %}
       <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
    {% endif %}

    {# JavaScript for prepopulated fields #}
    {% prepopulated_fields_js %}

    </div>
    </form></div>
<div>
<script>

var controleson = false
$(document).ready(function(){
  $("#progress-block").hide(400)
  document.getElementById("channelform").value = {% ifnotequal sintonizador.canal_sintonizado None %}{{sintonizador.canal_sintonizado}};{% else %}-1;{% endifnotequal %}
  if ("{{sintonizador.pk}}".length>0) {
  reload();
  $("#grp-content-title").hide();
  $("#formulariocreacion").hide();
  $("#alertblock").hide()
  $("#tv-panel").hide()
  $("#mostrarcontroles").click(function(){
      controleson = !controleson;
      $("#tv-panel").toggle(1000);
      if (controleson) {
        $("#mostrarcontroles").html("Esconder");  
      } else {
        $("#mostrarcontroles").html("Mostrar")
      }
  });

} else {
  $("#formularioedicion").hide()
}



  $(".controlboton").mouseenter(function() {
     $(this).animate({
            opacity: '1',
        });
  })
  $(".controlboton").mouseleave(function() {
     $(this).animate({
            opacity: '0.6',
        });
  })




});



function reload_tv() {
  if(controleson) {
    $.ajax({
      url: 'http://media.welo.tv/prog_thumbs/'+{% if sintonizador %}'{{medio.mediadelivery_id}}'{% else %}"hola"{% endif %}+'/last.txt',
      type: "GET",
      cache: false,
      success: function(data, status){
        document.getElementById("tv").src = 'http://media.welo.tv/prog_thumbs/' + data
      }
    });
    $.ajax({
      url: '/admin/decos/sintonizador/verificar_last/'+{% if sintonizador %}'{{medio.pk}}'{% else %}"hola"{% endif %}+'/',
      type: "GET",
      cache: false,
      success: function(data, status){
        if (data['retrasado']==1) {
          document.getElementById("alertmsg").innerHTML = "Hay un retraso de " + data['tiempo'] + " min."
          $("#alertblock").show();
        } else {
          $("#alertblock").hide();
        }
      }
    });
    
  }
}
setInterval(reload_tv, 1000);
 
reload_tv()

function cambiarCanal() {
  $("#progress-block").show(200);
    $("#bar").animate({
    width: '30%',
  });
  var new_channel = document.getElementById('channelform').value
  $("#bar").animate({
    width: '30%',
  });
  $.ajax({
    url : "/admin/decos/sintonizador/estado_sintonizador/", // the endpoint
    type : "POST", // http method
    data : { 'pk' : '{{sintonizador.pk}}' , 'new_channel' : new_channel },
    success : function(json) {
      if (json["status-new-channel"]==0) {
        $("#bar").animate({
            width:  '100%',
          });
        setTimeout( function() {
          $("#progress-block").hide(200);
          document.getElementById("bar").style.width="0";
        },1000);
      }
      if (json['status-new-channel']==-1) {
        document.getElementById('channelform').value = json['channel']
        $("#bar").animate({
            width:  '100%',
          });
        alert("El canal no existe.")
        setTimeout( function() {
          $("#progress-block").hide(200);
          document.getElementById("bar").style.width="0";
        },1000);
      }
    },
    error : function() {
          document.getElementById("imagestatus").src="{{STATIC_URL}}img/botones/noconectado.png";
          $("#bar").animate({
            width:  '100%',
          });
          alert("El sintonizador tiene un problema.");
          setTimeout( function() {
          $("#progress-block").hide(200);
          document.getElementById("bar").style.width="0";
        },1000);
        },
    });
}







function boton(boton) {
    $("#progress-block").show(200);
    $("#bar").animate({
      width: '40%',
    });
    $.ajax({
        url : "/admin/decos/sintonizador/estado_sintonizador/", // the endpoint
        type : "POST", // http method
        data : { 'pk' : '{{sintonizador.pk}}' , 'command' : boton },
        success : function(json) {
          $("#bar").animate({
            width:  '100%',
          });

        reload()
        setTimeout( function() {
          $("#progress-block").hide(200);
          document.getElementById("bar").style.width="0";
        },1000);
        
        },
    });
}

function reload () { 
  $.ajax({
        url : "/admin/decos/sintonizador/estado_sintonizador/", // the endpoint
        type : "POST", // http method
        data : { pk : '{{sintonizador.pk}}'},
        success : function(json) {
          if (json['mode']==0) {
            document.getElementById("imagestatus").src= "{{STATIC_URL}}img/botones/disponible.png";
           } else if (json['mode']==1) {
            document.getElementById("imagestatus").src= "{{STATIC_URL}}img/botones/apagado.png";
           } else {
            document.getElementById("imagestatus").src= "{{STATIC_URL}}img/botones/noconectado.png";
           }
            document.getElementById("imagestatus").style.visibility = "visible";

        },
        error : function() {
           document.getElementById("imagestatus").src="{{STATIC_URL}}img/botones/noconectado.png";
          document.getElementById("imagestatus").style.visibility = "visible";


        },
  });
}


</script>



<style type="text/css">
table.control_table {border-collapse:collapse;
                      margin:0;
                      border-spacing: 0;}

.controlboton {
  opacity: 0.6;
}

table.control_table, td.td_control, tr.tr_control {
    border: none;
    border-color:#ffffff; 
    margin:0;
    border-spacing: 0;
    padding:2px;
    border-collapse:collapse;
    text-align:center;
}

.form-horizontal .control-label{
/* text-align:right; */
text-align:left;
}




</style>




{% endblock %}
<!-- de aca salieron los botones con este color arriba #5187b8 abajo #61b4ff con bubble efect simple gradient rounded box 9 - horiz paddin 17 vertical padddin 8 - font calibri bold 24 text shadow 1 negra -->