{% extends "base_home_internal.html" %}

{% block content %}
<div class="row">
<div class="twelve column centered msg" id="activation-complete">
    <div class="msg-wrapper">
        <div class="msg-detail">
        <h4>¡Tu cuenta ya está activa!</h4>
        <a href="/cotizar/">Cotizá el seguro de tu auto</a>
        </div>
    </div>
</div>
</div>
{% endblock %}
