<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>infoAD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="/static/home/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link href='{{STATIC_URL}}img/gral/favicon.ico' rel='shortcut icon' type='image/ico'/>

        <!-- Custom styles for this template -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

        
        <link href="{{STATIC_URL}}css/base_landing.css" rel="stylesheet">
        
        {% block extra_head  %} {% endblock %}
    </head>

<body id="login-page">
    <div class="container">
        <div class="header">
            <a href="http://infoad.com.ar" class="logo hide-text">Infoad</a>
        </div>

        {% block content %} {% endblock %}
    
    </div>
    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img src="/static/home/img/logo-footer.png" alt="InfoAD" title="InfoAD">
                    <ul class="footer-menu">
                        <li><a class="trigger" href="/propuesta/">Solicitar Contacto</a></li>
                        <li><a class="trigger" href="/accounts/login_demo/">Iniciar Sesión</a></li>
                        <li><a href="http://infoad.com.ar/blog/" target="_blank">Blog</a></li>
                    </ul>
                    <h4 class="telefono">{{settings.TELEFONO}}</h4>
                    <ul class="social-footer">
                        <li><a href="http://www.linkedin.com/company/2257582?trk=tyah&trkInfo=tas%3Ainfoad%2Cidx%3A1-4-4" class="linkedin text-hide" title="Linkedin" target="_blank">Linkedin</a></li>
                        <li><a href="https://www.facebook.com/infoadok" class="facebook text-hide" title="Facebook" target="_blank">Facebook</a></li>           
                        <li><a href="https://twitter.com/infoadarg" class="twitter text-hide" title="Twitter" target="_blank">Twitter</a></li>
                        <li><a href="http://gplus.to/infoad" class="google text-hide" title="Google Plus" target="_blank">Google Plus</a></li>
                    </ul>
                </div>
                <div class="col-sm-5 text-center">
                    <a class="pulsosocial" href="http://pulsosocial.com/2013/03/13/infoad-el-analytics-de-la-inversion-en-medios-offline/" target="_blank" title="Ver nota completa">
                        <img src="/static/home/img/pulso-social.png" alt="Pulso Social" title="Pulso Social">
                        <blockquote>El Analytics de la inversión <br>en medios offline</blockquote>
                    </a>
                </div>
                <div class="col-sm-4 text-center">                  
                        <img class="reporte" src="/static/home/img/reporte-publicidad.png" alt="Prensario Internacional" title="Prensario Internacional">
                        <blockquote>Las principales ventajas que INFOAD posee <br>acreditan su crecimiento como empresa <br>dentro del mercado publicitario.</blockquote>
                    </a>
                </div>
            </div>
        </div>
    </footer><!-- /.footer -->
</body>
</html>