<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>infoAD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/font-awesome.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/base.css" rel="stylesheet">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link href='{{STATIC_URL}}img/gral/favicon.ico' rel='shortcut icon' type='image/ico'/>

       
        {% block extra_head %}
        {% endblock %}
    </head>

<body id="login-page">
    <div class="container">
        <div class="header">
            <a href="http://infoad.com.ar" class="logo hide-text">Infoad</a>
        </div>

        {% block content %} {% endblock %}
    
    </div>
    <footer>
        &copy; 2014 - <a href="http://infoxel.com" target="_blank">Infoxel</a>
    </footer>
</body>
</html>