{% extends "registration/base_login.html" %}

{% block content %}
<div id="login">
    <h3 class="title">Sesión Finalizada</h2>
	<a class="btn btn-large btn-block submit" href="/accounts/login/">Ingresá Nuevamente</a>
</div>
{% endblock %}
