{% extends 'registration/base_landing.html' %}
{% block extra_head %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26916728-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <link href="/static/home/css/footer_landing.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <img style="margin-top:10px;margin-left:250px;" src="{{STATIC_URL}}img/dispositivos.png">
    <div id="login">
        <h3 class="title" style="width:500px;color:#ff0212;margin-top:-60px;margin-bottom:-20px;text-align:left;">Estás a punto de experimentar InfoAD.</h3>
        <h5 style="margin-bottom: -15px;">A continuación, ingresa los datos</h5>
        <h5>que recibiste para activar tu cuenta demo.</h5>
        <br>
        <form action="/accounts/login/" method="post">
            <input type="hidden" name="next" value="{{next}}" />
            {% include 'form_snippet.html' %}
            {% csrf_token %}
            <input onClick="_gaq.push(['_trackEvent', 'demo', 'ingresar', 'login']);" type="submit" class="btn btn-large btn-block submit" value="Ingresar"/>
        </form>
    </div>
{% endblock %}