{% extends 'registration/base_login.html' %}

{% block content %}
    <div id="login">
    
        <h3 class="title">Ingresá a tu cuenta</h3>

        <form action="/accounts/login/" method="post">
            <input type="hidden" name="next" value="{{next}}" />
            {% include 'form_snippet.html' %}
            {% csrf_token %}
            <input type="submit" class="btn btn-large btn-block submit" value="Ingresar"/>
        </form>
    
    </div>
{% endblock %}