{% extends "base_home_internal.html" %} {% load i18n %}

{% block content %}
<div class="row">
    <div class="twelve column centered msg"  id="exito">

    <div class="msg-wrapper">
        <div class="msg-detail">
            <h4>Recuperar contraseña</h4>
            <p>Tu contraseña se ha restablecido. Podés loguearte haciendo click en el link.</p>
            <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>
        </div>
    
    
    </div>
    </div>
</div>
{% endblock %}