{% extends "privatebeta/base_email.html" %}
{% load url from future %}
{% block title %}Recuperar Contraseña de Asegú{% endblock %}   

{% block content %}   
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
    <tr height="20"></tr>
    <tr>
	<td height="80"> <!-- style="font-family:Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #45486D">-->		

	<p style="font: bold 20px Arial, Helvetica, sans-serif; color: #45486D">
	    ¡Hola{% if user.first_name %}, {{user.first_name}}{% endif %}!
	</p>
        <p style="font: 12px Arial, Helvetica, sans-serif; color: #45486D;">
            Has recibido este mail porque solicitaste la generación de una nueva contraseña de su cuenta de usuario en <strong>asegu.com</strong>
	</p> 
	<p style="font: 12px Arial, Helvetica, sans-serif; color: #45486D;">
            Por favor, visitá la página que se muestra a continuación y eligí una nueva contraseña:
	</p>
	<p style="font: 12px Arial, Helvetica, sans-serif; color: #45486D;">
	    Su nombre de usuario en caso de haberlo olvidado:
        </p>
	<p>	
	    <strong style="font: bold 14px Arial, Helvetica, sans-serif; color: #45486D;">
              <em> {{user.username}}</em>
            </strong>
	</p>
	</td>
    </tr>
    
    
    {% autoescape off %}
    {% block reset_link %}
    <tr height="50">
        <td align="center">
	    <a style="color: #333;" href="{{ protocol }}://{{ domain }}/cuentas/reset/{{uid}}-{{token}}/">Click aquí para restablecer su contraseña</a>
        </td>
    </tr>		
    {% endblock %}
    {% endautoescape %}          


    <tr>
        <td height="80">
	<p style="font: 12px Arial, Helvetica, sans-serif; color: #45486D;">
	    ¡Gracias por usar nuestro sitio!
	</p>
	<p style="font: 12px Arial, Helvetica, sans-serif; color: #45486D;">
	<em>Cordialmente,</em><br />
	El equipo de <strong>Asegú</strong><p>     
    	</td>
    </tr>
</tbody>
</table>
{% endblock %}
{% block links %}{% endblock %}

