{% extends "base_home_internal.html" %} {% load i18n %}

{% block content %}
<div class="row">
    <div class="twelve column user-access">
    <h1>{% trans 'Password change' %}</h1>
    
    <div class="six centered">
    
    <form action="" method="post">
    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
    

            {% include 'form_snippet.html' %}
            {% csrf_token %}


    <button class="form-submit">
        <span>{% trans 'Change my password' %}</span>
    </button>
   
    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>    
    </form>
    </div>
    
    </div>
</div>
{% endblock %}