{% extends "base_home_internal.html" %} {% load i18n %}

{% block content %}
<div class="row">
    <div class="twelve column centered msg"  id="exito">

    <div class="msg-wrapper">
        <div class="msg-detail">
            <h4>Recuperar contraseña</h4>
            <p>Te hemos enviado las instrucciones sobre cómo establecer tu contraseña a la dirección de correo electrónico que ingresaste. <em>Las mismas llegarán en breve.</em></p>
        </div>
    
    
    </div>
    </div>
</div>
{% endblock %}