{% extends "base_home_internal.html" %} {% load i18n %}

{% block content %}
<div class="row">
    <div class="twelve column centered msg"  id="exito">

    <div class="msg-wrapper">
        <div class="msg-detail">
            <h4>Cambiar contraseña</h4>
            <p>Tu contraseña ha sido cambiada.</p>
            <a href="/cotizar" class="cotizar">Ir a cotizar</a>
        </div>
    
    
    </div>
    </div>
</div>
{% endblock %}