{% extends "base_home_internal.html" %} {% load i18n %}

{% block content %}
<div class="row">
    <div class="twelve column user-access">

    {% if validlink %}
    
    <h1>Cambiar Contraseña</h1>
    
    <div class="six centered">  
        <p>Ingresá por favor tu nueva contraseña dos veces y verificá que esté bien escrita.</p>
        
        <form action="" method="post">
            {% include 'form_snippet.html' %}
            {% csrf_token %}
        
            <button class="form-submit">
                <span>Cambiá tu contraseña</span>
            </button>
            
        </form>
    </div>
    {% else %}
    
    <h1>Recuperar Contraseña</h1>
    
    <div class="six centered">    
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    </div>
    {% endif %}
    
    </div>
</div>
{% endblock %}
