{% extends "base_home_internal.html" %} {% load i18n %}

{% block content %}
<div class="row">
    <div class="twelve column user-access">
    <h1>{% trans "Password reset" %}</h1>
    
    <div class="six centered">    
        <p>¿Olvidaste tu contraseña?. Ingresá tu dirección de correo electrónico y te enviaremos las instrucciones para establecer una nueva.</p>

        <form action="" method="post">

            {% include 'form_snippet.html' %}
            {% csrf_token %}

            <button class="form-submit">
                <span>Recuperar mi contraseña</span>
            </button>

        </form>
    </div>
    </div>
</div>
{% endblock %}