{% extends "base.html" %}

{% block content %}




 <div id="login" class="well">

<h3 class="title" align="left">Registraste a: {{usuario}}</h3>
<ul>


        
<li><a href="{% url adkiller.usuarios.views.register %}">Agregar otro usuario </a>
<br>
<li><a href="{% url adkiller.app.views.home %}"> Ir al Home </a>
</ul>
  </div>

{% endblock %}
