{% extends "base_home_internal.html" %}

{% load i18n %}
{% load style_forms %}
{% load widget_tweaks %}

{% block content %}
<div class="overlay">
    <h3 class="title">Registrate</h3>
    <div class="content">
        <a id="fb_connect" href="#">Registrate con tu cuenta de facebook</a>
        <form action="/cuentas/register/" method="post">
            <legend><span>o ingresa tu usuario y contraseña</span></legend>
            <input type="hidden" name="next" value="{{next}}" />
            {% include 'form_snippet.html' %}
            {% csrf_token %}
            <div class="four centered">
                <button class="button blue" type="submit">Ingresar</button>
            </div>
            <div id="forgot">¿Olvidaste la contraseña? <a href="/cuentas/password/reset">Click aquí</a></div>
        </form>
    </div>
</div>
{% endblock %}

{% block ajax_content %} 
<div class="overlay">
    <h3 class="title">Registrate</h3>
    <div class="content">
        <a id="fb_connect" href="#">Ingresá con tu cuenta de facebook</a>
        <form action="/cuentas/register/" method="post">
            <legend><span>o creá un usuario:</span></legend>
            <input type="hidden" name="next" value="{{next}}" />
            {% include 'form_snippet.html' %}
            {% csrf_token %}
            <div class="four centered">
                <button class="button blue" type="submit">Ingresar</button>
            </div>
            <div id="forgot">¿Olvidaste la contraseña? <a href="/cuentas/password/reset">Click aquí</a></div>
        </form>
    </div>
</div>
{% endblock %}