{% extends "base.html" %}

{% block content %}



<form method="POST">



  <div id="login" class="well">

      <h3 class="title">Ingresá los datos del Usuario</h3>
        <p>{{info}}</p>
        {% csrf_token %}
        {{form.as_p}}
     <button type="submit" class="btn btn-primary btn-large btn-block">Registrar</button>
  </div>
</form>

{% endblock %}
