{% extends "base_home_internal.html" %} {% load i18n %}

{% block content %}
<div class="row">
<div class="twelve column centered msg" id="logout">
    <div class="msg-wrapper">
        <div class="msg-detail">
        <h4>¡Gracias por registrarte con nosotros!</h4>
        Te hemos enviado un email para que actives tu cuenta. Mientras tanto,  <a href="/cotizar/">cotizá el seguro de tu auto</a>
        </div>
    </div>
</div>
</div>
{% endblock %}
