{% extends 'registration/base_landing.html' %}
{% block extra_head %}
	<link href="/static/home/css/footer_landing.css" rel="stylesheet">
{% endblock %}
{% block content %}
<img style="margin-left:300px;margin-top:10px;" src="{{STATIC_URL}}img/dispositivos.png">
<div id="login" style="text-align:center;">
    <h3 class="title" style="color:#ff0212;margin-top:-60px;padding:0px;margin-bottom:-15px;">ALERTA DESACTIVADA</h3>
    <h4 style="width:600px;margin-left:-100px;margin-bottom:0px;">La alerta de la búsqueda <b style="color:#ff0212">{{nombre}}</b> ha sido desactivada.</h4>
   <!-- <p style="margin-bottom:-0px;">Te contactaremos a la brevedad para activar tu demo</p>-->
</div>
{% endblock %}
