<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>InfoAD</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/font-awesome.css" rel="stylesheet">
	{% load statics %}
	<link href="{{STATIC_URL}}css/base.css?v={% random_tag %}" rel="stylesheet">

	<link href="{{STATIC_URL}}css/smoothness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">

	<script src="{{STATIC_URL}}js/graficos.js" type="text/javascript"></script>
	<link href="{{STATIC_URL}}css/fancybox/jquery.fancybox.css" rel="stylesheet">
	<!--<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tooltipster.css" />-->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tooltip-ui-custom.css" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


	<link href='{{STATIC_URL}}img/gral/favicon.ico' rel='shortcut icon' type='image/ico'/>

	<!-- Nuevoooo -->

	<script type="text/javascript" src="{{STATIC_URL}}calendar/js/jquery.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}calendar/js/datepicker.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}calendar/js/eye.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}calendar/js/utils.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}calendar/js/layout.js?ver=1.0.2"></script>
	<link rel="stylesheet" href="{{STATIC_URL}}calendar/css/datepicker.css" type="text/css"/>
	<link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}calendar/css/layout.css"/>
	<script type="text/javascript">
			{% if request.user.is_staff %}
				IS_STAFF = true;
			{% else %}
				IS_STAFF = false;
			{% endif %}
            $.ajaxSetup({cache: false});
		</script>

    <!--script src="{{STATIC_URL}}js/require-jquery.js" data-main="{{STATIC_URL}}js/adkiller" type="text/javascript"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require-jquery/0.25.0/require-jquery.js" data-main="{{STATIC_URL}}js/adkiller" type="text/javascript"></script>


	 {% block header %} {% endblock %}
</head>
<body>

	<!-- Modal Password -->
	<div id="myModal" class="modal hide fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel" style="float:left;">Cambiar Contraseña</h3>
		</div>
		<div class="modal-body" align="center">
			<p>
				Ingrese su password actual <input id="old_password" type="password">
			</p>
			<p>
				Ingrese su nuevo password <input id="password1" type="password">
			</p>
			<p>
				Confirme su nuevo password <input id="password2" type="password">
			</p>
			<p id="respuesta_change"></p>

		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" id="cambiarpassword">Guardar Cambios</button>
		</div>
	</div>

	<!-- Modal Searchs -->
	<div id="savesearch" class="modal hide fade" tabindex="-1" aria-hidden="true">
		<div class="modal-header">
			<button id="cerrarmodal" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Guardar la búsqueda actual</h3>
			<p>En esta sección, puedes guardar una selección de filtros predeterminada para poder recurrir a ella  en cualquier momento y crear alertas automáticas de comportamiento sobre tu búsqueda</p>
		</div>
		<div class="modal-body">
			<div class="alert alert-error">
				<button id="btn-close-msg" type="button" class="close" data-dismiss="alert">&times;</button>
				<div class="msg"></div>
			</div>
		<form action=".">
			<div class="form-item">
			<input type="text" name="nombre" id="namesearch" placeholder="Nombre de búsqueda..." maxlength="40">
			</div>

			<div class="form-item">
				<label class="checkbox myLabel"> <input name="alertar_producto" id="notice-producto" type="checkbox" value=""> Alerta Nueva Campaña </label>
				<label class="checkbox myLabel" id="labelModal"><input name="alertar" id="notice" type="checkbox"><span class="labelAlertas">Alerta de Comportamiento</span> </label>
			</div>

			<div id="notice-data">
					<div class="container form-item cont_modal" id="comparacion">
						<div class="row rowModal cont_modal">
							<div id="columna1">
								<select id="variableCompara" name="variable" class="selectInput">
									<option value="">Variable</option>
									<option value="cantidad">Cantidad (Anuncios)</option>
									<option value="inversion">Inversión ($)</option>
									<option value="volumen">Volumen (Segundos/cm<sup>2</sup>)</option>
								</select>


								<select id="periodoCompara" name="periodo" class="selectInput">
									<option value="">Periodo</option>
									<option value="mes">último mes</option>
									<option value="semana">última semana</option>
									<option value="dia">último día</option>
								</select>
							</div>
							<div id="columna2">
								<select name="seriea" id="nombre0" class="selectName">
								</select>
								<!--<input type="text" placeholder="Nombre 1" class="inpAler" id="nombre0" disabled name="nombre0">-->


								<select id="comparadorCompara" name="comparador" class="selectInput alt">
									<option value="">Valor</option>
									<option value=">">+ 20%</option>
									<option value=">">+ 40%</option>
									<option value=">">+ 60%</option>
									<option value=">">+ 80%</option>
									<option value="<">- 20%</option>
									<option value="<">- 40%</option>
									<option value="<">- 60%</option>
									<option value="<">- 80%</option>
								</select>
								<input type="text" name="variable_valor" id="valorCompara" placeholder="Ingrese %" class="inpAler alt alt2">


								<select name="serieb" id="nombre1" class="selectName">
								</select>
								<!--<input type="text" placeholder="Nombre 2" class="inpAler" id="nombre1" disabled name="nombre1">-->
							</div>
						</div>
					</div>



					<div class="form-item row-fluid" id="comportamiento">
						<!--<div class="span4 primerSpan">-->
							<select id="variable" name="variable">
								<option value="">Variable</option>
								<option value="cantidad">Cantidad (Anuncios)</option>
								<option value="inversion">Inversión ($)</option>
								<option value="volumen">Volumen (Segundos/cm<sup>2</sup>)</option>
							</select>
						<!--</div>
						<div class="span5 midSpan">-->
							<select id="comparador" name="comparador">
								<option value="">Opción</option>
								<option value=">">Mayor que</option>
								<option value="<">Menor que</option>
							</select>
							<input type="text" name="variable_valor" id="valor" placeholder="Ingrese valor">
						<!--</div>
						<div class="span3">-->
							<select id="periodo" name="periodo">
								<option value="">Periodo</option>
								<option value="mes">último mes</option>
								<option value="semana">última semana</option>
								<option value="dia">último día</option>
							</select>
						<!--</div>-->
					</div>



<!-- original  *************************************************************************************-->

			<!--<form action=".">
			<div class="form-item">
			<input type="text" name="nombre" id="namesearch" placeholder="Nombre de búsqueda...">
			</div>

			<div class="form-item">
				<label class="checkbox"> <input name="alertar_producto" id="notice-producto" type="checkbox" value=""> Alerta nueva campaña </label>
				<label class="checkbox"> <input name="alertar" id="notice" type="checkbox"> Alerta de Comportamiento </label>
			</div>

			<div id="notice-data">
				<div class="form-item row-fluid">
					<div class="span4">
						<select id="variable" name="variable">
							<option value="">Variable</option>
							<option value="cantidad">Cantidad (Anuncios)</option>
							<option value="inversion">Inversión ($)</option>
							<option value="volumen">Volumen (Segundos/cm<sup>2</sup>)</option>
						</select>
					</div>
					<div class="span5">
						<select id="comparador" name="comparador">
							<option value="menor">Menor que</option>
							<option value="mayor">Mayor que</option>
						</select>
						<input type="text" name="variable_valor" id="valor" placeholder="Ingrese valor">
					</div>
					<div class="span3">
						<select id="periodo" name="periodo">
							<option value="">Periodo</option>
							<option value="mes">último mes</option>
							<option value="semana">última semana</option>
							<option value="dia">último día</option>
						</select>
					</div>
				</div>
<!--
				<div class="form-item clearfix">
					<label class="checkbox"> <input name="variacion" type="checkbox"> Porcentaje de variación </label>
				</div>
-->
			<!--</div>
         </form>-->
<!--
				<div class="form-item clearfix">
					<label class="checkbox"> <input name="variacion" type="checkbox"> Porcentaje de variación </label>
				</div>
-->
			</div><!-- fin modal aleta por comportamineto -->
         </form><!--fin form .-->
		</div>
		<div class="modal-footer">
			<button data-dismiss="modal" class="btn btn-primary" id="salvarbusqueda">Guardar Cambios</button>
		</div>
	</div>

	<div class="ContHeader">

		<div class="Header">

			<!-- Barra de Busqueda -->
			<!--<div class="HzX67">-->
			<div class="top-search">
			  <img class="Logo" src="{{STATIC_URL}}img/logo-infoad.png" alt="AdBout"/>
			  <div id="autocomplete">
				<input type="text" placeholder="Buscar por marca, sector, medio o programa"/>
			  </div>
			</div>

			<!-- Ciudades, Fechas, Session -->
			<!--<div class="HzX32">-->
			<div class="top-controls">

			  	<div class="SpH" id="barra"></div>

			  	<!--<div class="HzX40">-->
					<div id="ciudad-dropdown2" class="BttH dropdown">
					  	<a   class="dropdown-toggle" data-toggle="dropdown" href="#">
					  		<span class="icon world"></span>
					  		Ciudad
					  		<span class="icon down"></span>
					  	</a>
					  	<ul class="dropdown-menu"></ul>
					</div>
				<!--</div>-->

			  	<div class="SpH"></div>

			  	<!--<div class="HzX50">-->
					<div title="Análisis de fechas"  id="date-controls" class="BttH _OpenCalendar">
						<span class="icon calendar"></span>
						<table width="92%">
							<tr>
								<td><div id="fechas_encabezado"></div></td>
							</tr>
						</table>
						<span class="icon down"></span>
					</div>

					<!-- seleccion de fecha -->
					<div class="BlockSelectDate">
						<div class="ArrowTop"></div>
						<div class="TitB ColorFontUser"> <b>An&aacutelisis de Fechas</b> </div>
						<div class="SpV01"></div>
						<div class="TextD">
							A trav&eacutes de esta herramienta usted puede ver estad&iacutesticas de una fecha en particular, o comparar dos per&iacuteodos diferentes sobre la misma actividad.
						</div>
						<div class="SpV20"></div>
						<div class="HzX48">
							<div class="HzDest ColorBackUser">
								<span class="TitD" style="color:#FFF"><b>Fecha o Per&iacuteodo </b></span>
							</div>
							<div class="SpV05"></div>

							<div class="HzX100">
								<select class="normalSelect">
									<option>Otro per&iacuteodo </option>
									<option>D&iacute;a anterior</option>
									<option>&Uacute;ltima semana</option>
									<option>&Uacute;ltimo mes</option>
									<option>&Uacute;ltimo a&ntilde;o</option>
								</select>
								<input id="visoractual" type="text" style="display:none;"></input>
								<input id="viendoperiodo" type="text" style="display:none;"></input>
							</div>

							<div class="SpV10"></div>

							<div class="HzX100">
								<div id="date4">
								</div>
								<!-- <div id="date3" > </div> -->
							</div>
						</div>

						<div class="HzX04">&nbsp;</div>

						<div class="HzX48">
							<div class="HzDest ColorBackUser">
								<label>
									<input type="checkbox" class="_CheckCalendar" style="float:left; margin:3px 5px 0 0;">
									<span class="TitD ColorBackUser" style="width:80%;"><b>Comparar con:</b></span>
									</input>
								</label>
							</div>
							<div class="SpV05"></div>
							<div class="HzX100">
								<select class="compararSelect">
									<option>Otro per&iacuteodo</option>
									<option>Per&iacuteodo anterior</option>
								</select>
								<input type="text" id="visorcomparador" style="display:none;"></input>
							</div>
							<div class="SpV10"></div>
							<div class="HzX100">
								<span id="overcalendario" class="OverCalendar"></span>
								<div id="date3">
								</div>
							</div>
						</div>

						<div class="SpV10"> </div>
						<div class="SpVLine"> </div>
						<div class="SpV10"> </div>
						<a href="#" class="BttGA ColorBackUser _fechas">Aplicar</a>
						<a href="#" class="BttGA ColorBackUser _CancelCalendar">Cancelar</a>

					</div>
			  	<!--</div>-->

			  	<div class="SpH"></div>

			  	<div id="user">
				  	<div id="user_div" class="BttH In _ShowSessionUser">
						<span title="Opciones de usuario" class="icon user"></span>
						<table width="92%">
							<tr>
								<td><div id="nombre_usuario"></div></td>
							</tr>
						</table>
					</div>
						<ul class="OverCerrarSession dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
					  		<li><a id="change-password" href="#myModal" data-toggle="modal" class="linkMenu cierraLink" ><img src="{{STATIC_URL}}/img/cambiar-contrasena.png" class="alt"/>Cambiar Contraseña</a></li>
					  		<li class="divider"></li>
					  		<li><a id="pie-toggle" href="#" class="linkMenu cierraLink" ><img src="{{STATIC_URL}}/img/torta.png" class="alt"/>Ver gráficos de torta</a></li>
	    					<li><a id="export-excel" href="/app/export_emisiones/" class="linkMenu cierraLink"><img src="{{STATIC_URL}}/img/excel.png" class="alt"/>Descargar Excel</a></li>
	    					<!--<li><a id="export-pdf" href="/informes/obtener_pdf/" title="Exportar a PDF">Exportar a PDF</a></li>-->

                            {% if isDTV %}
                                <li><a id="export-dtv" href="/app/export_dtv/" class="linkMenu cierraLink"><img src="{{STATIC_URL}}/img/excel.png" class="alt"/>Descargar DTV</a></li>
                            {% endif %}

							<li><a id="save-search" href="#savesearch" data-toggle="modal" class="linkMenu cierraLink" ><img src="{{STATIC_URL}}/img/guardar-busqueda.png" class="altGuardaBusqueda"/>Guardar búsqueda</a></li>
					  		<li class="divider"></li>
					  		<li><a id="logout" href="/accounts/logout" class="linkMenu"><img src="{{STATIC_URL}}/img/cerrar.png" class="alt"/>Salir</a></li>
				  		</ul>


				</div>
			</div>

		</div>

	</div>


	<!-- Loader -->
	<!--<div class="OverLoad">-->
	  <div class="Loader"></div>
	<!--</div>-->

	<!-- Contenedor general del sitio -->
	<div class="WebGral">

	  <div class="container-fluid">

		<div id="main" class="row-fluid">
		   {% block content %} {% endblock %}
		</div>
	<!--
		<footer>
			<hr>
			<p>AdBout 2013</p>
		</footer>
	-->
	  </div>
	  <!-- /container -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    if (window.google !== undefined ) {
      google.load('visualization', '1', {packages: ['corechart']});
    }
    </script>
    {# include 'charts.html' #}
    {% block scripts %} {% endblock %}
	</div>

	<!-- Cierre WebGral -->

    <script type="text/javascript">
	require.config({
	    urlArgs: "bust=" + (new Date()).getTime(),
	    baseUrl: '{{STATIC_URL}}js/',
	    paths: {
	    	waypoints : 'waypoints.min'
	    }
	});
	</script>
	{% include 'autocomplete_light/static.html' %}

	<!-- Export to excel -->
	<!-- Modal -->
	<div id="excel-modal" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3>Generando exportación</h3>
		</div>
		<div class="modal-body">
            <p><img src="{{ STATIC_URL }}img/loader.gif" width="50"></p>
			<p><strong>Esta acción puede tardar varios minutos.</strong></p>
            <p><button type="button" class="btn btn-danger cancel">Cancelar Operacion</button></p>
		</div>
	</div>
	<!-- <iframe id="downloadFrame" style="display:none"></iframe> -->
	<!--<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tooltipster.min.js"></script>

	<script>
    	$("[title]").tooltipster({
            position: 'bottom',
            delay: 0,
            speed: 800,
	    	onlyOne: true
        });
    </script>-->

    <!--script src="/static/js/jquery-2.1.1.min.js"></script-->

    <script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/limitChar.js"></script>
    <script type="text/javascript">
		$(function() {
            $( document ).tooltip({
            	position: {
                using: function( position, feedback ) {
                $( this ).css( position );
                $( "<div>" )
                    .addClass( "arrow" )
					.addClass( feedback.vertical )
                    .addClass( feedback.horizontal )
                    .appendTo( this );
                       }
                     }
                   });
                });

                var settingsMenu = $('ul.dropdown-menu');

               {% if request.user.is_staff %}
                       $('#barra').css('margin-left','-75px');
                      $('#ciudad-dropdown2').css('margin-left','-70px');
                      $('#user_div').css('width','80px');
                       $('#nombre_usuario').text('{{request.user}}');
                   settingsMenu.css('right', '-84px');
               {% else %}
                   settingsMenu.css('right', '-4px');
               {% endif %}
	</script>
</body>
</html>
