
      <script type="text/javascript" src="http://www.google.com/jsapi"></script>
      <script type="text/javascript">
        google.load('visualization', '1', {packages: ['corechart']});
        google.setOnLoadCallback(drawChart);
      </script>
      <script type="text/javascript">
        function drawChart() {
        
    
          $.getJSON("/app/graph",function(data){          
            drawMain(data[0], data[1], data[2], data[3]);
          });

          $.getJSON("/app/options/?data=soporte&limit=3",function(data){          
            drawPie(data[0], 'soporte_chart');
          });

          $.getJSON("/app/options/?data=medio&limit=3",function(data){          
            drawPie(data[0], 'medio_chart');
          });

          $.getJSON("/app/options/?data=sector&limit=3",function(data){          
            drawPie(data[0], 'sector_chart');
          });
        };

       //google.setOnLoadCallback(drawMain);
      </script>
