<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Control de Tandas</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script>
            $(function() {
                $('#datepicker').datepicker({dateFormat: "yy-mm-dd"});
            });
        </script>
        <script>
            function validar(form)
            {
                var str = form.cantidad.value
                var n = ~~Number(str);
                var es_numero = String(n) === str && n >= 0;
                if (!es_numero)
                {
                    alert("El campo 'Cantidad de Tandas' debe ser un número entero positivo.");
                }
                return es_numero;
            }
        </script>
        <style>
            #lista_tanda{
                padding: 10px 5px;
            }
            body {
                font-family: arial;
                padding: 0% 5%;
                margin: 0 5%;
            }
            #form {
                background-color: #EEEEEE;
                padding: 2% 5%;
            }
            #marca {
                font-weight: bold;
                font-size: 1.2em;

            }
            #producto {
                font-size: 0.9em;

            }
            #link {
                font-size: 1.1em;
                font-weight: bold;

            }

        </style>
    </head>
    <body>
        <h1><center>Control de tandas</center></h1>
        <div id="form">
        <form name="tandas" action="control_de_calidad" method="POST" onsubmit="return validar(this)">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Fecha:</td><td><input type="text"
                        name="fecha" id="datepicker" placeholder="YYYY-MM-DD"
                        value="{{ fecha }}"></td>
                </tr>
                <tr>
                    <td>Server:</td><td>
        <select name="servidor">
            {% for s in servidores %}
                <option value="{{ s }}"
                {% ifequal servidor s %}
                    selected='selected'
                {% endifequal %}
                >{{ s }}</option>
            {% endfor %}
        </select></td>
                </tr>
                <tr>
                    <td>Cantidad de tandas:</td><td><input type"text"
                        value="{{ cantidad }}"
                        name="cantidad"></td></tr>
                <tr><td></td><td>
        <input type="submit" value="Filtrar">
        </td></tr>
    </table>

        </form>
        </div>
        {% if error %}
            <div id="error">
                <p>{{ error }}</p>
            </div>
        {% endif %}
        {% if disponibles %}
            <p>Mostrando {{ cantidad_mostrada }} tanda(s) de {{ disponibles }}</p>
        {% endif %}
        {% if tandas %}
            <h2>Tandas</h2>
            <ul>
            {% for t in tandas %}
            <li id="lista_tanda"><a href="http://{{ url_tandas }}{{ t.origen }}" target="_blank"><span id="link">{{ t.origen }}</span></a></li>
                <ul>
                {% for e in t.emisiones %}
                <li><span id="marca">{{ e.producto.marca }}</span> | <span id="producto">{{ e.producto }}</span></li>
                {% endfor %}
                </ul>
            {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
