<html>
<head>
<TITLE>Estado Server</TITLE>

<script type="text/javascript">
function toggleSlide ( id ) {
    for ( var f = 1; f <= 1000; f ++ ) {
        if ( node = document.getElementById(f) ) {
            if ( f == id ) {
                node.style.display = 'block';
            } else {
                node.style.display = 'none';
            }
        }
    }
}
</script>
<style type="text/css">
div {
    width : 100%; height : 75%; overflow : auto; display: none;
}
td {
    width : 20; height : 10;
}
table{
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}
td,th {
    border: 1px solid black;
    overflow: hidden;
    width: 50px;
}
</style>


{% for server in servers%}
    {% if server.automatico%}
        <A href="http://adbout.com/estado_server/{{server.nombre}}/">{{server.nombre}}</A>
    {% endif %}
{% endfor %}
<h1>Estado Server</h1>
<table cellpadding="5">
<tr>
{% for canal in canales %}
    <td style="width:100px;"><a href="javascript:" onclick="toggleSlide('{{canal.id}}')" title="{{canal.medio}}">{{canal.medio}}</a></td>
{% endfor %}
</tr>
</table>
<table border="1", cellpadding="5">
<tr>
<th>Hora</th>
{% for dia in dias %}
    <th colspan=2 style= "width:114px;">{{dia}}</th>
{% endfor %}
</tr>
</table>
{% for canal in canales %}
    <div id="{{canal.id}}">
    <table border="1", cellpadding="5">
    {%for tanda in canal.tandas%}
        <tr>
        <td>{{tanda.hora}}</td>
        {%for tanda_hora in tanda.tandas_hora%}
        <td bgcolor={{tanda_hora.color}} width="7%", height="5">{{tanda_hora.ubicacion}}</td>
        <td bgcolor=white width="20", height="5">{{tanda_hora.analizado}}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    </div>
{% endfor %}
</div>

</body>
</html>