{% extends 'base.html' %}

{% block content %}

<!-- Sidebar -->

<div id="sidebar" class="span3">
  
  <!--<ul id="_busquedas" class="busquedas"></ul>-->

  <div id="filter-options"></div>
  {% if request.user.is_staff %}
<hr>
<div class="contForms">
<!-- conatiner enviar-->
  <div  id="form-package" class="conatiner myContainer">
    <div class="row">
      <div class="col-md-12">
          <form method="post" role="form" class="myForms">
          {{ package_form.as_p}}
          {% csrf_token %}
          <input type="submit" name="package" value="Enviar" class="btn btn-primary">

        </form>
      </div>
    </div>
  </div>
<!--fin container enviar-->
<!-- container clonar-->
  <div  id="form-clone">
    <div  id="form-package" class="conatiner myContainer">
      <div class="row">
        <div class="col-md-12">
          <form method="post" class="myForms" role="form">
            {{ clone_form.as_p}}
            {% csrf_token %}
            <input type="submit" name="clone" value="Clonar" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- fin container clonar-->

<!-- conatiner crear usuario-->
  <div id="form-create-user">
      <a href="/accounts/register" class="btn btn-info btn-block">Crear Usuario</a>
  </div>
<!-- fin container crear usuario-->
</div>
  {% endif %}
</div>

<!-- Main Content -->
<div id="content" class="span9">
<div class="row-fluid">


<!-- Control Nav -->

</div>


{% block main_content %}
{% endblock %}

</div>


{% endblock %}