<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Horarios{% if medio %} | {{ medio }} {% endif %}</title>
        <style>
		li {
			margin-top: 15px;
                        list-style-type: none;
		}
		a:link {
			color: black;
		}
		a:visited {
			color: black;
		}
		a:active {
			color: black;
		}
		a:hover {
			text-shadow: 1px 1px 2px #ff0000;
		}
		.horario {
			background-color: #CCC;
			border-radius: 7px;
			padding: 3px;
		}

		.nombre {
			padding-left: 10px;
                }
		.migrado {
			padding-left: 10px;
			font-size: 0.7em;
			position:absolute;
			right:15%;
                }
		.tarifa {
			padding-left: 10px;
			font-size: 0.8em;
			position:absolute;
			right:35%;
                }
		.content{
			margin-left: 10%;

		}
		h3 {
			margin-top: 50px;

		}
		body  {
			font-family: arial;
		}
        </style>
        <!-- Datepicker -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script>
            $(function() {
                $('#datepicker').datepicker({dateFormat: "yy-mm-dd"});
            });
        </script>
    </head>
    <body>
        <div id="form">
            <h1><center>Horarios {% if medio %} {{ medio }} {% endif %}</center></h1>
            {% if fecha and not error %}<p><center>vigentes al {{ fecha }} </center></p>{% endif %}
        <form name="tandas" action="horarios" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Fecha:</td>
                    <td>
                        <input type="text" id="datepicker"
                        placeholder="YYYY-MM-DD"
                        name="fecha" value="{{ fecha }}">
                    </td>
                </tr>
                <tr>
                    <td>Medio:</td><td>
                        <select name="medio">
                            {% for m in medios %}
                            <option value="{{ m.nombre }}" {% ifequal medio m.nombre %} selected='selected' {% endifequal %} >{{ m.nombre }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="submit" value="Mostrar"></td>
                    </tr>
            </table>
        </form>
        </div>
        {% if error %}
            <div id="error">
                <p>{{ error }}</p>
            </div>
        {% endif %}
	<div class='content'>
    {% if dias_y_horarios %}
        {% for dia in dias_y_horarios %}
            <h3>{{ dia.nombre }}</h3>
            <ul>
            {% for horario in dia.horarios %}
                <li><span class='horario'>
                    {{ horario.hora_inicio }} a
                    {{ horario.hora_fin }}
                                </span>
                                <span class='nombre'>
                    <a title="Editar este horario" href="{{ horario.link }}" target="_blank">{{ horario.nombre }}</a>
                                </span>
                    <span class='migrado'>
                    (Migrado: {{ horario.fecha_alta }})
                        </span>
                    <span class='tarifa'>
                    {{ horario.tarifa }}
                        </span>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
	</div>
    </body>
</html>
