{% extends 'registration/base_landing.html' %}
{% block extra_head %}
	<script src="/static/home/js/jquery-1.10.2.min.js"></script>
	<script src="/static/home/js/bootstrap.min.js"></script>
	<script src="/static/home/js/jquery.easing.min.js"></script>
	<script src="/static/home/js/scrollIt.min.js"></script>
	<script src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
	<script src="/static/home/js/infoad.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26916728-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<link href="/static/home/css/infoad.css" rel="stylesheet">
	<style>
		h3 {
			color:#ff0212;
			margin-top:-70px;
			margin-bottom:-15px;
		}
		h5{
			margin-left: 70px;
			margin-bottom: -15px;
		}
		#contacto {
			margin-left:50px;
		}
		#nombre, #telefono, #email, #empresa {
			width: 260px;
			height: 30px;
			border-radius: 0px;
		}
		#nombre {
			border-radius: 0px;
		}
		#login {
			text-align:left;
		}
		.title {
			margin-bottom: -20px;
		}

	</style>
{% endblock %}
{% block content %}
<img style="margin-top:0px;margin-left:300px;" src="{{STATIC_URL}}img/dispositivos.png">
<div id="login">
    <h3 class="title">SOLICITAR PROPUESTA</h3>
    <h5>Ingresa tus datos a continuación para</h5>
	<h5>recibir una propuesta a medida</h5>
	<h5 style="margin-bottom:10px;">de las necesidades de tu compañía.</h5>
	
	<div id="contacto">
		<!-- Salesforce -->
		<form data-type="contacto" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8">
			<input type=hidden name="oid" value="00DA0000000bSNv">
			<input type=hidden name="retURL" value="http://www.infoxel.com/">
			<input style="width: 260px;height: 30px;" type="text" name="first_name" class="nombre" id="nombre" placeholder="Nombre" data-toggle="tooltip" title="campo requerido" data-required="true">				
			<input style="width: 260px;height: 30px;" type="text" name="company" class="empresa" id="empresa" placeholder="Empresa">				
			<input style="width: 260px;height: 30px;" type="text" name="phone" class="tel" id="telefono" placeholder="Teléfono">				
			<input type="email" name="email" class="email" id="email" placeholder="Email" data-toggle="tooltip" title="campo requerido" data-required="true">
			<input type="hidden" id="country" name="00NA0000004rghJ">

			<div class="msg-box"></div>

			<input onClick="_gaq.push(['_trackEvent', 'consulta', 'solicitar', 'propuesta']);" style="margin-top: 5px;margin-right:20px;" type="submit" value="Solicitar" class="submit">

		</form>
	</div>
	
</div>
{% endblock %}
