<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link href="{{settings.PDF_CSS}}" rel="stylesheet">
    </head>

    <body>
        <div id="periodos">
            <span class="left">{{nombre_informe}}</span>
            <span class="middle">{% if ciudad %}Plaza {{ciudad}}{% else %}{% if ciudades %}Plazas: {{ciudades}}{% else %}Todas las plazas{% endif %}{% endif %}</span>
            <span class="right">{{fecha_desde}} - {{fecha_hasta}}</span>
        </div>

        {% if filtros %}
        <div id="filtros-seleccionados">
            {% for filtro,value in filtros.items %}
                {% for aux_filtro in value %}
                    <span class="filtro">{{aux_filtro.0}}</span>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}

        <div id="main-graph"> <img src={{grafico}} alt="" /> </div>

        <div id="tabs">
            <div id="cantidad" class="tab {% if unidad == 'cantidad'%} active{% endif %}">
                <span class="numero">{{cantidad.0}}</span> Emisiones
            </div>
            <div id="inversion" class="tab {% if unidad == 'inversion' %} active{% endif %}">
                <span class="numero"> {{inversion.0}}</span> Inversión Bruta
            </div>
            <div id="volumen" class="tab {% if unidad == 'volumen' %} active{% endif %}">
                <span class="numero">{{volumen.0}}</span> Segundos/cm<sup>2</sup>
            </div>
        </div>

        {% if perfil.tortas_visibles %}
        <div id="pies">
            <div class="pie-chart"> <img src={{torta_producto}} /> </div>
            <div class="pie-chart"> <img src={{torta_marca}} /> </div>
            <div class="pie-chart"> <img src={{torta_sector}} /> </div>
        </div>
        {% endif %}


        <div id="producto" class="filters-block clearfix">

            {% for producto,thumb in productos %}
            <div class="producto-container">
                <div class="producto">
                    <a class="video-thumb overlay fancybox.iframe" href="{{thumb}}">
                        <div class="video-thumb" id="spots22" style="background-image:url({{thumb}});" width="150"></div>
                    </a>
                    <a class="data-filter" href="#" data-filtro="producto">
                        <div class="nombre">{{producto.item}}</div>
                        <div class="producto-marca" style="margin-top:3px;">Marca: <b>{{producto.marca}}</b></div>
                        <div class="producto-anunciante"></div>
                        <div class="producto-valor" style="margin-top:3px; font-size=5px;">{{producto.valor}}</b>
                            {% if unidad == 'cantidad' %} Emisiones {% endif %}
                            {% if unidad == 'inversion' %} Inversión Bruta {% endif %}
                            {% if unidad == 'volumen' %} Segundos/cm<sup>2</sup>{% endif %}
                        </div>

                        {% if producto.subio %}
                            <img src="http://clips.adbout.com:8080/multimedia/adbout/down.gif">
                        {% else%}
                            <img src="http://clips.adbout.com:8080/multimedia/adbout/up.gif">
                        {% endif %}
                        <span class="porcentaje" style="color: #6B6B6B;font-size: 10px;">{{producto.porcentaje}}%</span>
                        <!--<span style="color: #6B6B6B;font-size: 10px;">{{producto.antes}}%</span>-->
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

    <div id="filter-options">
        <div class="column">
        {% for opciones,titulo in elegidos %}
            {% if opciones%}
            <div class="filters-block">
                <h4 class="filter-title">
                <a class="collapse" data-filtro="{{titulo}}" >{{titulo}}</a></h4>

                <ul style="display: block;">
                    {% for opcion in opciones%}
                    <li class="clearfix">
                        <div class="nombre">
                            <a class="data-filter" href="#" data-filtro="medio" data-value="1" title="">{{opcion.item}}</a>
                        </div>
                        <div class="estadistica">
                            <span class="absoluto">{{opcion.absoluto_acotado}}</span>
                            <div style="float:left; width:25%; margin:3px 2% 0 1%; background:#DDD; border-radius:3px;">
                                <span class="barra" style="width: {{opcion.int_porcentaje_relativo}};"></span>
                            </div>
                            <span class="porcentaje">{{opcion.porcentaje}}%</span>
                            {% if opcion.subio %}
                                <img src="http://clips.adbout.com:8080/multimedia/adbout/down.gif">
                            {% else%}
                                <img src="http://clips.adbout.com:8080/multimedia/adbout/up.gif">
                            {% endif %}
                            <span style="color: #6B6B6B;font-size: 10px;">{{opcion.antes}}%</span>
                        </div>
                    </li>
                    {% endfor%}
                </ul>
            </div>
            {% endif %}

        {% if forloop.counter == elegidos_count_half %}
        </div> <!-- Primera Columna -->
        <div class="column last"> <!-- Segunda Columna -->
        {% endif %}

        {% endfor%}
        </div>
    </div>

    <div class="footer">Reporte generado automáticamente por InfoAD - Todos los derechos reservados. Prohibida su difusión o copia. Uso interno exclusivamente.</div>

    </body>
</html>