<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Reporte de Tandas No Procesadas</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <style>
        /* IE has layout issues when sorting (see #5413) */
        .group { zoom: 1 }
    </style>
    <style>
        #header {
            font-family: Verdana,Arial,sans-serif;
            text-align: center;
        }
        
        
        .celda {
            border:1px solid;
            padding: 3px;
            margin: 0px;
        }
    </style>
    
</head>
<body>

    <div id='header'>
        <h1>Reporte de Tandas No Procesadas de {{medio}} al {{dia}}</h1>
    </div>

    <table>
        {% for tanda in tandas %}
            <tr>
                    <td class="celda">
                        {{ tanda}}
                    </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
