<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Reporte de Tiempos de Procesamiento</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <style>
        /* IE has layout issues when sorting (see #5413) */
        .group { zoom: 1 }
    </style>
    <style>
        #header {
            font-family: Verdana,Arial,sans-serif;
            text-align: center;
        }
        
        .incompleta {
            background-color: #FF5050;
        }
        
        
        .completa {
            background-color: #50FF50;
        }
        
        .celda {
            border:1px solid;
            padding: 0px;
            margin: 0px;
        }
    </style>
    
</head>
<body>

    <div id='header'>
        <h1>Reporte de Tiempos de Procesamiento</h1>
    </div>

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Aceptar" />
    </form>

    <br/>

    <table>
        <tr>
            <th></th>
            {% for d in dias %}
                <th class="celda">{{d}}</th>
            {% endfor %}
        </tr>
        {% for medio in tiempos %}
            <tr>
                {% for tiempo in medio %}
                    <td class="celda">
                        {% if tiempo = '' %}
                            &nbsp;
                        {% else %}
                            {% if tiempo.0 %}
                                <div class="completa">{{tiempo.1}}</div>
                            {% else %}
                                <div class="incompleta">{{tiempo.1}}</div>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
