{% extends 'home.html' %}
{% block main_content %}

<div id="display">

    <div id="filtros-seleccionados">
        <div class="applied-filters"></div>
        <a id="marcadorOtrasMarcas"><i class="icon-remove"></i> Cobranding</a>
        <a id="reset" class="actions myActionsIcon" href="/app/reset_filters" title="Deshacer Todo"><i class="fa fa-times"></i></a>
        <a id="save-search" class="actions iconMySaveSearch" href="#savesearch" data-toggle="modal" title="Guardar Búsqueda"><img src="/static/img/guardar-busqueda.png"></a>
        <!--<div class="btnDespliega">
            <i id="leftChevron" class="fa fa-chevron-left"></i>
            <i id="rightChevron" class="fa fa-chevron-right"></i>
        </div>-->
    </div>

    <div class="indicator"></div>

    <div id="main_chart">

    </div>

    <div id="divisor">
        <a title="Seleccionar unidad" href="#" id="cantidad" class="TabRes">
            <span class="NumeroResumen" id="cantidad_anuncios"></span>
            <span id='vs_anuncios'></span> Anuncios </a>
        <a title="Seleccionar unidad" href="#" id="inversion" class="TabRes">
            <span class="NumeroResumen" id="cantidad_inversion"></span>
            <span id='vs_inversion'></span>  Inversión Bruta </a>
        <a title="Seleccionar unidad" href="#" id="volumen" class="TabRes">
            <span class="NumeroResumen" id="cantidad_segundos"></span>
            <span id='vs_seg'></span> Segundos/cm<sup>2</sup> </a>
    </div>

    <div id="pie_charts" class="clearfix">
        <div id="soporte_chart" class="pie"></div>
        <div id="medio_chart" class="pie"></div>
        <div id="sector_chart" class="pie"></div>
    </div>
    <!-- Lista de productos con thumbs -->
    <div id="producto" class="filters-block clearfix">
        <div class="indicator"></div>
        <div class="producto-container"></div>
    </div>

    <!-- a href="/app/comparar_fechas/" title="comparar por Fechas" class="btn btn-mini" style="float: right; margin: 0 10px 10px 0;"><img width="16" src="{{STATIC_URL}}graficos/varios.gif" /></a -->

    <table id="myTable" class="table table-bordered table-hover grilla infinite-container" style="margin-top:18px;">
        <thead>
            <th width="70"><i class="icon-film"></i> - <i class="icon-volume-down"></i></th>
            <th class="tablecol-brand-product">Marca / Productos</th>
            <th><i class="icon-time"></i></th>
            <th class="tablecol-media-program">Medio / Programa</th>
            <th>Fecha y Hora</th>
            <!--<th>Ord</th>-->
            <th>Valor</th>
        </thead>
        <tbody></tbody>
    </table>

</div>
<!-- right side bar -->
    <div id="rightSidebar">
        <div id="misBusquedas">
            <span id="tituloMisBusquedas"><img src="/static/img/guardar-busqueda.png"/>Mis búsquedas</span>
            <ul id="busquedasAlertas" class="busquedas"></ul>
            <div class="contIconsPlusMinus">
                <i class="fa fa-plus-circle fa-lg" title="Ver Mas Búsquedas" id="btnMas"></i>
                <i class="fa fa-minus-circle fa-lg" title="Ocultar Búsquedas" id="btnMenos"></i>
                <a id="agregaBusqueda" href="#savesearch" data-toggle="modal">Agregar</a>
            </div>

        </div>
        <hr id="divideBusquedasyTags">
       <div id="right-filter-options">
       </hr class="tagsDivider">
        <div class="tituloPrincipalEtiquetas">
            <i class="fa fa-tags"></i><span class="titulodeetiquetas">Etiquetas</span>
        </div>
       </div>
       <div id="contSecundariasCheck">
           <span id="btnSecundarias">Cobranding</span>
           <input id="inputSecundarias" type="checkbox">
           <!--<span id="labelSecundarias">Marcas secundarias</span>-->
       </div>
    </div><!-- fin right side bar -->
{% endblock %}
