{% extends 'registration/base_landing.html' %}
{% block extra_head %}
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26916728-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<link href="/static/home/css/footer_landing.css" rel="stylesheet">
{% endblock %}
{% block content %}
<img style="margin-left:300px;margin-top:10px;" src="{{STATIC_URL}}img/dispositivos.png">
<div id="login" style="text-align:center;">
    <h3 class="title" style="color:#ff0212;margin-top:-60px;padding:0px;margin-bottom:-15px;">GRACIAS</h3>
    <h4 style="width:600px;margin-left:-100px;margin-bottom:0px;">POR TU INTERÉS EN NUESTRA HERRAMIENTA!</h4>
    <p style="margin-bottom:-0px;">Te contactaremos a la brevedad para activar tu demo</p>
	<p>y ofrecerte una propuesta de servicio.</p>
	<!--<img src="{{STATIC_URL}}img/tv.png">
	<img src="{{STATIC_URL}}img/diario.png" style="margin-left:-15px;margin-right:-15px;">
	<img src="{{STATIC_URL}}img/radio.png" style="margin-top:-8px;">-->
</div>
{% endblock %}
