<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Simpsons</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        /* IE has layout issues when sorting (see #5413) */
        .group { zoom: 1 }
    </style>
    <style>
        #header {
            font-family: Verdana,Arial,sans-serif;
            text-align: center;
        }
    </style>
    <script>
        $(function() {
            $( "#accordion" )
                .accordion({
                    header: "> div > h3",
                    collapsible: true,
                    active: false,
                    heightStyle: "content",
                    })
                .sortable({
                    axis: "y",
                    handle: "h3",
                    stop: function( event, ui ) {
                        // IE doesn't register the blur when sorting
                        // so trigger focusout handlers to remove .ui-state-focus
                        ui.item.children( "h3" ).triggerHandler( "focusout" );
                    }
                });
        });
    </script>
</head>
<body>
    <div id='header'>
        <h1>Servidores</h1>
    </div>
    <div id="accordion">
        {% for server in servers %}
            <div class="group">
                <h3>{{ server.nombre }}</h3>
                <div>
                    {% if corte in server.roles.all %}
                        <p><a href="http://{{ server.url_completa }}/adtrack/cortar_incluyendo_automaticas.php" target="blank">Cortador manual</a></p>
                        <p><a href="http://{{ server.url_completa }}/infoxel/publicidades/views/home.php" target="blank">Cortador autom&aacute;tico</a></p>
                        <p><a href="http://{{ server.url_completa }}/infoxel/publicidades/views/control.php" target="blank">Control cortador autom&aacute;tico</a></p>

                    {% endif %}
                    {% if deteccion in server.roles.all %}
                        <p><a href="http://{{ server.url_completa }}/adtrack/unk.php" target="blank">unk</a><p>
                        <p><a href="http://{{ server.url_completa }}/adtrack/unk2.php" target="blank">unk2</a></p>
                        <p><a href="http://{{ server.url_completa }}/adtrack" target="blank">adtrack</a></p>
                    {% endif %}
                    {% if grabacion in server.roles.all %}
                        <p><a href="http://{{ server.url_completa }}/control_de_material/tabla.php" target="blank">Control de material</a></p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
