{% extends "admin/base_site.html" %}
{% load i18n l10n %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    
    <div>

    {% for obj in queryset %}
    <input type="hidden" name="{{action_checkbox_name}}" value="{{obj.pk|unlocalize}}" />
    {% endfor %}

    <select type="select" name="correcto">
        <option value="">Elegir el registro correcto</option>
        {% for obj in queryset %}
        <option  value="{{ obj.pk|unlocalize }}">{{obj}} ({{obj.datos_para_unificar}})</option>
        {% endfor %}
    </select>
    
    <input type="hidden" name="action" value="unificar" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="Aceptar" />
    </div>
</form>
{% endblock %}
