<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>InfoAD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link href='{{STATIC_URL}}img/gral/favicon.ico' rel='shortcut icon' type='image/ico'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require-jquery/0.25.0/require-jquery.js" type="text/javascript"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style type="text/css">

        body{
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            background-color:#ddd;
        }
        .box-wrapper{
            position: relative;
            background: #f9f9f9;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            width: 550px;
            margin: 20px auto;
            box-shadow: 0 2px 4px rgba(0,0,0,0.3);
            border: 1px solid #eee;
            border-radius: 4px;
            transition: all 0.3s ease-out;
            text-decoration: none;
        }
        .box-header{
            color: #FFF;
            font-size: 19px;
            text-align: left;
            background:#069;
            padding:8px 15px;
            border-bottom: 1px solid rgba(0,0,0,0.20);
        }
        .box-content{
            padding:15px;
        }
        .emision-nombre{
            font-weight: bold;
            display: block;
            color: #222;
            margin-top: 20px;

        }
        .emision-marca{
            margin-top: 3px;
            color: #222;
            font-size: 14px
        }
        .video-loading{
            padding:15px;
            position: relative;
            margin: auto;
            width: 100px;
        }
        #btn-download{
            text-align: center;
            margin: auto;
            display: none;
        }
        #text-manual-download{
            display: none
        }
        .icon-download{
            float: left;
            color: white;
            font-size: 19px;
            margin-top: 8px;

        }
        #box-header-text{
            position: relative;
            left: 5px;
        }
        #box-header-subtext{
            font-size: 12px;
        }
    </style>

</head>
<body>
<div class='box-wrapper'>
    {% if error == 0 %}
    <div class='box-header'>
        <i title="Descargar archivo" class="fa fa-download fa-lg icon-download"></i>
        <div id="box-header-text">
          Se está generando el video.
        </div>
        <div id="box-header-subtext">
          Esta acci&oacute;n puede tomar varios minutos.
        </div>

    </div>
    {% else %}
        {% if fallback_url %}
            <div class='box-header'>
                <i title="Descargar archivo"class="fa fa-download fa-lg icon-download"></i>
                <div id="box-header-text"> Se está generando el video.</div>
            </div>
              <a id="btn-download" href="{{ fallback_url }}" target="_blank" download="{{ fallback_url }}"> <button class='btn btn-default'> Descargar </button></a>
        {% else %}
          <div class='box-header'>
            <i title="Descargar archivo"class="fa fa-download fa-lg icon-download"></i>
            <div id="box-header-text">Video no disponible.</div>
        </div>
        {% endif %}
    {% endif %}
    <div class='box-content'>
        {% if error == 0 or fallback_url %}
        <div class='video-loading' id="video_loading">
            <img src="../../static/img/ajax-loader-video.gif" >
        </div>

        <div id='text-manual-download'>El archivo se está descargando automáticamente. Si no descargó, puede hacerlo de forma manual con el siguiente botón.</div>

        <a id="btn-download" href="{{result.url}}" target="_blank" download="{{result.url}}"> <button class='btn btn-default'> Descargar </button></a>

        {% endif %}
        <div class='emision-nombre'>
            {{emision_nombre}}
        </div>
        <div class='emision-marca'>
            {{emision_marca}}
        </div>
    </div>
</div>

  <script type='text/javascript'>
        function conviene_esperar(data) {
            // recibo un diccionario como el que devuelve
            // http://welo.tv/get_clip_and_audio_data/2e65/
            // y decido si aún es recomendable esperar más
            // la creación del clip pedido
            var file_is_ready = (data.is_video != 'FileNotFound');
            // console.log('file is ready: ' + file_is_ready);
            if (file_is_ready) {
                return true;
            }
            if (data.processor_data.status != 'DoesNotExist') {
              // ver si existen los sources en la procesadora
              var sources = data.processor_data.sources;
              for (var i = 0; i < sources.length; i++) {
                  if (sources[i]['location'] == 'FileNotFound') {
                      // console.log('Falta un origen');
                      // console.log('Returning false');
                      return false;
                  }
              }
              var fecha_hora = data.processor_data.creation_time.split(' ');
              var creation_time = new Date(fecha_hora[0] + 'T' + fecha_hora[1]);
              // console.log('creation_time:' + creation_time);
              // welo adelantado
              creation_time.setHours(creation_time.getHours() - 3);
              var now = new Date();
              // console.log('now:' + now);
              var time_waited = now.getTime() - creation_time.getTime();
              // console.log('time waited: ' + time_waited);
              var waited_too_long = time_waited > 600000; // 10 minutos
              // console.log('waited too long: ' + waited_too_long);
            } else {
              var waited_too_long = false;
            }

            // console.log('waited too long: ' + waited_too_long);
            return !waited_too_long;
        }
        function download_video(url, msg) {
            var header_text=$("#box-header-text");
            $("#box-header-subtext").html('');
            var video_loading=$("#video_loading");

            var btn_download=$("#btn-download");
            var text_manual_download=$("#text-manual-download");

            video_loading.css({"display":"none"})
            header_text.html(msg)
            btn_download.css({"display":"block"})
            text_manual_download.css({"display":"block"})

            var link = $('#btn-download');
            link.attr('download', url);
            link.attr('href', url);
            link.click();
        }

        {% if error == 1 and fallback_url %}
            download_video('{{ fallback_url }}', 'El archivo ya está disponible.');
        {% endif %}

        {% if error == 0 %}

            var header_text=$('#box-header-text');
            var video_loading=$('#video_loading');

            {% if not try_create %}
                download_video('{{ fallback_url }}', 'El archivo ya está disponible.');
            {% else %}

                // cada 1 segundo llamar a result.status_url
                // pero cada 1 minuto, hacer un chequeo más profundo
                var counter = 0;
                // result.status_url == 'http://welo.tv/status_clip/?hash_id=2f9v'
                // hashid = 2f9v
                var hashid = '{{ result.status_url }}'.split('=')[1];
                var deep_clip_status = 'http://welo.tv/get_clip_and_audio_data/' + hashid;
                var video_interval = setInterval(function(){
                    counter += 1;
                    // console.log(counter);
                    if (counter % 60 == 0) {
                        // console.log(deep_clip_status);
                        $.ajax({
                            // setear como no async, para no sobrecargar al servidor de clips
                            async: false,
                            url: deep_clip_status,

                            success: function(data){
                                 if (!conviene_esperar(data)) {
                                    // alertar a admins de infoad
                                    $.ajax({
                                        url: '/control/vnod/', // video no descarga
                                        type: 'GET',
                                        data: {'deep_status_url': deep_clip_status},
                                    });
                                    clearInterval(video_interval);
                                    {% if fallback_url %}
                                        download_video('{{ fallback_url }}', 'No se pudo generar un video de mayor calidad.');
                                    {% else %}
                                        video_loading.css({'display': 'none'});
                                        header_text.html('Video no disponible.');
                                    {% endif %}
                                 }
                                 // else,  dejar que el otro caso haga su magia
                            },
                        });
                    } else {
                        // console.log('{{ result.status_url }}');
                        $.ajax({
                            // setear como no async, para no sobrecargar al servidor de clips
                            async: false,
                            url: '{{ result.status_url }}',

                            success: function(data){

                                if (data.completed == 100){
                                    clearInterval(video_interval);
                                    download_video('{{result.url}}', 'El video se generó correctamente.');
                                } else if (data.completed == -1 ){
                                    clearInterval(video_interval);
                                    {% if fallback_url %}
                                        download_video('{{ fallback_url }}', 'No se pudo generar un video de mayor calidad.');
                                    {% else %}
                                        video_loading.css({'display': 'none'});
                                        header_text.html('Video no disponible.');
                                    {% endif %}
                              }
                            }
                        });
                    }
                }, 1000)
            {% endif %}

         {% endif %}
    </script>
</body>
</html>
