<html>
<head>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/static/js/jquery.tooltipster.min.js"></script>
    <style type="text/css">
      .nombre {
        float: left;
        width: 100%;
        height:20px;
        overflow: hidden;
        line-height: 14px;
        font-weight: bold;
        display: block;
        color: #222;
        cursor: auto;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }
      .producto-marca {
        margin-top: 3px;
        font-size: 13px;
        display: block;
        line-height: 14px;
        color: #222;
        cursor: auto;
        display: block;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        /*text-transform: uppercase;*/
      }
      .producto-anunciante {
        font-size: 10px;
        display: block;
        line-height: 14px;
        color: #222;
        cursor: auto;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }
    </style>


    <style type="text/css">

        .box-header{
            color: #069;
            font-size: 19px;
            text-align: left;
            #background:#FFF;
            padding:8px 15px;
            #border-bottom: 1px solid rgba(0,0,0,0.20);
            margin: 145px 0px 145px;
        }
        #box-header-text{
            position: relative;
            text-align: center;
            left: 5px;
        }
    </style>

</head>
<body>
  <script type='text/javascript' src='/jwplayer/jwplayer.js'></script>

  {% if filetype == '.jpg' %}
  <div class="imagen">
    <img width="470" height="320" src="http://www.megatime.cl/mmia/ADS/{{id_en_simpson}}.jpg">
  </div>

  {% elif filetype == 'iframe' %}
    <iframe src='{{path}}' height="85%" width="100%"></iframe>
  {% else %}
    <div id='mediaspace'>This text will be replaced</div>
  {% endif %}
  <br>
  <div id="info_producto"></div>

<script>

  // llenar la div #info_producto con los datos del video
    function capitalise(string) {
        return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    }

    path = '{{ path }}';  // path es algo como  "/app/video_producto/150839"
    split = path.split('/');

    id = split[3];        // 150839
    tipo = split[2];      // video_producto

    if (tipo != 'video_origen') {    // Por qué será?
        if (tipo == 'video_emision') {
            tipo_video = 'Emision';
        } else {
            tipo_video = 'Producto';
        }
    };

      // pide los datos del producto por ajax
      $.getJSON("/app/info_producto/", { id: id, 'tipo': tipo_video}, function(data){

          // Cuando es video o audio permitimos bajar el archivo
          if (tipo_video == 'Producto')
            url = "/app/video_producto/";
          else
            url = "/app/video_emision/";

          if ('{{ filetype }}' == 'flv' || '{{ filetype }}' == 'mp3' || '{{ filetype }}' == 'mp4'  || '{{ filetype }}' == 'iframe') {
              if (data['nombre'].length > 54) {
                html = '<div class="nombre" style="height:30px;">' + capitalise(data['nombre']) + '</div>';
              } else {
                html = '<div class="nombre">' + data['nombre'] + '</div>';
              }
              var tipo = 'emision';
              if (tipo_video == 'Producto') {
                tipo = 'spot';
              }
              html += '<a href="/app/video_30fps/?id='+ id +'&t=' + tipo + '" target="_blank">';
              html += '<i id="download" title="Descargar archivo" style="color: #069; float: right; margin-right:5px;margin-top: -22px;" class="fa fa-download fa-lg"></i></a>';

          } else {
            html = '<div class="nombre">' + data['nombre'] + '</div>';
          }

      html += '<div class="producto-marca">' + data['marca'] + '</div>';
      $('#info_producto').append(html);
  });
</script>


{% if filetype != '.jpg' and filetype != 'iframe' %}
<script type='text/javascript'>
  jwplayer('mediaspace').setup({
    'file': '{{path}}',
    'type': '{{filetype}}',


    /*Carga la duracion del video : (Magia)
    Sin esta linea los videos duran, un numero al azar mayor que
    la duracion real del video     */
    'autostart': 'true',

    analytics: { enabled:false},
    'width': '470',

    'height': '320',

    modes: [
            //{ type: 'html5' },
            { type: 'flash', src: '{{STATIC_URL}}/js/player/jwplayer.flash.swf' }
        ]

  });

  jwplayer().onError(function(event){
    $('#mediaspace').replaceWith("<div class='box-header'><div id='box-header-text'>Preview no disponible   </div></div>");
  })


</script>
{% endif %}
<script>
$( document ).ready(function() {
  $("#download").tooltipster({
    position: 'bottom',
    delay: 0,
    speed: 800,
    onlyOne: true
  });
  $("#30_fps").tooltipster({
    position: 'bottom',
    delay: 0,
    speed: 800,
    onlyOne: true
  });

  $("[title!='']").tooltipster({
    position: 'bottom',
    delay: 0,
    speed: 800,
    onlyOne: true
  });
});
</script>
</body>
</html>


