/*  ----- ESTILOS GENERALES ----  */
body {
  margin:0;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  color:#333333;
  padding-bottom: 40px;
  display:inline;
}

body > .container-fluid {padding: 0;}

a {color: #069;}


/* Header */
.ContHeader {position:fixed; width:100%; min-width:960px; z-index:100; top:0}

.Header {
  position:relative;
  display:inline-block;
  width:100%;
  padding:6px 0;
  background:url('../img/gral/GradDwA.png') bottom repeat-x #444;
  box-shadow:0 1px 1px rgba(0,0,0,0.3);
  height:30px;
}

.Header .top-search {
  position: fixed;
  width: 425px;
  top: 6px; left: 0;
}
.Header .top-controls {
  position: fixed;
  width: 425px;
  top: 5px; right: 0;
}
.Header #ciudad-dropdown2, 
.Header #date-controls,
.Header #user {
  float: left;
}
.Header #ciudad-dropdown2 {width: 135px;}
.Header #date-controls {width: 195px;}
.Header #user {width: 28px;}

.Header .Logo {float:left; height: 36px; margin:-3px 12px;}
.Header .SpH {float:left; height:32px; border-left:1px solid #EEE; margin:0 1%; opacity:0.20;}
.Header .BttH {
  position:relative;
  display:inline-block;
  width:96%; height:26px;
  font-size:13px;
  color:#FFF;
  margin:0;
  padding:2px 2% 4px 2%;
  border-radius:2px;
  cursor:pointer;
} 
.Header .BttH:hover {background:url('../img/gral/alphas/BackW30.png');}

.icon {
  position: absolute;
  top: 5px; left: 3px;
  display: block;
  width: 22px; height: 22px;
  opacity: 0.9;
}
.icon.down {
  background: url(../img/gral/icons/down_w.png) no-repeat;
  top: 8px; right: 3px; left: auto;
  width: 16px; height: 16px;
  opacity: 0.6;
}
.icon.world {background: url(../img/gral/icons/world.png) no-repeat;}
.icon.calendar {background: url(../img/gral/icons/calendar.png) no-repeat;}
.icon.user {background: url(../img/gral/icons/user.png) no-repeat;}

.Header .dropdown-menu {
  top: 38px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
.Header .dropdown-toggle { 
  border-radius: 3px;
  padding: 6px 0px 3px 35px;
  color: #FFF;
  display:block;
}
.Header .dropdown-toggle:hover {text-decoration: none;  color: #FFF;}
.Header .dropdown-menu {width: 100%;}

/* Menu selección de fecha */
#fechas_encabezado {
  padding-left: 30px;
  margin-top: 5px;
}
#nombre_usuario {
  padding-left: 30px;
  margin-top: 5px;
}
/*
@media screen and (max-width: 1230px){
  #fechas_encabezado {
    margin-top: -4px;
    padding-left: 40px
  }
}
*/
.BlockSelectDate {
  position:fixed;
  display:none;
  width:470px;
  padding:15px;
  top:48px; right:40px;
  background-color:#FFF;
  box-shadow:0 1px 4px rgba(0,0,0,0.2);
  z-index: 100;
  cursor: default;
}
.BlockSelectDate .ArrowTop {
  position:absolute;
  margin:-30px 0 0 85%;
  border-color:transparent transparent #FFF;
  border-style:solid;
  border-width:0 15px 15px;
  width:0;
}
.OverCalendar {
  position:absolute; 
  width:226px; 
  height:150px; 
  background-image:url('../img/BackW50.png');
  z-index: 1;
}


/*  ----- LOGIN ----  */
#login {margin: 50px auto !important; width: 400px;}
#login input[type=text], #login input[type=password] {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 35px;
}
#login h3 {text-align: center;}


/*  ---- AUTOCOMPLETE ---  */
#autocomplete input {
  width: 290px;
  padding-left:30px;
}

#autocomplete {position: relative;}
#autocomplete:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-decoration: inherit;
  display: inline-block;
  position: absolute;
  top: 8px; left: 69px;
  content: "\f002";
}








/* LOGIN */
body#login-page {
    background-image: url(../img/top.png);
    background-repeat: repeat-x;
    margin: 0;
}
body#login-page .header {
  margin-bottom: 100px;
}
body#login-page .logo {
    background:  url(../img/logo.png) no-repeat;
    width: 63px;
    height: 63px;
    margin-top: 34px;
    float: left;
}
body#login-page .container {width: 940px;}

body#login-page .btn.submit {
  background: rgb(232,66,54);
  background: -moz-linear-gradient(top, rgba(232,66,54,1) 0%, rgba(175,7,23,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,66,54,1)), color-stop(100%,rgba(175,7,23,1)));
  background: -webkit-linear-gradient(top, rgba(232,66,54,1) 0%,rgba(175,7,23,1) 100%);
  background: -o-linear-gradient(top, rgba(232,66,54,1) 0%,rgba(175,7,23,1) 100%);
  background: -ms-linear-gradient(top, rgba(232,66,54,1) 0%,rgba(175,7,23,1) 100%);
  background: linear-gradient(to bottom, rgba(232,66,54,1) 0%,rgba(175,7,23,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84236', endColorstr='#af0717',GradientType=0 );

  color: #FFF;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
body#login-page ul.errorlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
body#login-page ul.errorlist li {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #f2dede;
  border:1px solid #eed3d7;
  color: #b94a48;
}