/*  ----- ESTILOS GENERALES ----  */
body {
  margin:0;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  color:#333333;
	padding-bottom: 40px;
	display:inline;
}

body > .container-fluid {padding: 0;}

a {color: #069;}

/* Contenedor general del sitio */
.WebGral {float:left; width:100%; min-width:980px; margin-top:43px;}

.ColorFontUser {color:#16C !important;}
.ColorBackUser {background-color:#16C !important; color:#FFF !important;}

#main #content {
  background: #FFF;
  min-height: 1400px;
}

#display .indicator {left: 60%;}
#sidebar .indicator {left: 150px;}

.TabRes {
  display: inline-block;
  color:#333;
  background-color:#DDD;
  font-size:13px;
  padding:5px 0;
  border-radius:0 0 5px 5px;
  text-align:center;
  margin-right:0.5%;
  width:32%;
  box-shadow:0 2px 2px rgba(0,0,0,0.2);
}
.TabDown {float:left; position:relative; left:2.5%; margin:1%; width:22%; color:#333; background-color:#DDD; font-size:13px; padding:5px 0; border-radius:0 0 5px 5px; text-align:center; margin-right:1%; box-shadow:0 2px 2px rgba(0,0,0,0.2);}
.TabRes:hover{background-color:#CCC; text-decoration:none; color:#333;}
.TabDown:hover{background-color:#CCC; text-decoration:none; color:#333;}
.TabResActive {background-color:#069; color:#FFF;}

.NumeroResumen {font-weight:bold; font-size: 14px;}

/* Estructura */
.HzX01 {float:left; width:1%;} .HzX02 {float:left; width:2%;} .HzX03 {float:left; width:3%;} .HzX04 {float:left; width:4%;} .HzX05 {float:left; width:5%;} .HzX06 {float:left; width:6%;} .HzX07 {float:left; width:7%;} .HzX08 {float:left; width:8%;} .HzX09 {float:left; width:9%;}
.HzX10 {float:left; width:10%;} .HzX11 {float:left; width:11%;} .HzX12 {float:left; width:12%;} .HzX13 {float:left; width:13%;} .HzX14 {float:left; width:14%;} .HzX15 {float:left; width:15%;} .HzX16 {float:left; width:16%;} .HzX17 {float:left; width:17%;} .HzX18 {float:left; width:18%;} .HzX19 {float:left; width:19%;}
.HzX20 {float:left; width:20%;} .HzX21 {float:left; width:21%;} .HzX22 {float:left; width:22%;} .HzX23 {float:left; width:23%;} .HzX24 {float:left; width:24%;} .HzX25 {float:left; width:25%;} .HzX26 {float:left; width:26%;} .HzX27 {float:left; width:27%;} .HzX28 {float:left; width:28%;} .HzX29 {float:left; width:29%;}
.HzX30 {float:left; width:30%;} .HzX31 {float:left; width:31%;} .HzX32 {float:left; width:32%;} .HzX33 {float:left; width:33%;} .HzX34 {float:left; width:34%;} .HzX35 {float:left; width:35%;} .HzX36 {float:left; width:36%;} .HzX37 {float:left; width:37%;} .HzX38 {float:left; width:38%;} .HzX39 {float:left; width:39%;}
.HzX40 {float:left; width:40%;} .HzX41 {float:left; width:41%;} .HzX42 {float:left; width:42%;} .HzX43 {float:left; width:43%;} .HzX44 {float:left; width:44%;} .HzX45 {float:left; width:45%;} .HzX46 {float:left; width:46%;} .HzX47 {float:left; width:47%;} .HzX48 {float:left; width:48%;} .HzX49 {float:left; width:49%;}
.HzX50 {float:left; width:50%;} .HzX51 {float:left; width:51%;} .HzX52 {float:left; width:52%;} .HzX53 {float:left; width:53%;} .HzX54 {float:left; width:54%;} .HzX55 {float:left; width:55%;} .HzX56 {float:left; width:56%;} .HzX57 {float:left; width:57%;} .HzX58 {float:left; width:58%;} .HzX59 {float:left; width:59%;}
.HzX60 {float:left; width:60%;} .HzX61 {float:left; width:61%;} .HzX62 {float:left; width:62%;} .HzX63 {float:left; width:63%;} .HzX64 {float:left; width:64%;} .HzX65 {float:left; width:65%;} .HzX66 {float:left; width:66%;} .HzX67 {float:left; width:67%;} .HzX68 {float:left; width:68%;} .HzX69 {float:left; width:69%;}
.HzX70 {float:left; width:70%;} .HzX71 {float:left; width:71%;} .HzX72 {float:left; width:72%;} .HzX73 {float:left; width:73%;} .HzX74 {float:left; width:74%;} .HzX75 {float:left; width:75%;} .HzX76 {float:left; width:76%;} .HzX77 {float:left; width:77%;} .HzX78 {float:left; width:78%;} .HzX79 {float:left; width:79%;}
.HzX80 {float:left; width:80%;} .HzX81 {float:left; width:81%;} .HzX82 {float:left; width:82%;} .HzX83 {float:left; width:83%;} .HzX84 {float:left; width:84%;} .HzX85 {float:left; width:85%;} .HzX86 {float:left; width:86%;} .HzX87 {float:left; width:87%;} .HzX88 {float:left; width:88%;} .HzX89 {float:left; width:89%;}
.HzX90 {float:left; width:90%;} .HzX91 {float:left; width:91%;} .HzX92 {float:left; width:92%;} .HzX93 {float:left; width:93%;} .HzX94 {float:left; width:94%;} .HzX95 {float:left; width:95%;} .HzX96 {float:left; width:96%;} .HzX97 {float:left; width:97%;} .HzX98 {float:left; width:98%;} .HzX99 {float:left; width:99%;}
.HzX100 {float:left; width:100%;}

.HzDest {float:left; width:96%; padding:2%; border-radius:2px;}

.CentraDiv {float:left; width:100%; text-align:center;}
.RightDiv {float:left; width:100%; text-align:right;}

.SpV01 {float:left; width:100%; height:1px;}
.SpV05 {float:left; width:100%; height:5px;}
.SpV10 {float:left; width:100%; height:10px;}
.SpV20 {float:left; width:100%; height:20px;}
.SpV50 {float:left; width:100%; height:50px;}

.SpVLine {float:left; width:100%; height:1px; border-bottom:1px solid #DDD;}
.SpVLineW {float:left; width:100%; height:1px; border-bottom:1px solid #FFF;}

/* Elementos Generales */
.BttGA, .BttGB {position:relative; display:inline-block; padding:0.3em 0.7em; margin:0 3px; color:#FFF; text-decoration:none; font-weight:bold; border-radius:3px; box-shadow:0 0.1em 0.2em rgba(0,0,0,0.2);}
.BttGA {font-size:12px;} .BttGB {font-size:14px;}
.BttGA:hover, .BttGB:hover {text-decoration:none; background:url('../img/gral/alphas/BackW20.png');}
.BttGA:active, .BttGB:active {background:url('../img/gral/alphas/BackB10.png');}


.TitA, .TitB, .TitC, .TitD {float:left; width:100%; color:#333; font-weight:bold; letter-spacing:-1px;}
.TitA {font-size:24px;} .TitB {font-size:21px;} .TitC {font-size:18px;} .TitD {font-size:15px;}

.TextA, .TextB, .TextC, .TextD {float:left; width:100%; color:#555;}
.TextA {font-size:17px;} .TextB {font-size:15px;} .TextC {font-size:13px;} .TextD {font-size:12px;}

.Input {position:relative; display:inline-block; border:1px solid #DDD; border-radius:2px; width:96%; padding:3px 1% 4px 1%; margin:0px; font-size:13px; color:#555; background-color:#FFF; outline:none; font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
.Input:hover, .Input:active, .Input:focus {border:1px solid #CCC; box-shadow:inset 0 1px 2px rgba(0,0,0,0.2);}
.Textarea {position:relative; display:inline-block; border:1px solid #DDD; border-radius:2px; min-width:96%; max-width:96%; max-height:40px; min-height:40px; font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; padding:4px 1%; margin:0px; font-size:13px; color:#333; background-color:#FFF; outline:none;}
.Textarea:hover, .Textarea:active, .Textarea:focus {background-color:#FFF; border:1px solid #CCC;}
.Select {float:left; border:1px solid #DDD; border-radius:3px; width:99.5%; height:24px; padding:3px 0; font-size:13px; color:#333; background-color:#FFF; outline:none;}

/* Header */
.ContHeader {position:fixed; width:100%; min-width:960px; z-index:100; top:0}

.Header {
  position:relative;
  display:inline-block;
  width:100%;
  padding:6px 0;
  background:url('../img/gral/GradDwA.png') bottom repeat-x #444;
  box-shadow:0 1px 1px rgba(0,0,0,0.3);
  height:30px;
}

.Header .top-search {
  position: fixed;
  width: 425px;
  top: 6px; left: 0;
}
.Header .top-controls {
  position: fixed;
  width: 425px;
  top: 5px; right: 0;
}
.Header #ciudad-dropdown2,
.Header #date-controls,
.Header #user {
  float: left;
}
.Header #ciudad-dropdown2 {width: 135px;}
.Header #date-controls {width: 195px;}
.Header #user {width: 28px;}

.Header .Logo {float:left; height: 36px; margin:-3px 12px;}
.Header .SpH {float:left; height:32px; border-left:1px solid #EEE; margin:0 1%; opacity:0.20;}
.Header .BttH {
  position:relative;
  display:inline-block;
  width:96%; height:26px;
  font-size:13px;
  color:#FFF;
  margin:0;
  padding:2px 2% 4px 2%;
  border-radius:2px;
  cursor:pointer;
}
.Header .BttH:hover {background:url('../img/gral/alphas/BackW30.png');}

.icon {
  position: absolute;
  top: 5px; left: 3px;
  display: block;
  width: 22px; height: 22px;
  opacity: 0.9;
}
.icon.down {
  background: url(../img/gral/icons/down_w.png) no-repeat;
  top: 8px; right: 3px; left: auto;
  width: 16px; height: 16px;
  opacity: 0.6;
}
.icon.world {background: url(../img/gral/icons/world.png) no-repeat;}
.icon.calendar {background: url(../img/gral/icons/calendar.png) no-repeat;}
.icon.user {background: url(../img/gral/icons/user.png) no-repeat;}

.Header .dropdown-menu {
  top: 38px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
.Header .dropdown-toggle {
  border-radius: 3px;
  padding: 6px 0px 3px 35px;
  color: #FFF;
  display:block;
}
.Header .dropdown-toggle:hover {text-decoration: none;  color: #FFF;}
.Header .dropdown-menu {width: 100%;}

/* Menu selección de fecha */
#fechas_encabezado {
  padding-left: 30px;
  margin-top: 5px;
}
#nombre_usuario {
  padding-left: 30px;
  margin-top: 5px;
}
/*
@media screen and (max-width: 1230px){
  #fechas_encabezado {
    margin-top: -4px;
    padding-left: 40px
  }
}
*/
.BlockSelectDate {
  position:fixed;
  display:none;
  width:470px;
  padding:15px;
  top:48px; right:40px;
  background-color:#FFF;
  box-shadow:0 1px 4px rgba(0,0,0,0.2);
  z-index: 100;
  cursor: default;
}
.BlockSelectDate .ArrowTop {
  position:absolute;
  margin:-30px 0 0 85%;
  border-color:transparent transparent #FFF;
  border-style:solid;
  border-width:0 15px 15px;
  width:0;
}
.OverCalendar {
  position:absolute;
  width:226px;
  height:150px;
  background-image:url('../img/BackW50.png');
  z-index: 1;
}

/* Session */
#user {position: relative;}
#user ._ShowSessionUser {padding: 3px 8px;}
#user .OverCerrarSession.dropdown-menu {
  position: absolute;
  display:none;
  padding:10px;
  left: auto;
  border-radius:2px;
  box-shadow:0 1px 4px rgba(0,0,0,0.4); z-index:100;
  width: 180px;
  text-align: right;
  right: -84px;
  top: 34px;
}
#user .OverCerrarSession.dropdown-menu ul li{
  background: #CED7E0;
}
#user .OverCerrarSession.dropdown-menu a {
  padding: 5px 25px 5px 0;
  background-position: 99% center;
  background-repeat: no-repeat;
  border-radius: 2px;
}
#user .OverCerrarSession.dropdown-menu a:hover{
  background:#eeeeee !important;
}
#user #change-password {padding: 10px 10px 10px 0px;}
#user #pie-toggle {padding: 10px 10px 10px 0px;}
#user #export-excel {padding: 10px 10px 10px 0px;}
#user #export-dtv {padding: 10px 10px 10px 0px;}
#user #export-pdf {padding: 10px 10px 10px 0px;}
#user #save-search {padding: 10px 10px 10px 0px;}
#user #logout {padding: 10px 10px 10px 0px;}
#user .OverCerrarSession.dropdown-menu a:hover {
  background-color: #F0F0F0;
  color: #333;
}
#user #save-search:hover {
  background: #F0F0F0;
  color: #333;
}
.OverCerrarSession .ArrowTop {
  position:absolute;
  margin:-25px 0 0 65px;
  border-color:transparent transparent #FFF;
  border-style:solid; border-width:0 15px 15px;
  width:0;
}

/* load charlie */
.OverLoad {
  position:fixed;
  /*display:inline-block;*/
  display: none;
  width:100%; height:100%;
  background-image:url('../img/BackW50.png');
  z-index:100000;
}
/*.OverLoad */.Loader {
  /*position:relative;*/
  position:fixed;
  width:100px; height:100px;
  margin:-50px 0 0 -50px;
  left:50%; top:50%;
  border-radius:5px;
  background-image: url('../img/indicator.gif');
  background-position:center center;
  z-index: 100000;
}


/*  ----- LOGIN ----  */
#login {margin: 50px auto !important; width: 400px;}
#login input[type=text], #login input[type=password] {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 35px;
}
#login h3 {text-align: center;}


/*  ---- AUTOCOMPLETE ---  */
#autocomplete input {
  width: 290px;
  padding-left:30px;
}

#autocomplete {position: relative;}
#autocomplete:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  text-decoration: inherit;
  display: inline-block;
  position: absolute;
  top: 8px; left: 69px;
  content: "\f002";
}


/*  ----- SIDEBAR ----  */
#sidebar {min-height: 38px; position: relative;}
#sidebar .busquedas {
  list-style: none;
  margin: 5px 0 0 3px;
}
#sidebar .busquedas li {
  background-color: #DDD;
  position: relative;
  margin-bottom: 3px;
  overflow: hidden;
  display: none;
  border-radius: 3px;
}
#sidebar .busquedas li.first {
  cursor: pointer;
  display: block;
}
#sidebar .busquedas li.first a {color: #FFF;}
#sidebar .busquedas li.first:hover a {color: #333;}

#sidebar .busquedas li.first:after {
  font-family: 'FontAwesome';
  display: inline-block;
  position: absolute;
  top: 4px; right: 9px;
  content: "\f078";
  color: #333;
}
#sidebar .busquedas li.first.unique {cursor: default;}
#sidebar .busquedas li.first.unique:after {display: none;}
#sidebar .busquedas li.no-active.first {
    background: #DDD;
    color: #666;
    font-size: 11px;
    padding: 3px 5px;
}
#rightSidebar #busquedasAlertas li.no-active.first{
  display: none;
}
#sidebar .busquedas li.no-active.first:hover,
#sidebar .busquedas li.no-active.first.desplegado,
#sidebar .busquedas li.active {
  background: #069;
  color: #FFF;
}
#sidebar .busquedas li.no-active.first:hover:after,
#sidebar .busquedas li.no-active.first.desplegado:after {
  color: #FFF;
}


#rightSidebar .busquedas li.active.first{
  background:rgba(186, 204, 219, 0.18);
}
#rightSidebar .busquedas li.active.first a{
  font-weight: bold;
}



#sidebar .busquedas li a {
  color: #333;
  padding: 2px 4px 3px;
  font-size: 12px;
  font-weight: bold;
  float: left;
}
#sidebar .busquedas li a.actions {
  color: #333;
  background: none;
  float: left;
  padding: 2px;
  margin-left: 2px;
  display: none;
}
#sidebar .busquedas li:hover {
  background: #CCC;
  color: #333;
  cursor: pointer;
}
#sidebar .busquedas li:hover a.actions {display: inline-block;}
#sidebar .busquedas li.active a.actions {color: #FFF;}
#sidebar .busquedas li.active:hover a.actions {color: #333;}
#sidebar .busquedas li a:hover {text-decoration: underline;}
#sidebar .busquedas li a.actions:hover {
  background: #EBEBEB;
  color: #333;
  text-decoration: none;
}

#rightSidebar .busquedas li:hover a.actions {display: inline-block;}
#rightSidebar .busquedas li.active a.actions {color: #FFF;}
#rightSidebar .busquedas li.active:hover a.actions {color: #333;}
#rightSidebar .busquedas li a:hover {text-decoration: underline;}
#rightSidebar .busquedas li a.actions:hover {
  background: #EBEBEB;
  color: #333;
  text-decoration: none;
}
#filter-options ul {list-style: none; margin: 0; display: none; }
/*#rightSidebar ul {list-style: none; margin: 0; display: none; }*/
#filter-options ul li {
  background: #f2f2f2; /*  Fondo del li  */
  border-top: 1px solid #D4D4D4;
  border-bottom: 0px solid #D4D4D4;
  position: relative;
  padding: 3px;
}
#rightSidebar ul li {
position: relative !important;
/* padding: 3px; */
float: left !important;
width: 99% !important;
padding: 5px 0px!important;
margin-bottom: 0px !important;
border-radius: 3px !important;
/* border: 1px solid #D4D4D4 !important; */
border-bottom: 1px dotted #BABABA;
font-size: 12px;
}
#filter-options ul li:hover, #filter-options ul li:hover div.estadistica {background: #E9EEF2;}
#rightSidebar ul li:hover, #filter-options ul li:hover div.estadistica {background: #E9EEF2;}
.options-more {margin-left: 2px; color: #BFBDBD !important;}
.options-less {margin-left: 5px; color: #BFBDBD !important;}
.options-export {margin-left: 5px; color: #BFBDBD !important;}

h4.filter-title {
  background-color: #CED7E0;
  background-image: -moz-linear-gradient(90deg, #CED7E0 0%, #ECF0F3);
  border-bottom: 1px solid #9CACBC;
  box-shadow: 0 1px white inset, 0 1px #ECF0F3;
  height: 25px;
  margin-bottom: 1px;
  /*padding: 2px 10px 2px 30px;*/
  margin: 0;
  position: relative;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  cursor: pointer;
  font-size: 12px;
  line-height: 15px;
}
h4.filter-title a {
  display: block;
  color: #596573;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0 1px white;
  text-transform: uppercase;
  line-height: 25px;
  width: 60%; height: auto;
  outline: none;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 10%;
margin-top: 3px;
width: 82%;
line-height: 25px;
margin-top: 1px;
}
h4.filter-title a:hover {color: #555; text-decoration: none;}
h4.filter-title:before {display: inline-block; position: absolute; top: 5px; left: 5px;}

h4.filter-title span.loader {
  background: url(../img/filtros-loader.gif) no-repeat;
  width: 16px; height: 11px;
  display: none;
  position: absolute;
  top: 10px; right: 50px;
}
h4.tituloEtiqueta span.loader{
  background: url(../img/ajax-loader.gif) no-repeat;
  width: 16px; height: 11px;
  display: none;
  position: absolute;
  top: 10px; right: 50px;
}

/* Para que el loader no se superponga al boton de edicion de descuentos */
#medio h4.filter-title span.loader {right: 50px;}

#anunciante .filter-title:before {content: "\f0a1";}
#marca .filter-title:before {content: "\f02c";}
#otramarca .filter-title:before {content: "\f02c";}
#producto .filter-title:before {content: "\f02a";}
#soporte .filter-title:before {content: "\f008";}
#medio .filter-title:before {content: "\f03d";}
#grupomedio .filter-title:before {content: "\f03d";}
#programa .filter-title:before {content: "\f06e";}
#agencia .filter-title:before {content: "\f005";}
#sector .filter-title:before {content: "\f009";}
#rubro .filter-title:before {content: "\f00a";}
#ciudad .filter-title:before {content: "\f0ac";}


#valorpublicidad .filter-title:before,
#recursopublicidad .filter-title:before,
#estilopublicidad .filter-title:before,
#tipopublicidad .filter-title:before {
 /*background: url(../img/new.png) no-repeat;*/
  content: url('../img/label_black_new.png');
  top: 4px;
  left: 2px;
}

#industria .filter-title:before {
  background: url(../img/industrias.png) no-repeat;
  width: 12px; height: 11px;
  content: "";
  top: 9px;
}

h4.filter-title:after {
  display: inline-block;
  position: absolute;
  top: 12px; right: 10px;
  width: 10px; height: 6px;
  content: "";
}

/*  Nombre y Estadisticas de la opcion  */
#filter-options ul li div.nombre {
  float: left;
  width: 100%;
  height:20px;
  overflow: hidden;
}
#filter-options ul li div.estadistica {
  background: none repeat scroll 0 0 #F2F2F2;
  /*overflow: hidden;*/
  position: absolute;
  right: 0;
  width: 160px;
}

#filter-options ul li a.data-filter {
    font-weight:bold;
    color: #000111;
    font-size: 80%; /* Size de la letra de las opciones filtro */
    display: block;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    width: 53%;
    margin-left: 3px;
}

#rightSidebar ul li .absoluto {float:left; width:23%; margin-right:1%; display:block;  font-size:10px; text-align:right;}
#rightSidebar ul li .porcentaje {float:left; width:20%; font-size:10px; overflow: hidden; color: #6b6b6b}
#rightSidebar ul li .barra {float: left; font-size:10px; width:33%; margin-right:2%  display: block;
height: 12px;  background-color: #1166cc; border-radius: 3px;  box-shadow: 0 1px 1px #fff inset;}
#rightSidebar ul li .antes {font-size: 10px; float: right; padding-right: 3px;}

#rightSidebar ul li .options-more, #rightSidebar ul li .options-less {font-size: 9px; padding: 0 4px;}


#filter-options ul li .absoluto {float:left; width:23%; margin-right:1%; display:block;  font-size:10px; text-align:right;}
#filter-options ul li .porcentaje {float:left; width:20%; font-size:10px; overflow: hidden; color: #6b6b6b}
#filter-options ul li .barra {float: left; font-size:10px; width:33%; margin-right:2%  display: block;
height: 12px;  background-color: #1166cc; border-radius: 3px;  box-shadow: 0 1px 1px #fff inset;}
#filter-options ul li .antes {font-size: 10px; float: right; padding-right: 3px;}

#filter-options ul li .options-more, #filter-options ul li .options-less {font-size: 9px; padding: 0 4px;}
#rightSidebar ul li .options-more, #filter-options ul li .options-less {font-size: 9px; padding: 0 4px;}

/* Slider de descuentos */
#filter-options h4.filter-title .descuento-button {
  color: #8397aa;
  width: auto;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: -1px; right: 30px;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  z-index: 99;
  border: none;
  margin-right: 20px;
  font-size: 12px;
}

/* Slider de descuentos */
#rightSidebar h4.filter-title .descuento-button {
  color: #8397aa;
  width: auto;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: 3px; right: 30px;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  z-index: 99;
}
#filter-options h4.filter-title .save-descuento {
  position: absolute;
  top: 5px; right: 68px;
  line-height: 18px;
  background: #e1e5ea;
  color: #798087;
  font-size: 9px;
  border-radius: 2px;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  display: none;
  width: auto;
  padding: 0 5px;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
#rightSidebar h4.filter-title .save-descuento {
  position: absolute;
  top: 5px; right: 50px;
  line-height: 18px;
  background: #e1e5ea;
  color: #798087;
  font-size: 9px;
  border-radius: 2px;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  display: none;
  width: auto;
  padding: 0 5px;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}
#filter-options h4.filter-title .save-descuento:hover {
  background: #069;
  color: #FFF;
}
#filter-options .filters-block:hover .descuento-button {
  color: #333;
}
#filter-options ul li div.slider-wrapper {
  width: 100%;
  background: #F2F2F2;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -ms-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}
#filter-options ul li div.slider-wrapper .slider-value {
  display: inline-block;
  background: none;
  border: none;
  width: 20px;
  font-size: 10px;
  text-align: center;
}
#filter-options ul li div.slider-wrapper .slider {
  width: 90px;
  display: inline-block;
  margin: 0 5px 0 5px;
  height: 2px;
  background: #1166cc;
  border: none;
  border-radius: 0;
  position: relative;
  top: -4px;
}
#filter-options ul li div.slider-wrapper .slider .ui-slider-handle {
  width: 4px;
  top: -6px;
}
/*
#filter-options ul li div.slider-wrapper .send-discount {
  border: none;
  border-radius: 3px;
  background: #DDD;
  padding: 0 3px;
  font-size: 9px;
  line-height: 14px;
}*/

/*  Media Queries  */
.narrow-1280 #filter-options ul li div.nombre {width: 37%;overflow:hidden;text-overflow:ellipsis;}
.narrow-980 #filter-options ul li div.nombre {width: 35%;}
.narrow-800 #filter-options ul li div.nombre {width: 32%;}
.narrow-980 #filter-options ul li .absoluto, .narrow-800 #filter-options ul li .absoluto,
.narrow-980 #filter-options ul li .porcentaje, .narrow-800 #filter-options ul li .porcentaje,
.narrow-980 #filter-options ul li .barra, .narrow-800 #filter-options ul li .barra {font-size: 9px;}


/*  ----- CONTROL NAV ----  */
#control-nav {
  background: #fbfbfb; /*  Old browsers  */
  background: -moz-linear-gradient(top,  #fbfbfb 0%, #e6e6e6 100%); /*  FF3.6+  */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e6e6e6)); /*  Chrome,Safari4+  */
  background: -webkit-linear-gradient(top,  #fbfbfb 0%,#e6e6e6 100%); /*  Chrome10+,Safari5.1+  */
  background: -o-linear-gradient(top,  #fbfbfb 0%,#e6e6e6 100%); /*  Opera 11.10+  */
  background: -ms-linear-gradient(top,  #fbfbfb 0%,#e6e6e6 100%); /*  IE10+  */
  background: linear-gradient(to bottom,  #fbfbfb 0%,#e6e6e6 100%); /*  W3C  */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e6e6e6',GradientType=0 ); /*  IE6-9  */
  position: relative;
}

#ciudad-dropdown, #time, #time-range, #datepicker {float: left;}
#ciudad-dropdown, #time {position: relative; padding: 5px 0 5px 30px; border-right: 1px solid #CCC;}


/*  Tiempo Rango  */
#time {width: 150px;}
#time:before {content: '\f073'}

/* #time-range {margin-right: 0px;} */
#time-range .btn {padding: 3px 7px; font-size: 10px;}
#time-range .btn.active {background: #FFF; box-shadow: 1px -1px 2px rgba(0,0,0,0.1);}

/*  Calendario  */

#date {left: 175px; width: 570px;  background: #000}
#datepicker .dropdown-toggle {font-size: 16px; font-weight: bold;margin-top:4px;letter-spacing:1px;}
#date .picker {float: left; width: 49%;}

.ui-datepicker a {padding: 1px;}
.ui-datepicker, .ui-datepicker a, .ui-widget a, .ui-datepicker td {font-size: 10px;}

.select_filter {text-transform: capitalize;}

#unit {position: absolute; top: 7px; right: 7px; width:240px;}
#unit .unit-value {
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin-right: 0px;
  font-family: 'Arial', sans-serif;
  width: 105px;
  text-align: right;
}
#unit .unit-btn {border: none; box-shadow: none; margin-top: -5px; }
#unit .dropdown-menu {left: 108px; min-width: 123px}


/*  ----- CONTROL SUBNAV ----  */
#subnav {position: relative; border-bottom: 1px solid #CCC; padding: 10px 0; display: none;}

/*  ----- CONTENIDO PRINCIPAL ----  */
#content {width: 76.595744681%; margin-left: 0;}
#display { position: relative; width: 78%;float: left; margin-left: 5px;}

#filtros-seleccionados {
  padding: 0px;
float: left;
width: 97%;
margin-top: 20px;
margin-left: 6px;}
.applied-filters {display: inline;float: left;
margin-top: -15px;}
.applied-filters .filter-tag {
  padding: 4px 6px;
  background-color: #069;
  font-size: 11px;
  margin-right: 7px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
}
.applied-filters .filter-tag:hover {
  background-color: #CCC;
  text-decoration: none;
  color: #333;
}
.applied-filters .filter-tag .icon-remove {
  margin-right: 4px;
  font-size: 9px;
  font-weight: bold;
}
.icon-remove, .icon-pencil{
  opacity: 0.9;
}
#filtros-seleccionados .actions {
  padding: 3px 8px 4px;
  background-color: #DDDDDD;
  margin-right: 3px;
  text-align: center;
  color: #333;
  font-size: 12px;
  font-weight: normal;
  border-radius: 3px;
}
#filtros-seleccionados .actions:hover {
  background: #CCC;
  color: #333;
  text-decoration: none;
}
#filtros-seleccionados .actions.graph-active {background: #BEE7AB;}

/*  Tabla  */
.grilla {font-size: 12px; color:#222;}
.grilla thead tr {
  background: #ffffff; /*  Old browsers  */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /*  FF3.6+  */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /*  Chrome,Safari4+  */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /*  Chrome10+,Safari5.1+  */
  background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /*  Opera 11.10+  */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /*  IE10+  */
  background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /*  W3C  */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /*  IE6-9  */
  color: #666;
}
.grilla thead th {text-align: center !important;}
.grilla [class^="icon-"] {color: #333;}
.grilla tr td {padding: 2px 5px; overflow: hidden; line-height:13px; vertical-align:middle; font-size: 93%;}
.grilla tr td span {float: left; font-size:13px; color:#444; font-weight:bold; margin-top:3px;}

/*  Graficos  */
#main_chart {height: auto; width: 98%; margin-top: 31px;}
#pie_charts {display: none;}
#pie_charts .pie {width: 33%; float: left;}

/*  Productos  */
#producto {margin-top:10px;}
#producto .producto-container {width: 100%;}
#producto .producto {
  float: left;
  width: 29.7%;
  margin: 1%;
  padding: 1%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  border: 1px solid #eee;
  border-radius: 3px;
  height: 240px;
  margin-left: 0px;
}
#producto .producto .video-thumb {
  background-color: #EEEEEE;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: 1px solid #DADADA;
  border-radius:3px;
  display: inline-block;
  float: left;
  font-size: 12px;
  line-height: 80px;
  max-height: 195px;
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 155px;
  width: 100%;
}

#producto .producto .data-filter {
  margin-top:10px;
  float: left;
  padding-left: 7px;
  line-height: 14px;
  color: #222; text-decoration: none; font-size: 12px;
}
#producto .producto .nombre {font-weight: bold;}
#producto .producto .producto-marca {font-size: 13px;}
#producto .producto .producto-anunciante {font-size: 10px;}
#producto-control-row {
  clear: both;
  text-align: center;

}
#producto-control-row a {margin: 0 2px; padding: 0 6px; font-size: 9px;}

ul.ui-autocomplete li.ui-menu-item a span.tipo-opcion {
  float: right;
  color: #222;
    content: "\f002";
}


#form-package {
  /*border-top: 1px solid #FFF;
  padding: 10px;*/
}
#form-package ul {
  margin: 0;
  list-style: none;
  background: #eeeeee;
  padding: 10px;
  border-radius: 3px;
  width: 98%;
}


/* Modal Busqudas */
.modal {outline: transparent;}
#savesearch {
width: 45%;
z-index: 9999999;
}
#savesearch .modal-header p {font-size: 12px;}
#savesearch .modal-body {padding: 20px 20px 0 20px; margin-top: 0; width: 93%; min-height: 80px;float: left;}
#savesearch .modal-body .alert {display: none;}
#savesearch h3 {color: #005BC5; margin-bottom: 10px;}
#savesearch form {margin: 0;}
#savesearch .form-item {margin-bottom: 10px;float: left;width: 100%;}
#namesearch {width: 40%;}
#notice-data, #comparacion-data, #comparacion {
  display: none;
}
#savesearch .form-item.row-fluid input {
  width: 100%;
  box-sizing: border-box;
}
#savesearch #comparador {
  width: 19%;
  float: left;
  margin-left: 9px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 85px 5px !important;
  line-height: 15px;
}
#comparadorCompara{
  width: 28% !important;
  float: left;
}

#savesearch #valor {
  float: left;
  width: 17%;
  margin-left: 9px;
  height: 30px;
}
#savesearch #valorCompara {
height: auto;
width: 190px !important;
margin-left: 4px;
display: none;
}
#savesearch #periodo {
  float: left;
  width: 23%;
  margin-left: 9px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 107px 5px !important;
  line-height: 15px;
}

/* Modal Excel */
#excel-modal .modal-body {padding: 20px; margin-top: 0;}


/* LOGIN */
body#login-page {
    background-image: url(../img/top.png);
    background-repeat: repeat-x;
    margin: 0;
}
body#login-page .header {
  margin-bottom: 100px;
}
body#login-page .logo {
    background:  url(../img/logo.png) no-repeat;
    width: 63px;
    height: 63px;
    margin-top: 34px;
    float: left;
}
body#login-page .container {width: 940px;}

body#login-page footer {
  position: fixed;
  left: 0; bottom: 0;
  width: 100%;
  background: #393c41;
  color: #9e9e9e;
  padding: 20px 0;
  text-align: center;
}
body#login-page footer a {
  color: #999;
  text-decoration: underline;
}
body#login-page .btn.submit {
  background: rgb(232,66,54);
  background: -moz-linear-gradient(top, rgba(232,66,54,1) 0%, rgba(175,7,23,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,66,54,1)), color-stop(100%,rgba(175,7,23,1)));
  background: -webkit-linear-gradient(top, rgba(232,66,54,1) 0%,rgba(175,7,23,1) 100%);
  background: -o-linear-gradient(top, rgba(232,66,54,1) 0%,rgba(175,7,23,1) 100%);
  background: -ms-linear-gradient(top, rgba(232,66,54,1) 0%,rgba(175,7,23,1) 100%);
  background: linear-gradient(to bottom, rgba(232,66,54,1) 0%,rgba(175,7,23,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84236', endColorstr='#af0717',GradientType=0 );

  color: #FFF;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
body#login-page ul.errorlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
body#login-page ul.errorlist li {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #FF0000;
  border:1px solid #eed3d7;
  color: #b94a48;
}
.myForms{
  padding:10px 36px !important;
}
.contForms{
  background: #eeeeee;
}
.myContainer{
  background: #6E6E6E;
  padding: 1px !important;
}
.myContainer .row{
  background: #c6c6c6;
}
#form-create-user{
  padding: 10px 5px;
  background: #6E6E6E;
}
#fechaClona,#medioClona_text,#id_package-user_text{
  width: 100%;
}
#rightSidebar{
  float: left;
  width: 17%;
  float: left;
  position: absolute;
  right: 0;
  border-left: 1px solid #f0f0f0;
  padding-left: 1px;
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
}
/*test para ventana desplegable*/

/*#rightSidebar{
  float: left;
width: 17%;
float: left;
position: absolute;
right: 0;
border-left: 1px solid #f0f0f0;
padding-left: 1px;
margin-top: 30px;
border-top: 1px solid #eeeeee;
left: 100%;
background: #ffffff;
display: none;
box-shadow: -5px 15px 5px rgba(1, 1, 1, 0.31);
}


/*  fin test   */
#rightSidebar ul{
  list-style: none;
}
#rightSidebar ul li a{
  color: #898989 !important;
  text-decoration: none !important;
}
#rightSidebar ul li a:hover{
  color:color:#bfbfbf !important;
  text-decoration: none !important;
}
#misBusquedas{
  padding: 0px;
margin: 0px;
width: 92%;
margin-left: 10px;
margin-top: 10px;
}
#listadoBusqueda{
  list-style: none;
}
#tituloMisBusquedas{
font-size: 11px;
font-weight: bold;
color: #596573;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
text-shadow: 0px 1px #ffffff;
background: #ffffff;
#float: left;
width: 100%;
padding: 6px 0px;
margin-top: 5px !important;
}
#tituloMisBusquedas img{
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 0px;
  opacity: 0.5;
}
#misBusquedasIcon{
  margin: 0px 5px 0px 10px;
  font-size: 18px;
}
#etiquetas,#leftTags,#rightTabs{
  float: left;
}
#leftTags,#rightTabs{
  width: 50%;
}
#etiquetas{
  width: 100%;
  margin-top: 0px;
}
.listadoTags{
  list-style: none;
}
#contGeneralTags{
  float: left;
  width: 100%;
}
.itemMisBusquedas{
  float: left;
  clear: both;
  margin-bottom: 1%;
}
.imgConfig{
  width: 8%;
  float: right;
}
.configWell{
   opacity: 1;
   transition: all .25s;
   -moz-transition: all .25s;
   -webkit-transition: all .25s;
}
.configWell:hover{
  opacity: 0.5;
}
#tituloEtiquetas{
  text-align: center;
  background: #ffffff;
}
#tituloEtiquetas ul .control-row{
  display: none;
}
.myCheck{
  width: 20px;
  height: 20px;
}
#agregaBusqueda{
  float: right;
  display: block;
  text-decoration: none;
  color: #596573;
  margin-top: 7px;
  margin-right: 5px;
  font-size: 12px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.filters-block ul li.control-row{
  height: 18px;
}
#etiquetamedio ul .control-row{
  display: none;
}
#etiquetaprograma ul .control-row{
  display: none;
}
#etiquetaproducto ul .control-row{
  display: none;
}
.campana{
  width: 17px !important;
  margin-top: 0px !important;
  float: right !important;
  margin-left: -3px;
}
.campana-gray{
  width: 11px !important;
  margin-top: 4px !important;
  float: right !important;
  margin-right: 3px;
}
.alertIcons{
  float: right !important;
}
.contAlerts{
  float: left !important;
  width: 95% !important;
  margin-bottom: 5px !important;
  padding: 7px !important;
}
.btnSideSwitch{
  width: 50%;
  text-transform: uppercase;
}
#anunciante, #marca, #medio, #grupomedio{
  display: none;
}
.busquedaIndividual{
  float: left !important;
  margin-left: 3px;
  color:#434343;
  width: 65% !important;
  margin-right: 0px !important;
  font-weight: normal;
}
#myTable{
  width: 96%;
  margin-left: 7px;
}
#myTable th:last-child{
  width: 8%;
}
#btnmarca, #btnanunciante{
  margin-top: -21px !important;
  opacity: 0.3;
}
#btnmarca:hover{
  opacity: 0.9;
  cursor: pointer;
}
#btnanunciante:hover{
  opacity: 0.9;
  cursor: pointer;
}
#btnMenos{
  display: none;
  margin: 5px;
  opacity: 0.7;
  cursor: pointer;
  font-size: 24px;
  float: left;
  margin-top: 7px;
  width: 12%;
  padding-left: 2px;
  opacity: 0.3;
}
#btnMas{
  margin: 7px;
  font-size: 24px;
  opacity: 0.3;
  cursor: pointer;
  width: 12%;
  float: left;
  padding-left: 2px;
}
#contSecundariasCheck{
float: left;
width: 35%;
margin-left: 10px;
margin-top: -10px;
}
#contSecundariasCheck:hover{
  background: rgba(186, 204, 219, 0.32);
  border-radius: 3px;
  padding-bottom: 5px;
}
#secundarias{
  font-size: 24px;
  width: 20px;
  height: 20px;
  float: left;
  margin-left: 10px;
}
#labelSecundarias{
  font-size: 18px;
  float: left;
  margin-top: 4px;
  margin-left: 10px;
}
.myButton{
  float: right;
}
.iconMas{
float: right;
margin-top: -25px;
margin-right: 30px;
cursor: pointer;
}
#btnDesagrupa{
  position: absolute;
  right: 30px;
  z-index: 9999;
  top: 7px;
  cursor: pointer;
}
#btngrupomedio, #btnmedio{
  opacity: 0.3;
  float: right;
  margin-top: -21px !important;
}
#grupomedio{
  display: none;
}
#btnmedio:hover{
  opacity: 0.9;
  cursor: pointer;;
}
#btngrupomedio:hover{
  opacity: 0.9;
  cursor: pointer;
}
#btnmedio{
  margin-right: 30px;
}
#medio h4.filter-title span.loader{
  right: 70px;
}
.myLabel{
  float: left;
  width: 30%;
  clear: both;
}
#columna1, #columna2{
  float: left;
  width: 100%;
}
.cont_modal{
  float: left !important;
  width: 100% !important;
  margin-left: 0px !important;
}
.selectInput{
  width: 95% !important;
  float: left;
}
/*.rowModal{
  width: 90% !important;
  padding: 2%;
}*/
.inpAler{
  width: 87% !important;
  float: left;
}
.alt{
  width: 11% !important;
float: left;
margin-left: 10px;
}
.alt2{
  float: left !important;
padding: 4px !important;
}
.altGuardaBusqueda{
   width: 14% !important;
float: left;
margin-left: 10px;
}
.primerSpan{
  margin-left: 10% !important;
  width: 20% !important;
  float: left !important;
}
#comparacion, #comportamiento{
  display: none;
}

#nombre0{
  width: 30% !important;
  float: left;
}
#nombre1{
  margin-left: 12px !important;
  width: 28%;
}
#variableCompara{
  margin-left: 0px;
  width: 30% !important;
  margin-right: 2%;
  float: left;
}
#periodoCompara{
  margin-left: 0%;
  float: left;
  width: 27.8% !important;
}
#variable{
  float: left;
  width: 36%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 180px 5px !important;
  line-height: 15px;
}
#misBusquedas ul li a{
  color:#898989 !important;
  text-decoration: none !important;
  margin-right: 3px;
  height: 20px !important;
  overflow: hidden;
  font-size: 11px;
}
#misBusquedas ul li a:hover{
  color:#9f9f9f !important;
  text-decoration: none;
}
.contIconsPlusMinus{
  float: left;
  width: 100%;
  height: 30px;
}
#right-filter-options{
  float: left;
width: 92%;
margin-left: 10px;
}
#right-filter-options .filters-block ul li div.nombre{
  padding-left: 3px;
}
#right-filter-options .filters-block ul li.control-row{
  /*display: none;*/
}
#right-filter-options .filters-block ul li a{
  /*width: 100% !important;*/
  float: left;
  font-size: 10px;
}
.btnEtiqueta{
  width: 100% !important;
}
.loaderEtiqueta{
  left: 84%;
}
#myTable tbody tr td b{
  font-size: 100%;
}
.fa-chevron-down{
float: right;
margin-top: -18px;
font-size: 10px !important;
opacity: 0.3;
padding-left: 4px;
margin-right: 6px;
}
.fa-plus-circle{
  font-size: 18px !important;
}
.fa-minus-circle{
  font-size: 18px !important;
}

.fa-file-excel-o{
  font-size: 18px !important;
}

.fa-tag{
  float: left;
margin-top: 8px;
margin-left: 7px;
margin-right: 10px;
}
#right-filter-options ul{
  display: block;
  float: left;
  padding-left: 0px;
  margin-left: 0px;
  width: 100%;
}
#busquedasAlertas{
  list-style: none !important;
  margin:0px !important;
  width: 100%;
  margin-top: 10px !important;
  max-height: 160px;
  overflow: hidden;
}
.fa-unlock-alt, .fa-pie-chart, .fa-floppy-o, .fa-power-off, .fa-download{
float: left;
font-size: 18px !important;
margin-left: 10px;
}
.linkMenu:hover{
  background: #eeeeee;
}
.contEtiquetas, .tituloPrincipalEtiquetas{
  float: left;
  width: 100%;
}
.contEtiquetas{
margin-top: -11px !important;
}
.tituloPrincipalEtiquetas{
  background: #ffffff;
padding: 5px 0px 5px 0px;
margin-bottom: 10px !important;
}
.tituloPrincipalEtiquetas .fa{
  margin-left: 10px;
  margin-right: 10px;
}
.tituloEtiqueta{
  background-color: #FFFFFF !important;
  border-bottom: 1px solid #E9E9E9 !important;
}
.tituloEtiqueta a{
  font-size: 11px !important;
  margin-left: 3% !important;
}
.tagsDivider{
  width: 92% !important;
margin-top: 40px !important;
margin-bottom: 10px !important;
}
.iconMySaveSearch{
display: block !important;
float: left !important;
margin-top: -17px !important;
margin-left: 2px !important;
width: 20px !important;
padding: 4px 5px !important;
}
.iconMySaveSearch img{
  margin-top: -4px;
width: 120% !important;
max-width: 120% !important;
}
.myActionsIcon{
  float: left;
  display: block;
  width: 15px;
  margin-top: -17px !important;
margin-left: 6px !important;
padding: 5px !important;
}
.iconMySaveSearch .fa{
float: left;
margin-left: 2px;
}
.myActionsIcon .fa{
  float: left;
margin-left: 2px;
}
#otramarca{
  display: none;
}
#divideBusquedasyTags{
  width: 92% !important;
  margin-left: 10px !important;
  margin-top: 40px !important;
  margin-bottom: 0px !important;
}
#btnSecundarias{
  width: 97%;
  background: none;
  border: none;
  text-align: left;
  font-size: 10px;
  color: #939393;
  float: left;
  cursor: pointer;
  margin-top: 5px;
  padding: 3px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 2px;
  font-size: 11px;
}
#inputSecundarias{
  display: none;
}
#marcadorOtrasMarcas{
  display: none;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  float: left;
margin-top: -16px;
background: #069;
border-radius: 3px;
padding: 3px 5px;
color: #ffffff;
margin-left: 0px;
cursor: pointer;
text-decoration: none;
font-size: 11px;
line-height: 14px;
}
#marcadorOtrasMarcas .icon-remove{
  font-size: 9px;
}
#marcadorOtrasMarcas:hover{
  background: #c6c6c6;
  color: #000000;
}
.leftColumn{
float: left;
width: 42%;
margin-left: 10px;
}
.rightColumn{
  float: right;
    width: 42%;
    margin-right: 10px;
}
.divider{
  border: 0.2px solid #c6c6c6 !important;
background: #c6c6c6 !important;
}
.leftColumn li{
  list-style: none;
padding: 5px;
border-bottom: 1px dotted #c6c6c6;
margin-left: -7px;
overflow: hidden;
width: 90% !important;
display: inline-block;
float: left;
}
.leftColumn li div a{
  text-decoration: none;
  color: #959595;
  font-size: 12px;
  height: 16px;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
.rightColumn li div a{
  text-decoration: none;
  color: #959595;
  font-size: 12px;
  -webkit-text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  height: 16px;
}
.rightColumn li{
   list-style: none;
  padding: 5px;
  border-bottom: 1px dotted #c6c6c6;
  width: 113px !important;
  overflow: hidden;
}
.icon-plus, .icon-minus{
  color: #ffffff;
}
#reset{
  display: block !important;
}
#error{
  display: none;
}
#labelComparacion{
  display: none;
}
.editarBusqueda{
}
.msgEdita{
  position: absolute;
  background: #585858;
  border-radius: 5px;
  left: 40%;
  top: 31px;
  z-index: 99999999;
  color: #ffffff;
  box-shadow: 0px 0px 15px #000000;
  font-size: 10px;
}
.msgBorra{
  position: absolute;
  background: #585858;
  padding: 5px;
  border-radius: 5px;
  left: 30%;
  top: 31px;
  z-index: 999999999;
  color: #ffffff;
  box-shadow: 0px 0px 15px #000000;
  font-size: 14px;
  padding: 10px;
}
.upArrowBorra{
  width: 14%;
  position: absolute;
  top: 10px;
  left: 65%;
  opacity: 0.5;
}
.upArrowEdita{
  width: 14%;
  position: absolute;
  top: 10px;
  left: 75%;
  opacity: 0.5;
}
#etiquetamedio{
  border-top: 2px solid #eeeeee;
}
#otras h4{
  display: none;
}
#etiquetamedio h4{
  display: none;
}
#etiquetaprograma h4{
  display: none;
}
#etiquetaproducto h4{
  display: none;;
}
.contieneAcciones{
  display: none;
  float: right;
  font-size: 13px;
}
#right-filter-options .filters-block ul li a{
  float: left;
  font-size: 11px;
}
.marcado{
  background: #c6c6c6;
}




#comparadorCompara{
      width: 14% !important;
      float: left;
    }
    #nombre0 {
      width: 40% !important;
      float: left;
    }
    #savesearch .modal-body {
      padding: 20px 10px 0 20px;
      margin-top: 0;
      width: 93%;
      min-height: 80px;
      float: left;
    }
    #nombre1 {
      margin-left: 12px !important;
      width: 42%;
    }
    #salvarbusqueda{
      margin-right: 1.5%;
    }
    #variableCompara {
      margin-left: 0px;
      width: 40% !important;
      margin-right: 2%;
      float: left;
    }
    #savesearch {
width: 40%;
z-index: 9999999;
}
.titulodeetiquetas{
      font-size: 11px;
      font-weight: bold;
      color: #596573;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      text-shadow: 0px 1px #ffffff;
      background: #ffffff;
      float: left;
      padding: 6px 0px;
      margin-top: -4px !important;
      margin-left: 0px;
      width: 64px;
    }
    .tituloPrincipalEtiquetas{
      background: #ffffff;
    }
    .tituloPrincipalEtiquetas .fa{
      float: left;
      opacity: 0.6;
    }

/*     MEDIA QUERIES */
@media (min-width: 1351px) and (max-width: 1450px){
  #variableCompara{
    margin-left: 0px;
    width: 40% !important;
    margin-right: 2%;
    float: left;
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 200px 5px !important;
  line-height: 15px;
  }
  #periodoCompara{
     appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
background: url('../img/downArrow.png') no-repeat #ffffff 200px 5px !important;
line-height: 15px;
float: left;
width: 40% !important;
  }
  #nombre1{
    margin-left: 12px !important;
width: 41.5%;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
background: url('../img/downArrow.png') no-repeat #ffffff 207px 5px !important;
line-height: 15px;
  }
  #nombre0{
    width: 40% !important;
    float: left;
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 200px 5px !important;
  line-height: 15px;
  }
  #comparadorCompara{
    width: 14% !important;
    float: left;
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 50px 6px !important;
  line-height: 15px;
  }
  #producto .producto {
float: left;
width: 29.7%;
margin: 1%;
padding: 1%;
box-shadow: 0 2px 4px rgba(0,0,0,0.3);
border: 1px solid #eee;
border-radius: 3px;
height: 250px;
margin-left: 0px;
}
#producto .producto .video-thumb {
background-color: #EEEEEE;
background-position: center center;
background-repeat: no-repeat;
background-size: 100% auto;
border: 1px solid #DADADA;
border-radius: 3px;
display: inline-block;
float: left;
font-size: 12px;
line-height: 80px;
max-height: 195px;
overflow: hidden;
position: relative;
text-align: center;
height: 150px;
width: 100%;
}
.myLabel {
float: left;
width: 35%;
clear: both;
}
#savesearch {
width: 45%;
z-index: 9999999;
}
}


@media (min-width: 1200px) and (max-width: 1350px){
  #producto .producto {
float: left;
width: 29.7%;
margin: 1%;
padding: 1%;
box-shadow: 0 2px 4px rgba(0,0,0,0.3);
border: 1px solid #eee;
border-radius: 3px;
height: 250px;
margin-left: 0px;
}
#producto .producto .video-thumb {
background-color: #EEEEEE;
background-position: center center;
background-repeat: no-repeat;
background-size: 100% auto;
border: 1px solid #DADADA;
border-radius: 3px;
display: inline-block;
float: left;
font-size: 12px;
line-height: 80px;
max-height: 195px;
overflow: hidden;
position: relative;
text-align: center;
height: 150px;
width: 100%;
}
  #variable{
  float: left;
  width: 36%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 187px 5px !important;
  line-height: 15px;
}
#savesearch #comparador {
width: 19%;
float: left;
margin-left: 9px;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
background: url('../img/downArrow.png') no-repeat #ffffff 88px 5px !important;
line-height: 15px;
}
#savesearch #periodo {
float: left;
width: 23%;
margin-left: 9px;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
background: url('../img/downArrow.png') no-repeat #ffffff 110px 5px !important;
line-height: 15px;
}
.titulodeetiquetas{
      font-size: 11px;
      font-weight: bold;
      color: #596573;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      text-shadow: 0px 1px #ffffff;
      background: #ffffff;
      float: left;
      padding: 6px 0px;
      margin-top: -4px !important;
      margin-left: 0px;
      width: 64px;
    }
    .tituloPrincipalEtiquetas{
      background: #ffffff;
    }
    .tituloPrincipalEtiquetas .fa{
      float: left;
      opacity: 0.6;
    }


  #rightSidebar .busquedas li.active.first{
  background:rgba(186, 204, 219, 0.18);
}
#rightSidebar .busquedas li.active.first a{
  font-weight: bold;
}
  .busquedaIndividual{
    width: 70% !important;
  }
  #savesearch {
    width: 49.8%;
    z-index: 9999999;
    left: 50%;
  }
  #comparadorCompara{
    width: 14% !important;
    float: left;
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 57px 6px !important;
  line-height: 15px;
  }
  #nombre1{
    margin-left: 12px !important;
    width: 41.5%;
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 214px 5px !important;
  line-height: 15px;
  }
  #nombre0{
    width: 40% !important;
    float: left;
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 205px 5px !important;
  line-height: 15px;
  }
  #salvarbusqueda{
    margin-right: -0.5%;
  }
  #savesearch .modal-body{
    padding: 20px 10px 0 20px;
    margin-top: 0;
    width: 95%;
    min-height: 80px;
    float: left;
  }
  #variableCompara{
    margin-left: 0px;
    width: 40% !important;
    margin-right: 2%;
    float: left;
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 205px 5px !important;
  line-height: 15px;
  }
  #periodoCompara{
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 135px 5px !important;
  line-height: 15px;
  }
}
@media (min-width: 1026px) and (max-width: 1199px){
  #busquedasAlertas{
  list-style: none !important;
  margin:0px !important;
  width: 100%;
  margin-top: 10px !important;
  max-height: 160px;
  overflow: hidden;
}
  #rightSidebar .busquedas li.active.first{
  background:rgba(186, 204, 219, 0.18);
}
#rightSidebar .busquedas li.active.first a{
  font-weight: bold;
}
#contSecundariasCheck:hover{
    background: rgba(186, 204, 219, 0.32);
    border-radius: 3px;
    padding-bottom: 5px;
  }
#savesearch {
    width: 60%;
    z-index: 9999999;
    left: 45%;
    }
  #right-filter-options .filters-block ul li a{
    float: left;
    font-size: 11px;
  }
  .contieneAcciones{
    display: none;
    float: right;
    font-size: 13px;
  }
  .busqueda{
    float: left !important;
    width: 60% !important;
    margin-left: 3px;
    color: #444444;
    font-weight: normal;
  }
  .busquedaIndividual{
    float: left !important;
    margin-left: 3px;
    color:#434343;
    width: 73% !important;
    margin-right: 0px !important;
    font-weight: normal;
  }
  .TabRes{
    font-size: 12px;
  }
  .iconMas{
    left: 85%;
  }
  #labelSecundarias{
    font-size: 14px;
  }
  #secundarias{
    width: 15px;
  }
  .producto{
    height: 210px;
  }
  #tituloMisBusquedas{
    border-bottom: 2px solid #eeeeee;
    margin-top: 1px !important;
  }
  #tituloMisBusquedas, .tituloPrincipalEtiquetas{
    font-size: 11px;
    font-weight: bold;
    color: #596573;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 1px #ffffff;
    background: #ffffff;
    float: left;
    width: 100%;
    padding: 6px 0px;
  }
  .tituloPrincipalEtiquetas .fa{
    margin-left: 10px;
    font-size: 16px;
    margin-right: 5px;
  }
  #reset{
  display: block !important;
}
.msgEdita{
  position: absolute;
  background: #585858;
  border-radius: 1px;
  left: 70%;
  top: 23px;
  z-index: 99999999;
  color: #ffffff;
  box-shadow: 0px 0px 5px #000000;
  font-size: 10px;
  padding: 1px 3px;
  height: 10px;
  line-height: 10px;
}
.msgBorra{
  position: absolute;
  background: #585858;
  border-radius: 1px;
  left: 45%;
  top: 20px;
  z-index: 999999999;
  color: #ffffff;
  box-shadow: 0px 0px 5px #000000;
  font-size: 10px;
  padding: 1px 3px;
  height: 10px;
  line-height: 10px;
}
#right-filter-options ul{
  width: 100%;
}
.upArrowBorra{
  width: 5%;
  position: absolute;
  top: 10px;
  left: 70%;
  opacity: 0.5;
}
.upArrowEdita{
  width: 5%;
  position: absolute;
  top: 15px;
  left: 85%;
  opacity: 0.5;
}
#etiquetamedio h4{
  display: none;
}
#etiquetaprograma h4{
  display: none;
}
#etiquetaproducto h4{
  display: none;;
}
#btnSecundarias{
  width: 97%;
  background: none;
  border: none;
  text-align: left;
  font-size: 10px;
  color: #939393;
  float: left;
  cursor: pointer;
  margin-top: 5px;
  padding: 3px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-left: 2px;
  font-size: 11px;
}
  #display{
    margin-left: 5px !important;
  }
}
@media (min-width: 1000px) and (max-width: 1025px){
  #producto-control-row .options-less{
    display: none;
  }
  #busquedasAlertas{
    list-style: none !important;
    margin:0px !important;
    width: 100%;
    margin-top: 10px !important;
    max-height: 160px;
    overflow: hidden;
  }
  #rightSidebar .busquedas li.active.first{
    background:rgba(186, 204, 219, 0.18);
  }
  #variableCompara {
    margin-left: 0px;
    width: 40% !important;
    margin-right: 2%;
    float: left;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../img/downArrow.png') no-repeat #ffffff 205px 5px !important;
    line-height: 15px;
  }
  #salvarbusqueda{
    margin-right: 1.5%;
  }
  #nombre1 {
    margin-left: 12px !important;
    width: 42%;
  }
  #savesearch .modal-body {
    padding: 20px 10px 0 20px;
    margin-top: 0;
    width: 93%;
    min-height: 80px;
    float: left;
  }
  #nombre0 {
    width: 40% !important;
    float: left;
  }
  #right-filter-options #etiquetamedio ul{
      width: 100% !important;
  }
  #right-filter-options #etiquetaproducto ul{
    width: 100% !important;
  }
  #right-filter-options #etiquetaprograma ul{
    width: 100% !important;
  }
  #right-filter-options #otras ul{
    width: 100% !important;
  }
  #comparadorCompara{
    width: 14% !important;
    float: left;
  }
  #myTable{
    width: 98%;
    margin-left: 0px;
  }
  #producto .producto{
    float: left;
    width: 29.7%;
    margin: 1%;
    padding: 1%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border: 1px solid #eee;
    border-radius: 3px;
    height: 233px;
    margin-left: 0px;
  }
  #producto .producto .video-thumb{
    background-color: #EEEEEE;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 1px solid #DADADA;
    border-radius: 3px;
    display: inline-block;
    float: left;
    font-size: 12px;
    line-height: 80px;
    max-height: 195px;
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 133px;
    width: 100%;
  }
  .titulodeetiquetas{
    font-size: 11px;
    font-weight: bold;
    color: #596573;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: 0px 1px #ffffff;
    background: #ffffff;
    float: left;
    padding: 6px 0px;
    margin-top: -4px !important;
    margin-left: 0px;
    width: 64px;
  }
  .tituloPrincipalEtiquetas{
    background: #ffffff;
  }
  .tituloPrincipalEtiquetas .fa{
    float: left;
    opacity: 0.6;
  }
  #right-filter-options ul{
    float: left;
    padding-left: 0px;
    margin-left: 0px;
    width: 100% !important;
  }
  .busquedaIndividual{
    float: left !important;
    margin-left: 3px;
    color: #434343;
    width: 60% !important;
    margin-right: 0px !important;
    font-weight: normal;
  }
  .leftColumn{
    float: left;
    width: 40%;
    margin-left: 10px;
  }
  .rightColumn{
    float: right;
    width: 40%;
    margin-right: 10px;
  }
  #right-filter-options .filters-block ul li a{
    float: left;
    font-size: 11px;
  }
  #btnSecundarias{
    width: 97%;
    background: none;
    border: none;
    text-align: left;
    font-size: 11px;
    color: #939393;
    float: left;
    cursor: pointer;
    margin-top: 5px;
    padding: 3px;
  }
  .myLabel{
    float: left;
    width: 36%;
    clear: both;
  }
  #savesearch{
    width: 60%;
    z-index: 9999999;
  }
  #variableCompara{
    margin-left: 0px;
    width: 40% !important;
    margin-right: 2%;
    float: left;
  }
  #nombre0{
    width: 40% !important;
    float: left;
  }
  #activa{
    background: #c6c6c6;
  }
  #activa a{
    font-weight: bold;
  }
  .contieneAcciones{
    display: none;
    float: right;
    font-size: 13px;
  }
  .busqueda{
    width: 100px !important;
    font-weight: normal;
  }
  #display{
    position: relative;
    width: 78%;
    float: left;
    margin-left: 5px !important;
  }
  #rightSidebar .busquedas li.active.first a{
  font-weight: bold;
  }
  #contSecundariasCheck:hover{
    background: rgba(186, 204, 219, 0.32);
    border-radius: 3px;
    padding-bottom: 5px;
  }
  #comparadorCompara{
    width: 14% !important;
    float: left;
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 57px 6px !important;
  line-height: 15px;
  }
  #nombre1{
    margin-left: 12px !important;
    width: 41.5%;
     appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/downArrow.png') no-repeat #ffffff 210px 5px !important;
  line-height: 15px;
  }
  #nombre0{
    width: 40% !important;
    float: left;
     appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../img/downArrow.png') no-repeat #ffffff 205px 5px !important;
    line-height: 15px;
  }
  #savesearch #periodo {
    float: left;
    width: 23%;
    margin-left: 9px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../img/downArrow.png') no-repeat #ffffff 107px 5px !important;
    line-height: 15px;
  }
  #periodoCompara{
     appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../img/downArrow.png') no-repeat #ffffff 135px 5px !important;
    line-height: 15px;
  }
}
.tablecol-brand-product {
  width: 300px;
}
.tablecol-media-program {
  width: 150px;
}
