/* Importando Configuracion */
/* Estilos Generales ------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\000035}}
body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #333;
  padding-top: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000311}}
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000313}}
.container {
  max-width: 960px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000315}}
.ver-mas {
  color: #ce000d;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000319}}
.ver-mas:hover {
  color: #ce000d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000322}}
.separador {
  height: 2px;
  background: url(../img/separador.png) no-repeat center center;
  *zoom: 1;
  margin: 40px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.separador:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000329}}
form {
  width: 320px;
  padding: 10px 20px 20px;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
form:after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000337}}
input[type="text"],
input[type="password"],
input[type="email"] {
  border: none;
  padding: 6px 10px;
  margin-bottom: 12px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000344}}
.submit {
  background: #ce000d;
  border: none;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 11px 19px 12px;
  display: inline-block;
  margin-right: 2px;
  -webkit-transition: all ease-out, 1s;
  -webkit-transition-delay: 0.2s, 0s;
  -moz-transition: all ease-out 0.2s, 1s;
  -o-transition: all ease-out 0.2s, 1s;
  transition: all ease-out 0.2s, 1s;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000355}}
.submit:hover {
  background: #ff0212;
}

/* Header ----------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000360}}
#header {
  background: #FFF;
  border-top: 5px solid #242424;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000369}}
#header .logo h1 {
  margin: 15px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000372}}
#header .top-nav {
  margin-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000374}}
#header .telefono {
  padding-left: 25px;
  font-size: 11px;
  display: inline-block;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000382}}
#header .contacto-btn {
  background: #ce000d;
  color: #FFF;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  -webkit-transition: all ease-out, 1s;
  -webkit-transition-delay: 0.2s, 0s;
  -moz-transition: all ease-out 0.2s, 1s;
  -o-transition: all ease-out 0.2s, 1s;
  transition: all ease-out 0.2s, 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000391}}
#header .contacto-btn:hover, #header .contacto-btn:focus {
  background: #ff0212;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\0000397}}
#header .login-btn {
  padding: 6px 11px;
  background: #333;
  color: #FFF;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all ease-out, 1s;
  -webkit-transition-delay: 0.2s, 0s;
  -moz-transition: all ease-out 0.2s, 1s;
  -o-transition: all ease-out 0.2s, 1s;
  transition: all ease-out 0.2s, 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003106}}
#header .login-btn:hover, #header .login-btn:focus {
  background: #4d4d4d;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003112}}
#header .dropdown {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003116}}
#contacto, #login {
  top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003119}}
#contacto .dismiss, #login .dismiss {
  display: inline-block;
  clear: both;
  float: right;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  line-height: 17px;
  padding: 0 4px 1px;
  border: 1px solid #333;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003133}}
#contacto input[type="text"],
#contacto input[type="password"],
#contacto input[type="email"], #login input[type="text"],
#login input[type="password"],
#login input[type="email"] {
  background: #e0e1e8 url(../img/forms-iconos.png) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003136}}
#contacto input.nombre, #login input.nombre {
  background-position: 98% 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003137}}
#contacto input.user, #login input.user {
  background-position: 98% 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003138}}
#contacto input.empresa, #login input.empresa {
  background-position: 98% -36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003139}}
#contacto input.tel, #login input.tel {
  background-position: 98% -81px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003140}}
#contacto input.email, #login input.email {
  background-position: 98% -120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003141}}
#contacto input.pass, #login input.pass {
  background-position: 98% -166px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003143}}
#contacto .msg-box, #login .msg-box {
  /*background: #EEE;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 2px;
  text-align: center;
  margin-bottom: 15px;
  display: none;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003154}}
#contacto:after, #login:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003165}}
#contacto .tooltip, #login .tooltip {
  width: 120px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003168}}
#contacto {
  left: -40%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003172}}
#login .forgot {
  color: #333;
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003179}}
#login:after {
  left: auto;
  right: 50px;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003185}}
#login .checkbox {
  font-size: 12px;
  font-style: italic;
  margin: 0;
}
/*@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003191}}
#login .submit {
  margin-top: -20px;
}*/

/* Intro & Carousel ------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003196}}
#features {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003199}}
#features .carousel-indicators {
  bottom: 65px;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003203}}
#features .carousel-indicators li {
  float: left;
  margin-right: 20px;
  background: url(../img/slider-nav.png) no-repeat left top;
  width: 25px;
  height: 27px;
  display: block;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003211}}
#features .carousel-indicators li.active {
  background-position: right 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003215}}
#features #captions {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003216}}
#features .caption {
  position: absolute;
  top: 65px;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003222}}
#features .caption.showing {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all ease-out, 1s;
  -webkit-transition-delay: 0.2s, 0s;
  -moz-transition: all ease-out 0.2s, 1s;
  -o-transition: all ease-out 0.2s, 1s;
  transition: all ease-out 0.2s, 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003228}}
#features .caption h2 {
  font-size: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003229}}
#features .caption p {
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003232}}
#features .ipad {
  width: 610px;
  height: 430px;
  position: relative;
  left: -60px;
  background: url(../img/ipad.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003238}}
#features .ipad .carousel-inner {
  position: absolute;
  top: 36px;
  left: 113px;
  width: 353px;
  height: 264px;
}

/* Mision y Redes Sociales -------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003247}}
#mision {
  margin-bottom: 78px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003249}}
#mision .copy {
  border-left: 7px solid #ce000d;
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003253}}
#mision h3 {
  font-size: 18px;
  margin: 0 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003257}}
#mision .blog-btn {
  padding: 5px 20px;
  background: #333;
  color: #FFF;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003265}}
#mision .social {
  margin: 10px 0 0;
  display: block;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003270}}
#mision .social li {
  float: left;
  margin-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003273}}
#mision .social li.last {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003275}}
#mision .social li a {
  background: url(../img/social.png) no-repeat;
  width: 26px;
  height: 26px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003279}}
#mision .social li a.linkedin {
  background-position: -27px top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003280}}
#mision .social li a.twitter {
  background-position: -54px top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003281}}
#mision .social li a.google {
  background-position: -80px top;
}

/* Clientes ------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003289}}
#clientes h3 {
  color: #646464;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003297}}
#clientes img {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003299}}
#clientes img.telecom {
  top: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003300}}
#clientes img.arcor {
  top: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003301}}
#clientes img.coca-cola {
  top: -5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003302}}
#clientes img.fiat {
  top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003303}}
#clientes img.santander {
  top: 17px;
}

/* Beneficios ------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003310}}
#beneficios .beneficios {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003312}}
#beneficios .beneficios .go-top {
  background: url(../img/go-top.png) no-repeat;
  padding: 2px 0 2px 27px;
  color: #777;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  bottom: -50px;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003321}}
#beneficios .beneficios .go-top:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003325}}
#beneficios .beneficios.beneficio-2 .go-top {
  left: auto;
  right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003332}}
#beneficios h2 {
  font-size: 30px;
  color: #858585;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003337}}
#beneficios p {
  font-size: 18px;
  color: #858585;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003342}}
#beneficios dl {
  margin-top: 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003344}}
#beneficios dl dt, #beneficios dl dd {
  padding-left: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003346}}
#beneficios dl dt {
  margin-bottom: 15px;
  color: #ce000d;
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003350}}
#beneficios dl dt.cobertura {
  background: url(../img/iconos/cobertura.png) no-repeat left top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003351}}
#beneficios dl dt.analisis {
  background: url(../img/iconos/analisis.png) no-repeat left top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003352}}
#beneficios dl dt.videos-audios {
  background: url(../img/iconos/videos-audios.png) no-repeat left top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003353}}
#beneficios dl dt.alertas {
  background: url(../img/iconos/alertas.png) no-repeat left top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003354}}
#beneficios dl dt.auditoria {
  background: url(../img/iconos/auditoria.png) no-repeat right top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003355}}
#beneficios dl dt.facil {
  background: url(../img/iconos/facil.png) no-repeat right top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003356}}
#beneficios dl dt.informacion {
  background: url(../img/iconos/informacion.png) no-repeat right top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003357}}
#beneficios dl dt.descarga {
  background: url(../img/iconos/descarga.png) no-repeat right top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003358}}
#beneficios dl dt.analisis2 {
  background: url(../img/iconos/analisis2.png) no-repeat left top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003359}}
#beneficios dl dt.servicio {
  background: url(../img/iconos/servicio.png) no-repeat left top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003360}}
#beneficios dl dt.licencias {
  background: url(../img/iconos/licencias.png) no-repeat left top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003363}}
#beneficios dl dd {
  font-size: 14px;
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003369}}
#beneficios dl.right dt, #beneficios dl.right dd {
  padding: 0 30px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003372}}
#beneficios .image {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003374}}
#beneficios .image.smartphones {
  top: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003375}}
#beneficios .image.imac {
  top: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003376}}
#beneficios .image.mac-air {
  top: 45px;
}

/* Redes Sociales ----------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003381}}
#redes-sociales {
  display: none;
  margin-top: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003384}}
#redes-sociales .container {
  max-width: 857px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003385}}
#redes-sociales .row {
  margin-bottom: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003386}}
#redes-sociales .col-sm-4, #redes-sociales .col-sm-8 {
  padding-left: 7px;
  padding-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003390}}
#redes-sociales .post {
  background: #333;
  color: #FFF;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003395}}
#redes-sociales .post h4 {
  color: #FFF;
  display: inline;
  background: rgba(206, 0, 13, 0.8);
  font-size: 30px;
  padding: 3px 5px;
  position: absolute;
  top: 20px;
  left: 0;
  max-width: 200px;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003408}}
#redes-sociales .post.large h4 {
  max-width: 300px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003412}}
#redes-sociales #tweets {
  background: url(../img/twitter-icon.png) no-repeat 20px 210px #6eb3e8;
  color: #FFF;
  padding: 40px 20px;
  font-size: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003417}}
#redes-sociales #tweets .time {
  color: #e1e2e9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003420}}
#redes-sociales #post-small #post-small-2, #redes-sociales #tweets, #redes-sociales .mas-blog {
  height: 273px;
  overflow: hidden;
}

/* Footer ----------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003427}}
#footer {
  background: #333;
  color: #FFF;
  padding: 30px 0 200px;
  margin-top: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003433}}
#footer .footer-menu {
  margin: 13px 0;
  padding: 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003438}}
#footer .footer-menu a {
  color: #FFF;
  font-size: 12px;
  font-weight: 300;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003445}}
#footer .telefono {
  font-size: 18px;
  font-weight: 300;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003450}}
#footer .social-footer {
  margin: 13px 0 0;
  padding: 0;
  display: block;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003456}}
#footer .social-footer li {
  float: left;
  margin-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003459}}
#footer .social-footer li.last {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003461}}
#footer .social-footer li a {
  background: url(../img/social-footer.png) no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003465}}
#footer .social-footer li a.facebook {
  background-position: -35px top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003466}}
#footer .social-footer li a.twitter {
  background-position: -71px top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003467}}
#footer .social-footer li a.google {
  background-position: -107px top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003472}}
#footer blockquote {
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  border: none;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003480}}
#footer blockquote:before, #footer blockquote:after {
  content: "";
  width: 16px;
  height: 14px;
  display: inline-block;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003487}}
#footer blockquote:before {
  background: url(../img/quote-open.png) no-repeat;
  left: -8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003492}}
#footer blockquote:after {
  background: url(../img/quote-close.png) no-repeat;
  right: -15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003498}}
#footer .reporte {
  height: 42px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003501}}
#footer .pulsosocial:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003503}}
#footer .pulsosocial:hover blockquote {
  color: #FFF;
}
#divisor{
  float: left;
  width: 100%;
  margin-left: 5px;
}
