.player_audio {
  width: 100%;
  position: absolute;
  bottom: 0px; }

.player-audio-images {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0; }

/*# sourceMappingURL=player_audio.css.map */
