<html>
    <head>
        <meta charset="utf-8">
        <title>Comparaci&oacute;n AS RUN</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="static/js/main.js"></script>
        <script type="text/javascript">
            $(function () {
                    $("#id_inverso").click(function () {
                        if ($("#id_inverso").is(':checked'))
                            $("#id_crear_emisiones_no_encontradas").parent().hide();
                        else
                            $("#id_crear_emisiones_no_encontradas").parent().show();
                    });
            });

            function loading(form)
            {
                //var loading_div = document.getElementById('loading');
                $('#loading').html('<h1 id="msg">Su archivo se está procesando, esto puede tomar varios minutos</h1>');
                return true;
            }
        </script>
    </head>
    <body>
        <div  id="header">
            <img id="logoAsRun" src="/static/img/logo.png">
            <h1><center>Comparaci&oacute;n AS RUN</center></h1>
        </div><!-- fin conatiner header-->
        <div class="principal">
                    <div id="atencion">
                        <h2 id="tituloAtencion">Atención:</h2>
                        <ul id="listaGeneral">
                            <h4 id="tituloAsegurese">Asegúrese de que su archivo cumple con los siguientes requisitos</h4>
                            <ul id="itemsPrincipales">
                                <li>FORMATO: csv</li>
                                <li>COLUMNAS:</li>
                                <ul id="itemsSecundarios">
                                    <li>ID (dtv) <sup>&Dagger;</sup></li>
                                    <li>Marca <sup>&Dagger;</sup></li>
                                    <li>Producto <sup>&Dagger;</sup></li>
                                    <li>Spotname</li>
                                    <li>Status <sup>*</sup></li>
                                    <li>Fecha</li>
                                    <li>Hora</li>
                                    <li>Duración <sup>*</sup></li>
                                    <li>Programa <sup>*</sup></li>
                                </ul><!-- fin ul itemsSecundarios -->
                            </ul><!-- fin ul itemsPrinsipales -->
                        </ul><!-- fin ul listaGeneral -->
                        <p>* No se usan actualmente.</p>
                        <p>&Dagger; Se puede controlar por A# o por Marca y Producto.
                            <ul>
                                <li>Si se encuentra una columna con el A# no se
                                    usar&aacute;n Marca ni Producto.</li>
                                <li>Si no se incluye #A, es obligatorio incluir
                                    Marca y Producto.</li>
                                <li>Marca y Producto deben coincidir plenamente con los de Infoad.</li>
                            </ul>
                        </p>
                    </div>

                <div class="contFormGeneral">
                    <h3 id="tituloForm">Subir archivo a comparar</h3>
                    <hr>
                    <form name="as_run_file" action="/control/as_run/" method="POST" onsubmit="return loading(this);" enctype="multipart/form-data" id="form">
                            {% csrf_token %}
                            <table>
                                {{form.as_p}}
                                <tr>
                                    <td></td>
                                    <td>
                                        <button class="btn btn-default btn-block" type="submit" id="btnCompara">Comparar</button>
                                    </td>
                                </tr>
                             </table><!-- fin table -->
                    </form><!-- fin form -->
                </div><!--fin cont general-->
        </div><!-- fin container-->
        <div class="container" id="contLoading">
            <div class="row">
                <div class="col-md-12">
                    <div id="loading" style="font-size: 2em; color: red;">
                    </div><!-- fin loading -->
                </div>
            </div>
        </div><!-- fin contLoading -->
    </body>
</html>
