<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30" />
    <title>Métricas de Infoxel</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="/static/js/maplabel-compiled.js"></script>

    <script>

  var titulo = new google.maps.LatLng(-10.924830, -105.131428);

  var argentina = new google.maps.LatLng(-31.417760, -67.184783);
  var bolivia = new google.maps.LatLng(-15.924830, -65.131428);
  var brasil = new google.maps.LatLng(-13.3129747, -53.6609157);
  var chile = new google.maps.LatLng( -28.609499, -71.671171);
  var colombia = new google.maps.LatLng(2.6131841, -77.2377539);
  var paraguay = new google.maps.LatLng(-24.034723, -58.758572);
  var peru = new google.maps.LatLng(-12.296301, -75.718817);
  var venezuela = new google.maps.LatLng(5.804740, -66.118772);
  



function crear_label(text, pos, map) {
  var mapLabel = new MapLabel({
           text: text,
           position: pos,
           map: map,
           fontSize: 20,
           align: 'left',
           fontColor: '#FF0000'
  });


}




function initialize() {
  

  var mapOptions = {
    zoom: 4,
    center: bolivia,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  /*  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });
  */

  crear_label("{{ titulo }}", titulo, map);
  crear_label("{{ valores.argentina }}", argentina, map);
  crear_label("{{ valores.brasil }}", brasil, map);
  crear_label("{{ valores.chile }}", chile, map);
  crear_label("{{ valores.colombia }}", colombia, map);
  crear_label("{{ valores.paraguay }}", paraguay, map);
  crear_label("{{ valores.peru }}", peru, map);
  crear_label("{{ valores.venezuela }}", venezuela, map);

}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>