<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>M&eacute;tricas diarias</title>
        <style>
          #principal {
              margin: 2px 0px;
              background-color: #DDD;
              padding: 10px 20px;
          }
          #form {
              background-color: #DDD;
              padding: 10px 20px;
              margin: 2px 0px;
          }
          #tabla {
              background-color: #DDD;
              padding: 10px 20px;
              margin: 2px 0px;
          }
          #header {
              background-color: #DDD;
              padding: 10px 20px;
              margin: 2px 0px;
          }
          #results {
              background-color: #DDD;
              padding: 10px 20px;
              margin: 2px 0px;
          }
          #error {
              color: red;
              padding: 10px 20px;
              margin: 2px 0px;
          }
          #button{
            color: #333;
            background-color: #99F;
          }
        </style>
    </head>
    <body>
        <div id="header">
            <h1><center>M&eacute;tricas diarias</center></h1>
        </div><!-- fin conatiner header-->
        <div id="form">
            <form name="metricas_diarias" action="/control/metricas/" method="POST" id="form">
                {% csrf_token %}
                <table>
                    <b>Seleccione un período</b><br>
                    {{form.as_table}}
                    <tr>
                        <td></td>
                        <td>
                            <br>
                            <button class="btn btn-default btn-block" type="submit" id="btn_submit">Mostrar m&eacute;tricas</button>
                        </td>
                    </tr>
                </table><!-- fin table -->
            </form><!-- fin form -->
        </div><!--fin div form -->
        <div id="results">
            <center id="mytable">
            {% if error %}
                <div id="error">
                  <p>{{ error }}</p>
                <div>
            {% else %}
                {% if metricas_table %}
                    {% autoescape off %}
                    {{ metricas_table }}
                    {% endautoescape %}
                {% endif %}
            {% endif %}
            </center>
            <div align="right">
                {% if metricas_table %}
                    <br>
                    <button onClick="doCsv()" id="button"><img src="{{STATIC_URL}}/img/excel.png" class="alt"/> Descargar Excel</button>
                {% endif %}
                <script type="text/javascript">
                function doCsv() {
                    var table = document.getElementById('mytable').innerHTML;
                    var data = table.replace(/&amp;/g, '&')
                        .replace(/<thead style="">/g, '')
                        .replace(/<\/thead>/g, '')
                        .replace(/<tbody style="">/g, '')
                        .replace(/<\/tbody>/g, '')
                        .replace(/<table style="background-color: #EEE;">/g, '')
                        .replace(/<\/table>/g, '')
                        .replace(/<tr style="background-color: #DDD;">/g, '')
                        .replace(/<tr style="">/g, '')
                        .replace(/<\/tr>/g, '\r\n')
                        .replace(/<th style="background-color: #BBB; padding: 10px 4px; margin: 2px 0px 2px 0px;">/g, '')
                        .replace(/<\/th>/g, ';')
                        .replace(/<td style="padding: 4px">/g, '')
                        .replace(/<\/td>/g, ';')
                        .replace(/\t/g, '')
                        .replace(/\n/g, '');
                    /* esto anda solo en chrome
                    var link = document.createElement('a');
                    link.download = 'metricas.csv';
                    link.href = "data:text/csv;charset=utf-8," + encodeURI(data);
                    link.click();
                    console.log(link);
                    */
                    var encoded_uri = "data:text/csv;filename=download.csv,charset=utf-8," + encodeURI(data);
                    window.open(encoded_uri);
                }
                </script>
            </div>
            </div>
    </body>
</html>
