<!doctype html>
<html lang="es">
  <head>
  </head>
  <body>
    <h1>Control de Tandas</h1>
    {% for medio in medios %}
      <h2>{{ medio.nombre }}</h2>
      {% if medio.tandas %}
        <h3>Tandas</h3>
        <p>{{ medio.total }} tanda{{ medio.total|pluralize }} - {{ medio.auto }} % automáticas</p>
      {% endif %}
      {% if medio.baches %}
        <h3>Baches</h3>
        {% for bache in medio.baches %}
          <p>{{ bache.desde}} - {{bache.hasta }}</p>
        {% endfor %}
      {% endif %}
      <hr>
    {% endfor %}
  </body>
</html>
