

<!DOCTYPE html>
<html>
<head><meta http-equiv="content-type" content="text/html; charset=UTF-8">

</head>

<body>

<!--Hola-->
<div  class="filters-block clearfix" style="margin-left: 51px;">
Saludos, {{nombre}}!
</div>
<br >

<!--Cuerpo-->
<div  class="filters-block clearfix" style="margin-left: 70px;">

Hemos recibido su solicitud para una demostración de la plataforma. <br>

A la brevedad recibirá nuestro llamado para conocer los intereses y necesidades específicas de su compañía y configurar juntos el servicio y soluciones más eficientes a la medida de sus objetivos.<br>

Ante cualquier consulta estamos a su disposición.<br>
</div>

<br >

<!--Chau-->
<div  class="filters-block clearfix" style="margin-left: 51px;">
Saludos!<br >

Equipo de InfoAd<br >

<b>0810 888 Info (4636)</b>
</div>
<br>


<!-- footer -->

<small>©2013 Infoxel de Argentina S.A. | http://www.infoxel.com | 0810 888 INFO (4636)
La información contenida en este mensaje y cualquier archivo anexo al mismo,
son para uso exclusivo del destinatario y pueden ser confidencial o propietaria,
cuya divulgación es sancionada por la ley. Todas las opiniones aquí contenidas
son propias del autor del mensaje y no necesariamente coinciden con las de
Infoxel de Argentina S.A. Los mensajes electrónicos pueden ser alterados,
motivo por el cual no se aceptará ninguna obligación cualquiera sea el resultante
de este mensaje</small>

</body>
