<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="google-site-verification" content="9Ps5cA7LYFcDZaqBXq8xNrEUhD0FjdpujQDzlU2uI6g" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="title" content="InfoAD">
	<meta name="description" content="Infoad es una plataforma online  simple, rápida y personalizada  para control y análisis  de inversión publicitaria en medios de comunicación.">
	<meta name="keywords" content="Monitoreo de campañas,Plataforma de publicidad,Relevamiento Publicitario,Servicio de Publicidad,Información de Medios,Investigación Publicitaria,Control de Inversión en Medios,Reportes y Alertas de Competencia,Optimizar medios, marketing, publicidad, Cobertura Tv Cable, Radio, Internet, Diarios y Revistas,Análisis de Competencia, Videos y Audios on line,Auditoria de Inversión en Medios,Métricas Publicitarias">
	<meta name="author" content="Infoxel">

	<meta property="og:url" content="http://infoad.com.ar/">
    <meta property="og:title" content="InfoAD">
    <meta property="og:description" content="Infoad es una plataforma online  simple, rápida y personalizada  para control y análisis  de inversión publicitaria en medios de comunicación.">
    <meta property="og:image" content="http://infoad.com.ar/static/home/img/infoad-fb-og.png">

	<link rel="shortcut icon" href="favicon.ico">

	<title>InfoAD</title>

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<!-- Bootstrap core CSS -->
	<link href="/static/home/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/static/home/css/infoad.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="/static/home/js/html5shiv.js"></script>
		<script src="/static/home/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

	<!-- Header -->
	<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-2 logo">
				<h1><span class="text-hide">InfoAd</span><img src="/static/home/img/logo.png"></h1></div>
			<div class="col-sm-6 col-sm-offset-4">
				<div class="top-nav pull-right">
					<span class="telefono">{{settings.TELEFONO}}</span>
					<!-- Contacto -->
					<div class="dropdown">
						<a data-toggle="dropdown" href="#" class="contacto-btn">Require Contact</a>
						<div id="contacto" class="dropdown-menu">

							<!-- Salesforce -->
							<form data-type="contacto" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8">
								<a href="#" class="dismiss">&times;</a>
								<input type=hidden name="oid" value="00DA0000000bSNv">
								<input type=hidden name="retURL" value="http://www.infoxel.com/">
								<input type="text" name="first_name" class="nombre" id="nombre" placeholder="Name" data-toggle="tooltip" title="mandatory field" data-required="true">				
								<input type="text" name="company" class="empresa" id="empresa" placeholder="Company">				
								<input type="text" name="phone" class="tel" id="telefono" placeholder="Phone Number">				
								<input type="email" name="email" class="email" id="email" placeholder="Email" data-toggle="tooltip" title="mandatory field" data-required="true">
								<input type="hidden" id="country" name="00NA0000004rghJ">

								<div class="msg-box en"></div>

								<input type="submit" value="Send" class="submit">

							</form>

						</div>
					</div>
					
					<!-- Login -->
					<div class="dropdown">
						<a data-toggle="dropdown" href="#" class="login-btn">Log In</a>
						<div id="login" class="dropdown-menu pull-right">
							<form data-type="login" action="/usuarios/ajax_login/">
								<a href="#" class="dismiss">&times;</a>

								<input type="text" name="user" id="user" class="user" placeholder="User" data-toggle="tooltip" title="mandatory field" data-required="true">				
								<input type="password" name="pass" id="pass" class="pass" placeholder="Password" data-toggle="tooltip" title="mandatory field" data-required="true">

								<div class="msg-box"></div>

								<div class="checkbox">
									<label><input type="checkbox" name="remember" id="remember">Remember Me</label>
								</div>
								<!--<a href="#" class="forgot">Olvidó su contraseña?</a>-->

								<input type="submit" value="Send" class="submit">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</header><!-- /.header -->

	<!-- Wrapper -->
	<div class="container">

		<!-- Intro -->
		<section id="features" class="carousel slide" data-interval="6000">
			<div class="row">
				<div class="col-sm-6">
					<div id="captions">			
						<div class="caption caption-1">
							<h2>Control your media investment</h2>
							<p>Audit and compare your own and competitors advertising in a simple, fast and personalized manner.</p>
							<a href="#" class="ver-mas" data-scroll-nav="0">View More</a>
						</div>

						<div class="caption caption-2">
							<h2>Generate reports and competition alerts</h2>
							<p>Analyze your investment in a wide range of TV and Radio signals, newspapers and websites from an online integrated panel.</p>
							<a href="#" class="ver-mas" data-scroll-nav="0">View More</a>
						</div>

						<div class="caption caption-3">
							<h2>Discover the best ads for your audience</h2>
							<p>Identify messages aimed at the same market segment, with filters and qualitative seekers.</p>
							<a href="#" class="ver-mas" data-scroll-nav="0">View More</a>
						</div>
					</div>
				</div>

				<div class="col-sm-6">			
					<div class="ipad">
		 				<div class="carousel-inner">
		  					<div id="slide1" class="item active" data-caption="caption-1">
								<img src="/static/home/img/slide-1.jpg" alt="">
							</div>
							<div id="slide2" class="item" data-caption="caption-2">
								<img src="/static/home/img/slide-2.jpg" alt="">
							</div>
							<div id="slide3" class="item" data-caption="caption-3">
								<img src="/static/home/img/slide-3.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<ol class="carousel-indicators">
				<li data-target="#features" data-slide-to="0" class="active"></li>
				<li data-target="#features" data-slide-to="1"></li>
				<li data-target="#features" data-slide-to="2"></li>
			</ol>
		</section><!-- /.intro -->



		<!-- Mision & Redes Sociales -->
		<section id="mision">
			<div class="row">
				<div class="col-sm-8">
					<div class="copy">
						<h3><strong>Infoad</strong> is a <strong>simple, fast and personalized online</strong> platform developed to analyze and control your <strong>advertising investment</strong> in mass media.</h3>
						<a href="#" class="ver-mas">View More</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="social-holder pull-right text-right">
						<a href="http://infoad.com.ar/blog/" target="_blank" class="blog-btn">Blog</a>
						<ul class="social">
							<li><a href="https://www.facebook.com/infoadok" class="facebook text-hide" title="Facebook" target="_blank">Facebook</a></li>
							<li><a href="http://www.linkedin.com/company/2257582?trk=tyah&trkInfo=tas%3Ainfoad%2Cidx%3A1-4-4" class="linkedin text-hide" title="Linkedin" target="_blank">Linkedin</a></li>
							<li><a href="https://twitter.com/infoadarg" class="twitter text-hide" title="Twitter" target="_blank">Twitter</a></li>
							<li class="last"><a href="http://gplus.to/infoad" class="google text-hide" title="Google Plus" target="_blank">Google Plus</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section><!-- /.mision & redes sociales -->



		<!-- Clientes -->
		<section id="clientes">
			<h3><strong>Optimizing media, marketing & advertising</strong> management of leader companies</h3>

			<div class="row">
				<div class="col-sm-2 text-center col-sm-offset-1"><img class="telecom" src="/static/home/img/clientes/telecom.png" alt="Telecom" title="Telecom"></div>
				<div class="col-sm-2 text-center"><img class="arcor" src="/static/home/img/clientes/arcor.png" alt="Arcor" title="Arcor"></div>
				<div class="col-sm-2 text-center"><img class="coca-cola" src="/static/home/img/clientes/coca-cola.png" alt="Coca Cola" title="Coca Cola"></div>
				<div class="col-sm-2 text-center"><img class="fiat" src="/static/home/img/clientes/fiat.png" alt="Fiat" title="Fiat"></div>
				<div class="col-sm-2 text-center"><img class="santander" src="/static/home/img/clientes/santander.png" alt="Santander Rio" title="Santander Rio"></div>
			</div>

			<div class="separador"></div>
			
		</section><!-- /.clientes -->



		<!-- Beneficios -->
		<section id="beneficios">
			
			<div data-scroll-index="0" class="beneficios beneficio-1">
				<div class="row">
					<div class="col-sm-10">
						<h2>Múltiples ventajas y beneficios</h2>
						<p>Un abanico de posibilidades para trabajar la información generando el resultado más eficiente para cada caso.</p>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6">
						
						<dl>
							<dt class="cobertura">Integrated coverage for TV, Cable, Radio, Internet, Newspapers and Magazines</dt>
							<dd>All information from the main media and markets across the country, integrated into a multi-line platform.</dd>

							<dt class="analisis">Competition Analysis</dt>
							<dd>Monitor your direct and indirect competitors investment, media mix, messages and strategy for competitive intelligence.</dd>

							<dt class="videos-audios">Online Original Video and Audio</dt>
							<dd>Availability of audiovisual material from the hole sector, industry or brands, both spots as complete runs or pages where the ad was actually published.</dd>

							<dt class="alertas">Searchs and Alerts by Mail</dt>
							<dd>Avoid wasting time assembling consultations and reports with configuring mailing alerts for any predefined behavior.</dd>
						</dl>

					</div>
					<div class="col-sm-6">
						<img class="image smartphones" src="/static/home/img/smartphones.png" alt="">
					</div>

				</div>
			<a href="#header" class="go-top">Back</a><!-- Scroll Top -->

			</div>

			<div class="separador"></div>

			<div class="beneficios beneficio-2">

				<div class="row">
					<div class="col-sm-10 col-sm-offset-2">
						<h2 class="text-right">La herramienta más completa y eficiente</h2>
						<p class="text-right">Infoad registra y despliega los datos específicos de pauta publicitaria requeridos por el usuario.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<img class="image imac" src="/static/home/img/imac.png" alt="">
					</div>
					<div class="col-sm-6">						
						<dl class="right text-right">
							<dt class="auditoria">Auditoría de Inversión en Medios</dt>
							<dd>Controle la inversion publicitaria que realiza su compañía en parametros de tiempo y espacio, en todo el país para marcas propias y relacionadas.</dd>

							<dt class="facil">Easy, Fast, without instalation</dt>
							<dd>Quick access interface. Simple and intuitive navigation, with information available online 24 hours after broadcasting nationwide. No need to download or install software.</dd>

							<dt class="informacion">Información de Mercado</dt>
							<dd>Compare la participación relativa, evolución de marcas, sector o industria en la inversion publicitaria del mercado medio por medio, mejorando la posición de compra o de negociación y venta en caso de medios.</dd>

							<dt class="descarga">Download Reports</dt>
							<dd>Set the information to export to automatic Excel and PDF reports.</dd>
						</dl>

					</div>
				</div>

				<a href="#header" class="go-top">Back</a><!-- Scroll Top -->

			</div>

			<div class="separador"></div>

			<div class="beneficios beneficio-3">

				<div class="row">
					<div class="col-sm-10">
						<h2>Información valiosa y útil a un click de distancia</h2>
						<p>Una plataforma online diseñada para optimizar la toma de desiciones y la estrategia de Marketing y Medios.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">

						<dl>

							<dt class="analisis2">Qualitative Analysis</dt>
							<dd>Identify the qualitative variables of advertising messages through filters like "Women", "Humor" or "Friendship"</dd>

							<dt class="servicio">Personal Servicie and Atention</dt>
							<dd>Account Executives will provide instant solutions looking for feedback and active participation in the construction of new versions of the tool.</dd>

							<dt class="licencias">Flexible Licenses according to Use</dt>
							<dd>Get access to information that you effectively need without having to pay for irrelevant data.</dd>
						
						</dl>

					</div>
					<div class="col-sm-6">
						<img class="image mac-air" src="/static/home/img/mac-air.png" alt="">
					</div>
				</div>
				<a href="#header" class="go-top">Back</a><!-- Scroll Top -->

			</div>

		</section><!-- /.beneficios -->

	</div><!-- /.wrapper -->

	<section id="redes-sociales">
		<div class="container">

			<div class="row">
				<div class="col-sm-4">
					<img class="blog+redes" src="/static/home/img/blog-redes.png" alt="">
				</div>
				<div class="col-sm-8">
					<div id="post-large" class="post large"></div>
				</div>				
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div id="post-small" class="post small"></div>
				</div>
				<div class="col-sm-4">
					<div id="tweets">
						<p>@infoad</p>
						<p>Aqui les dejamos los datos más destacados de la pauta en el sector automoviles: http://bit.ly/Xx1EsL</p>
						<p class="time">6 horas atrás</p>
					</div>
				</div>
				<div class="col-sm-4">
					<a href="http://infoad.com.ar/blog/" target="_blank"><img src="/static/home/img/mas-blog.png" alt=""></a>
				</div>
			</div>

		</div>
	</section>


	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<img src="/static/home/img/logo-footer.png" alt="InfoAD" title="InfoAD">
					<ul class="footer-menu">
						<li><a class="trigger" data-href="contacto" href="#">Request Contact</a></li>
						<li><a class="trigger" data-href="login" href="#">Log In</a></li>
						<li><a href="#">Blog</a></li>
					</ul>
					<h4 class="telefono">{{settings.TELEFONO}}</h4>
					<ul class="social-footer">
						<li><a href="http://www.linkedin.com/company/2257582?trk=tyah&trkInfo=tas%3Ainfoad%2Cidx%3A1-4-4" class="linkedin text-hide" title="Linkedin" target="_blank">Linkedin</a></li>
						<li><a href="https://www.facebook.com/infoadok" class="facebook text-hide" title="Facebook" target="_blank">Facebook</a></li>			
						<li><a href="https://twitter.com/infoadarg" class="twitter text-hide" title="Twitter" target="_blank">Twitter</a></li>
						<li><a href="http://gplus.to/infoad" class="google text-hide" title="Google Plus" target="_blank">Google Plus</a></li>
					</ul>
				</div>
				<div class="col-sm-5 text-center">
					<a class="pulsosocial" href="http://pulsosocial.com/2013/03/13/infoad-el-analytics-de-la-inversion-en-medios-offline/" target="_blank" title="Ver nota completa">
						<img src="/static/home/img/pulso-social.png" alt="Pulso Social" title="Pulso Social">
						<blockquote>El Analytics de la inversión <br>en medios offline</blockquote>
					</a>
				</div>
				<div class="col-sm-4 text-center">					
						<img class="reporte" src="/static/home/img/reporte-publicidad.png" alt="Prensario Internacional" title="Prensario Internacional">
						<blockquote>Las principales ventajas que INFOAD posee <br>acreditan su crecimiento como empresa <br>dentro del mercado publicitario.</blockquote>
					</a>
				</div>
			</div>
		</div>
	</footer><!-- /.footer -->
	

	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26916728-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

	<script src="/static/home/js/jquery-1.10.2.min.js"></script>
	<script src="/static/home/js/bootstrap.min.js"></script>
	<script src="/static/home/js/jquery.easing.min.js"></script>
	<script src="/static/home/js/scrollIt.min.js"></script>
	<script src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
	<script src="/static/home/js/infoad.js"></script>
</body>
</html>