<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="google-site-verification" content="9Ps5cA7LYFcDZaqBXq8xNrEUhD0FjdpujQDzlU2uI6g" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="title" content="InfoAD">
	<meta name="description" content="Infoad es una plataforma online  simple, rápida y personalizada  para control y análisis  de inversión publicitaria en medios de comunicación.">
	<meta name="keywords" content="Monitoreo de campañas,Plataforma de publicidad,Relevamiento Publicitario,Servicio de Publicidad,Información de Medios,Investigación Publicitaria,Control de Inversión en Medios,Reportes y Alertas de Competencia,Optimizar medios, marketing, publicidad, Cobertura Tv Cable, Radio, Internet, Diarios y Revistas,Análisis de Competencia, Videos y Audios on line,Auditoria de Inversión en Medios,Métricas Publicitarias">
	<meta name="author" content="Infoxel">

	<meta property="og:url" content="http://infoad.com.ar/">
    <meta property="og:title" content="InfoAD">
    <meta property="og:description" content="Infoad es una plataforma online  simple, rápida y personalizada  para control y análisis  de inversión publicitaria en medios de comunicación.">
    <meta property="og:image" content="http://infoad.com.ar/static/home/img/infoad-fb-og.png">

    <link rel="canonical" href="http://infoad.com.ar/"  type="text/html" />
    <link rel="author" href="https://plus.google.com/u/0/102075073735288911258/posts"/> 
 
	<link rel="shortcut icon" href="favicon.ico">

	<title>InfoAD - Monitoreo de publicidad TV, Radio, Diario</title>

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<!-- Bootstrap core CSS -->
	<link href="/static/home/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/static/home/css/infoad.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="/static/home/js/html5shiv.js"></script>
		<script src="/static/home/js/respond.min.js"></script>
	<![endif]-->
	<script src="/static/home/js/jquery-1.10.2.min.js"></script>
	<script src="/static/home/js/bootstrap.min.js"></script>
	<script src="/static/home/js/jquery.easing.min.js"></script>
	<script src="/static/home/js/scrollIt.min.js"></script>
	<script src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
	<script src="/static/home/js/infoad.js"></script>
</head>

<body>

	<!-- Header -->
	<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-2 logo">
				<h1><span class="text-hide">InfoAd - Análisis publicitario en medios de comunicación</span><img src="/static/home/img/logo.png"></h1></div>
			<div class="col-md-10">
				<div class="top-nav pull-right">
					<div id="selectorPais">
						<span id="capa" class="telefono">{{settings.TELEFONO}}</span>
						<img id="bandera" class="countryFlag" src="/static/home/img/{{settings.PAIS}}.png"  width=20 />
						<select id="combo">
							{% for pais in settings.PAISES %}
								<option value="{{pais.nombre}}">{{pais.nombre}}</option>
							{% endfor %}
						</select>
						<!-- Contacto -->
					</div>
					<!-- Login -->
					<div class="dropdown">
						<a data-toggle="dropdown" href="#" class="login-btn">Iniciar Sesión</a>
						<div id="login" class="dropdown-menu pull-right">
							<form data-type="login" action="/usuarios/ajax_login/">
								<a href="#" class="dismiss">&times;</a>

								<input type="text" name="user" id="user" class="user" placeholder="Usuario" data-toggle="tooltip" title="campo requerido" data-required="true">				
								<input type="password" name="pass" id="pass" class="pass" placeholder="Clave" data-toggle="tooltip" title="campo requerido" data-required="true">

								<div class="msg-box"></div>

								<!--<div class="checkbox">
									<label><input type="checkbox" name="remember" id="remember">Recordar mis datos</label>
								</div>-->
								<!--<a href="#" class="forgot">Olvidó su contraseña?</a>-->

								<input type="submit" value="Ingresar" class="submit">
							</form>
						</div>
					</div>


					<div class="dropdown" id="btnSolicitaDemo">
						<a data-toggle="dropdown" href="#" class="contacto-btn">Solicitar Demo</a>
						<div id="contacto" class="dropdown-menu">

							<!-- Salesforce -->
							<form data-type="contacto" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8">
								<a href="#" class="dismiss">&times;</a>
								<input type=hidden name="oid" value="00DA0000000bSNv">
								<input type=hidden name="retURL" value="http://www.infoxel.com/">
								<input type="text" name="first_name" class="nombre" id="nombre" placeholder="Nombre" data-toggle="tooltip" title="campo requerido" data-required="true">
								<input type="text" name="company" class="empresa" id="empresa" placeholder="Empresa"  data-toggle="tooltip" title="campo requerido" data-required="true">
								<input type="text" name="phone" class="tel" id="telefono" placeholder="Teléfono" data-toggle="tooltip" title="campo requerido" data-required="true">
								<input type="email" name="email" class="email" id="email" placeholder="Email" data-toggle="tooltip" title="campo requerido" data-required="true">
								<input type="hidden" id="country" name="00NA0000004rghJ">

								<div class="msg-box"></div>

								<input onClick="_gaq.push(['_trackEvent', 'consulta', 'solicitar', 'home']);" type="submit" value="Solicitar" class="submit">

							</form>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</header><!-- /.header -->

	<!-- Wrapper -->
	<div class="container">

		<!-- Intro -->
		<section id="features" class="carousel slide" data-interval="6000">
			<div class="row">
				<div class="col-sm-6">
					<div id="captions">			
						<div class="caption caption-1">
							<h2>Controle su inversión en medios</h2>
							<p>Audite y compare la publicidad propia y de competidores de forma simple, rápida y personalizada.</p>
							<a href="#" class="ver-mas" data-scroll-nav="0">Ver Más</a>
						</div>

						<div class="caption caption-2">
							<h2>Genere reportes y alertas  de competencia</h2>
							<p>Analice su inversión en cientos de señales de TV, Radio, Diarios e Internet desde un panel online integrado.</p>
							<a href="#" class="ver-mas" data-scroll-nav="0">Ver Más</a>
						</div>

						<div class="caption caption-3">
							<h2>Descubra las mejores publicidades para su público</h2>
							<p>Identifique los mensajes dirigidos a su mismo segmento de mercado, con filtros y buscadores cualitativos.</p>
							<a href="#" class="ver-mas" data-scroll-nav="0">Ver Más</a>
						</div>
					</div>
				</div>

				<div class="col-sm-6">			
					<div class="ipad">
		 				<div class="carousel-inner">
		  					<div id="slide1" class="item active" data-caption="caption-1">
		  					    <img src="/static/home/img/control-inversion-en-medios.jpg" alt="Investigar a la competencia">
							</div>
							<div id="slide2" class="item" data-caption="caption-2">
							    <img src="/static/home/img/reportes y alertas de publicidad.jpg" alt="Invertir publicidad en medios de comunicación">
							</div>
							<div id="slide3" class="item" data-caption="caption-3">
    							<img src="/static/home/img/detectar publicidades para su publico.jpg" alt="Identificar mensajes para su público">
							</div>
						</div>
					</div>
				</div>
			</div>
			<ol class="carousel-indicators">
				<li data-target="#features" data-slide-to="0" class="active"></li>
				<li data-target="#features" data-slide-to="1"></li>
				<li data-target="#features" data-slide-to="2"></li>
			</ol>
		</section><!-- /.intro -->



		<!-- Mision & Redes Sociales -->
		<section id="mision">
			<div class="row">
				<div class="col-sm-8">
					<div class="copy">
						<h3><strong>Infoad</strong> es una plataforma <strong>online  simple, rápida y personalizada</strong> para control y análisis de <strong>inversión publicitaria</strong> en medios de comunicación.</h3>
						<a href="#" class="ver-mas">Ver Más</a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="social-holder pull-right text-right">
						<a href="http://infoad.com.ar/blog/" target="_blank" class="blog-btn">Blog</a>
						<ul class="social">
							<li><a href="https://www.facebook.com/infoadok" class="facebook text-hide" title="Facebook" target="_blank">Facebook</a></li>
							<li><a href="http://www.linkedin.com/company/2257582?trk=tyah&trkInfo=tas%3Ainfoad%2Cidx%3A1-4-4" class="linkedin text-hide" title="Linkedin" target="_blank">Linkedin</a></li>
							<li><a href="https://twitter.com/infoadarg" class="twitter text-hide" title="Twitter" target="_blank">Twitter</a></li>
							<li class="last"><a href="http://gplus.to/infoad" class="google text-hide" title="Google Plus" target="_blank">Google Plus</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section><!-- /.mision & redes sociales -->



		<!-- Clientes -->
		<section id="clientes">
			<h3><strong>Optimizamos</strong> la gestión de <strong>medios, marketing &amp; publicidad</strong> de compañias líderes</h3>
			<div class="row">
				<div class="col-sm-2 text-center col-sm-offset-1"><img class="telecom" src="/static/home/img/clientes/telecom.png" alt="Telecom" title="Telecom"></div>
				<div class="col-sm-2 text-center"><img class="arcor" src="/static/home/img/clientes/arcor.png" alt="Arcor" title="Arcor"></div>
				<div class="col-sm-2 text-center"><img class="coca-cola" src="/static/home/img/clientes/coca-cola.png" alt="Coca Cola" title="Coca Cola"></div>
				<div class="col-sm-2 text-center"><img class="fiat" src="/static/home/img/clientes/fiat.png" alt="Fiat" title="Fiat"></div>
				<div class="col-sm-2 text-center"><img class="santander" src="/static/home/img/clientes/santander.png" alt="Santander Rio" title="Santander Rio"></div>
			</div>

			<div class="separador"></div>
			
		</section><!-- /.clientes -->



		<!-- Beneficios -->
		<section id="beneficios">
			
			<div data-scroll-index="0" class="beneficios beneficio-1">
				<div class="row">
					<div class="col-sm-10">
                        <h2><strong>InfoAD</strong> posee múltiples ventajas y beneficios</h2>
                        <p>Su <strong>plataforma de publicidad</strong> contiene un abanico de posibilidades para realizar un eficiente <strong>estudio de mercado</strong> generando los resultados más precisos para cada caso.</p>
     
     						
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6">
						
						<dl>
							<dt class="cobertura">Cobertura Integrada de TV, Cable, Radios, Internet, Diarios y Revistas</dt>
                            <dd>Analice toda la información de los principales soportes y mercados del país, integrada en una <strong>plataforma online multiusuario</strong>.</dd>
 
							<dt class="analisis">Análisis de Competidores</dt>
                            <dd>Monitoree la <strong>inversión</strong>, mix de medios, mensajes y <strong>estrategias de su competencia</strong>  directa e indirecta para actuar con rapidez e inteligencia.</dd>

							<dt class="videos-audios">Videos y Audios Originales en línea</dt>
                            <dd>Acceda fácilmente al material audiovisual de todo el sector, industria o marcas, tanto <strong>spots</strong> como <strong>tandas</strong> completas o páginas donde se publicó efectivamente el <strong>anuncio</strong>.</dd>

							<dt class="alertas">Búsquedas y Alertas por Mail</dt>
                            <dd>Evite perder tiempo armando consultas y reportes recurrentes con <strong>alertas por mail</strong> ante cualquier comportamiento predefinido.</dd>

						</dl>

					</div>
					<div class="col-sm-6">
						<img class="image smartphones" src="/static/home/img/Infoad en plataforma mobile.png" alt="">
					</div>

				</div>
			<a href="#header" class="go-top">Volver</a><!-- Scroll Top -->

			</div>

			<div class="separador"></div>

			<div class="beneficios beneficio-2">

				<div class="row">
					<div class="col-sm-10 col-sm-offset-2">
                        <h2 class="text-right"><strong>InfoAD</strong> es la herramienta mejor calificada por expertos en <strong>marketing</strong></h2>
                        <p class="text-right"><strong>InfoAD</strong> registra y despliega los datos específicos de <strong>pauta publicitaria</strong> requeridos por el usuario.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<img class="image imac" src="/static/home/img/Infoad en soporte imac.png" alt="">
					</div>
					<div class="col-sm-6">						
						<dl class="right text-right">
							<dt class="auditoria">Auditoría de Inversión en Medios</dt>
                            <dd>Controle la <strong>inversion publicitaria</strong> que realiza su compañía en parámetros de tiempo y espacio, en todo el país para marcas propias y relacionadas.</dd>
 
                            <dt class="facil"><strong>InfoAD</strong> es fácil, rápida y sin instalación</dt>
                            <dd>Interfaz de rápido acceso y navegación simple e intuitiva. Con <strong>información disponible online a 24hs</strong> de emitida en todo el país. <strong>No requiere decargar ni instalar software</strong>.</dd>

							<dt class="informacion">Información de Mercado</dt>
                            <dd>Compare la participación relativa, <strong>evolución de marcas</strong>, sector o industria en la <strong>inversion publicitaria del mercado</strong> medio por medio, mejorando la posición de compra o de negociación y venta en caso de medios.</dd>
  
							<dt class="descarga">Descarga de Informes</dt>
                            <dd>Configure la informacion que desea exportar en archivos Excel y <strong>reportes PDF automáticos</strong>.</dd>
						</dl>

					</div>
				</div>

				<a href="#header" class="go-top">Volver</a><!-- Scroll Top -->

			</div>

			<div class="separador"></div>

			<div class="beneficios beneficio-3">

				<div class="row">
					<div class="col-sm-10">
						<h2>Información valiosa y útil a un click de distancia</h2>
						<p>Una plataforma online diseñada para optimizar la toma de desiciones y la estrategia de Marketing y Medios.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">

						<dl>

							<dt class="analisis2">Análisis de Mensajes Cualitativos</dt>
							<dd>Identifique las variables cualitativas de los mensajes publicitarios, a través de filtros como “Mujeres”, “Humor” o “Amistad”</dd>

							<dt class="servicio">Servicio y Atención Personalizada</dt>
							<dd>Ejecutivos de cuenta y contacto personalizado le brindaran soluciones al instante buscando feedback y participación activa en la construcción de nuevas versiones de la herramienta.</dd>

							<dt class="licencias">Licencias Flexibles según uso</dt>
							<dd>Adquiera acceso a la informacion que efectivamente utiliza, sin necesidad de pagar por datos irrelevantes.</dd>
						
						</dl>

					</div>
					<div class="col-sm-6">
						<img class="image mac-air" src="/static/home/img/mac-air.png" alt="">
					</div>
				</div>
				<a href="#header" class="go-top">Volver</a><!-- Scroll Top -->

			</div>

		</section><!-- /.beneficios -->

	</div><!-- /.wrapper -->

	<section id="redes-sociales">
		<div class="container">

			<div class="row">
				<div class="col-sm-4">
					<img class="blog+redes" src="/static/home/img/blog-redes.png" alt="">
				</div>
				<div class="col-sm-8">
					<div id="post-large" class="post large"></div>
				</div>				
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div id="post-small" class="post small"></div>
				</div>
				<div class="col-sm-4">
					<div id="post-small-2" class="post small"></div>
					<!--<div id="tweets">
						<p>@infoad</p>
						<p>{{ultimo_tweet}}Aqui les dejamos los datos más destacados de la pauta en el sector automoviles: http://bit.ly/Xx1EsL</p>
						<p class="time">6 horas atrás</p>
					</div>-->
				</div>
				<div class="col-sm-4">
					<a href="http://infoad.com.ar/blog/" target="_blank"><img src="/static/home/img/mas-blog.png" alt=""></a>
				</div>
			</div>

		</div>
	</section>


	<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<img src="/static/home/img/logo-footer.png" alt="InfoAD" title="InfoAD">
					<ul class="footer-menu">
						<li><a class="trigger" data-href="contacto" href="#">Solicitar Contacto</a></li>
						<li><a class="trigger" data-href="login" href="#">Iniciar Sesión</a></li>
						<li><a href="http://infoad.com.ar/blog/" target="_blank" class="blog-btn">Blog</a></li>
					</ul>
					<h4 class="telefono">{{settings.TELEFONO}}</h4>
					<ul class="social-footer">
						<li><a href="http://www.linkedin.com/company/2257582?trk=tyah&trkInfo=tas%3Ainfoad%2Cidx%3A1-4-4" class="linkedin text-hide" title="Linkedin" target="_blank">Linkedin</a></li>
						<li><a href="https://www.facebook.com/infoadok" class="facebook text-hide" title="Facebook" target="_blank">Facebook</a></li>			
						<li><a href="https://twitter.com/infoadarg" class="twitter text-hide" title="Twitter" target="_blank">Twitter</a></li>
						<li><a href="http://gplus.to/infoad" class="google text-hide" title="Google Plus" target="_blank">Google Plus</a></li>
					</ul>
				</div>
				<div class="col-sm-5 text-center">
					<a class="pulsosocial" href="http://pulsosocial.com/2013/03/13/infoad-el-analytics-de-la-inversion-en-medios-offline/" target="_blank" title="Ver nota completa">
						<img src="/static/home/img/pulso-social.png" alt="Pulso Social" title="Pulso Social">
						<blockquote>El Analytics de la inversión <br>en medios offline</blockquote>
					</a>
				</div>
				<div class="col-sm-4 text-center">					
						<img class="reporte" src="/static/home/img/reporte-publicidad.png" alt="Prensario Internacional" title="Prensario Internacional">
						<blockquote>Las principales ventajas que INFOAD posee <br>acreditan su crecimiento como empresa <br>dentro del mercado publicitario.</blockquote>
					</a>
				</div>
			</div>
		</div>
	</footer><!-- /.footer -->
	

	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26916728-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	  




	</script>

	
</body>
</html>