{% extends "admin/base.html" %}

{% block extrahead %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    {% include 'autocomplete_light/static.html' %}
    <style media="screen" type="text/css">
    /*.ui-dialog-titlebar {
        cursor: pointer;
    }*/

    fieldset.grp-module .grp-row {
            overflow:visible;
    }

.yourlabs-autocomplete{
 max-height: 200px !important;
    overflow-y: scroll !important;
    }

     .autocomplete-light-widget
     {
 max-height: 200px !important;
    overflow-y: scroll !important;
    }
.grp-module .l-2c-fluid.grp-cell.l-d-4 .c-1 {
float:left;
width:50px;
min-width:50px;
}


.grp-module .grp-row.grp-cells:not(tr) .grp-cell {
    /*Fixes the autocomplete-light alignment in firefox*/
    position: static;
}

</style>



<script type="text/javascript">
var first = true;

    function get_duracion(){
        var producto = $('.autocomplete-light-widget select[name$=producto]').val();
        if (producto != null) {
            $.ajax({
                url: '/app/get_duracion/',
                type: 'GET',
                data: {producto:producto},
                dataType: "json",
                success: function(data){
                    $("#id_duracion").val(data["duracion"]);
                },
            });
        };

    }

    function get_programa(){
        var fecha = $("#id_fecha").val();
        var hora = $("#id_hora").val();
        var medio = $('.autocomplete-light-widget select[name$=medio]').val();
        if (medio != null && hora != "" && fecha != "") {
            $.ajax({
                url: '/app/get_programa/',
                type: 'GET',
                data: {fecha:fecha,hora:hora,medio:medio},
                dataType: "json",
                success: function(data){
                    $("#id_programa").val(data["programa"]);
                },
            });
        }

    }

    function traer_segun_tipo() {
        if ($('#id_tipo_0:radio:checked').length > 0 )  {
            $("div.titulo").hide();
            $("div.anunciantes").hide();
            $("div.tipo_publicidad").show();
            $("div.marca").show();
            $("div.producto").show();
            $("div.orden").show();
        } else  {
            $("div.marca").hide();
            $("div.producto").hide();
            $("div.tipo_publicidad").hide();
            $("div.titulo").show();
            $("div.anunciantes").show();
        }

    }

    if (window.location.href.search("/admin/app/audiovisual/") > -1){
        traer_segun_tipo();
        $('#id_tipo_0, #id_tipo_1').click(function() {
            traer_segun_tipo();
        });


        $('#fecha').change(function() {
            get_programa();
        });

        $('#hora').change(function() {
            get_programa();
        });

        $('.autocomplete-light-widget select[name$=medio]').change(function() {
            get_programa();
        });

        $('.autocomplete-light-widget select[name$=producto]').change(function() {
            get_duracion();
        });
    }


    if (window.location.href.search("/admin/app/marca/add") > -1){
    $('div > .anunciante').append("<a href='/admin/app/anunciante/add/' class='add-another' id='add_id_anunciante' onclick='return   showAddAnotherPopup(this);'><img src='/static/admin/img/icon_addlink.gif' width='10' height='10' alt='Agregar otro'></a></div>");

    }


    function get_tarifa(){
        var alto = $("#id_alto").val();
        var color = $("#id_color").is(':checked');
        var ancho = $("#id_ancho").val();
        var contra_tapa = $("#id_contra_tapa").is(':checked');
        var pagina = $("#id_orden").val();
        var seccion = $('.autocomplete-light-widget select[name$=programa]').val();
        var medio = $('.autocomplete-light-widget select[name$=medio]').val();


        if (alto != "" && ancho !="" && medio != null && seccion != null){
            $.ajax({
                url: '/app/tarifa/',
                type: 'GET',
                data: {seccion:seccion, color:color, ancho:ancho, alto:alto, medio:medio, pagina: pagina, contra_tapa: contra_tapa},
                dataType: "json",
                success: function(data){
                    $("#valor").val(data["tarifa"]);
                },
            });
        }else{
            console.log("NO ENTRA");
        }

    }


    if (window.location.href.search("/admin/app/grafica/") > -1){
        if ("/admin/app/grafica/".length + window.location.href.search("/admin/app/grafica/") != window.location.href.length){
        set_filtros();
        }
    }



    function set_filtros(){

        var countrySelectElement = $('.autocomplete-light-widget select[name$=medio]');
        var elem = countrySelectElement.attr('id').replace('medio', 'programa');
        var regionSelectElement = $('#' + elem);
        var regionWidgetElement = regionSelectElement.parents('.autocomplete-light-widget');
        console.log(countrySelectElement);
        console.log(regionSelectElement);
        console.log(regionWidgetElement);

        // When the country select changes
        value = countrySelectElement.val();

        if (value) {
            // If value is contains something, add it to autocomplete.data
            regionWidgetElement.yourlabsWidget().autocomplete.data = {
                'medio_id': value[0],
            };

        } else {
            // If value is empty, empty autocomplete.data
            regionWidgetElement.yourlabsWidget().autocomplete.data = {}
        }


        $('#id_alto').change(function() {
            get_tarifa();
        });

        $('#id_ancho').change(function() {
            get_tarifa();
        });

        $('#id_color').change(function() {
            get_tarifa();
        });

        $('#id_orden').change(function() {
            get_tarifa();
        });

        $('#id_contra_tapa').change(function() {
            get_tarifa();
        });


        $('.autocomplete-light-widget select[name$=programa]').change(function() {
            get_tarifa();
        });

    };

    if (window.location.href.search("/admin/app/grafica/") > -1){
        if ("/admin/app/grafica/".length + window.location.href.search("/admin/app/grafica/") != window.location.href.length){
        console.log("ENTRA");
        set_filtros();
        }
    }


    function cargar_marca(aux){
        if ($("#id_marca").val()) {
            aux.href='/admin/app/producto/add/?marca=' +$('#id_marca').val();
        }
        return   showAddAnotherPopup(aux);
    }
$(document).ready(function() {


    if (window.location.href.search("/grafica/add") != -1){
        if (first){
            $('div > .producto').append("<a href='/admin/app/producto/add/' class='add-another' id='add_id_producto' onclick='return cargar_marca(this)'><img src='/static/admin/img/icon_addlink.gif' width='10' height='10' alt='Agregar otro'></a>");
            first = false;

            $('div > .marca').append("<a href='/admin/app/marca/add/' class='add-another' id='add_id_marca' onclick='return   showAddAnotherPopup(this);'><img src='/static/admin/img/icon_addlink.gif' width='10' height='10' alt='Agregar otro'></a>         <div style=float:right;>    Valor    <input type=text id=valor readonly></div>");
            set_filtros();
     /*       $("#id_programa_text").css("display","none");*/
         /*   $(".yourlabs-autocomplete autocomplete-light-widget").css("overflow","scroll");
            $(".yourlabs-autocomplete autocomplete-light-widget").css("overflow","width: 250px");            */






        }








    }






    if (window.location.href.search("/audiovisual/add") != -1){
        if (first){
            first = false;

            $('div > .programa > div > span').append("<a href='/admin/app/programa/add/' class='add-another' id='add_id_producto' onclick='return cargar_marca(this)'><img src='/static/admin/img/icon_addlink.gif' width='10' height='10' alt='Agregar otro'></a>");

            $('div > .medio > div > span').append("<a href='/admin/app/medio/add/' class='add-another' id='add_id_producto' onclick='return cargar_marca(this)'><img src='/static/admin/img/icon_addlink.gif' width='10' height='10' alt='Agregar otro'></a>");


            $('div > .producto > div > span').append("<a href='/admin/app/producto/add/' class='add-another' id='add_id_producto' onclick='return cargar_marca(this)'><img src='/static/admin/img/icon_addlink.gif' width='10' height='10' alt='Agregar otro'></a>");

         $('div > .marca > div > span').append("<a href='/admin/app/marca/add/' class='add-another' id='add_id_marca' onclick='return   showAddAnotherPopup(this);'><img src='/static/admin/img/icon_addlink.gif' width='10' height='10' alt='Agregar otro'></a>");
            set_filtros();
     /*       $("#id_programa_text").css("display","none");*/
         /*   $(".yourlabs-autocomplete autocomplete-light-widget").css("overflow","scroll");
            $(".yourlabs-autocomplete autocomplete-light-widget").css("overflow","width: 250px");            */

        }
    }


    $('body').on('change', '.autocomplete-light-widget select[name$=marca]', function() {
        var marcaSelectElement = $(this);
        var regionSelectElement = $('#' + $(this).attr('id').replace('marca', 'producto'));
        var regionWidgetElement = regionSelectElement.parents('.autocomplete-light-widget');

        // When the country select changes
        value = $(this).val();

        if (value) {
            // If value is contains something, add it to autocomplete.data
            regionWidgetElement.yourlabsWidget().autocomplete.data = {
                'marca_id': value[0],
            };
        } else {
            // If value is empty, empty autocomplete.data
            regionWidgetElement.yourlabsWidget().autocomplete.data = {}
        }

        // example debug statements, that does not replace using breakbpoints and a proper debugger but can hel
        // console.log($(this), 'changed to', value);
        // console.log(regionWidgetElement, 'data is', regionWidgetElement.yourlabsWidget().autocomplete.data)

    });
});


</script>

<script type="text/javascript">
$(document).ready(function() {



    $('body').on('change', '.autocomplete-light-widget select[name$=medio]', function() {
        var countrySelectElement = $(this);
        var regionSelectElement = $('#' + $(this).attr('id').replace('medio', 'programa'));
        var regionWidgetElement = regionSelectElement.parents('.autocomplete-light-widget');
        console.log(countrySelectElement);
        console.log(regionSelectElement);
        console.log(regionWidgetElement);
           /*     $("#id_programa_text").css("display","none");*/
        // When the country select changes
        value = $(this).val();

        if (value) {
            // If value is contains something, add it to autocomplete.data
            regionWidgetElement.yourlabsWidget().autocomplete.data = {
                'medio_id': value[0],
            };
        } else {
            // If value is empty, empty autocomplete.data
            regionWidgetElement.yourlabsWidget().autocomplete.data = {}
        }

        // example debug statements, that does not replace using breakbpoints and a proper debugger but can hel
        // console.log($(this), 'changed to', value);
        // console.log(regionWidgetElement, 'data is', regionWidgetElement.yourlabsWidget().autocomplete.data)
    })
});







</script>



<div id="player">


<script type='text/javascript' src='/jwplayer/jwplayer.js'></script>




<script type='text/javascript'>

function ver_video(origen) {
     jwplayer('mediaspace').setup({
        'file': origen,
        'type': 'flv',
        'autostart': 'true',
        analytics: {enabled: false},
        'width': '470',
        'height': '320'
      });
      jwplayer().seek(100);
};


// function get_origen(){
//     var fecha = $("#id_fecha").val();
//     var hora = $("#id_hora").val();
//     var medio = $("#id_medio").val();
//     $.get("/app/get_origen/", {fecha:fecha, hora:hora, medio:medio}, function(data){
//             ver_video(data);
//             var a = data.split("/")
//             $("#id_origen").val(a[a.length-1]);
//         }
//     );

// };

function get_server(){
    var medio = $("#id_medio").val();
    $.get("/app/get_server/", {medio:medio}, function(data){
     });

};

function ver_video_origen(origen) {
     jwplayer('mediaspace-origen').setup({
        'file': origen,
        'type': 'flv',
        'autostart': 'true',
        analytics: {enabled: false},
        'width': '470',
        'height': '320'
      });
      jwplayer().seek(100);
};


function get_origen(){
    // FIXME: no deberia estar
    var isOrigen = window.location.href.match(/\/admin\/app\/origen\/\w+\//i) ? true : false;
    var origen_id = null;
    if (isOrigen) {
        origen_id = $('#id_emisiones-__prefix__-fuente').val();
    }

    var fecha = $("#id_fecha").val();
    var hora = $("#id_hora").val();
    var medio = $("#id_medio").val();
    $.get("/app/get_origen/", {fecha:fecha, hora:hora, medio:medio, origen_id:origen_id}, function(data){
            ver_video_origen(data);
            var a = data.split("/");
            $("#id_origen").val(a[a.length-1]);  // if isAudiovisual == true
            $("#id_archivo").val(a[a.length-1]); // if isOrigen == true
        }
    );
};


$(function() {

    // check for /admin/app/origen/(something) to display the video
    var isOrigen = window.location.href.match(/\/admin\/app\/origen\/\w+\//i);
    var isAudiovisual = window.location.href.match(/\/admin\/app\/audiovisual\/\w+\//i);
    if (isOrigen || isAudiovisual) {
        $("#id_fecha").on('input', get_origen);
        $("#id_hora").on('input', get_origen);
        $("#id_medio").change(get_origen);
        if (isOrigen){
            $("#id_medio").change(get_server);
        }
        $("#id_programa").change(get_origen);
        $('#ui-timepicker, #ui-datepicker-div').on('click', function(e){ get_origen(); });

        get_origen('mediaspace-origen');

        // Don't submit on enter keypress.
        $("form").keypress(function(e){
            if (e.which == 13) {
                var tagName = e.target.tagName.toLowerCase();
                if (tagName !== "textarea") {
                   return false;
                }
            }
        });

        // triggered when the user clicks in start and end inputs
        // gets the end-start difference and unchecks the is_clip_processed
        var calculateDuration = function ($grp_row) {
            var start = $grp_row.find('div.inicio input').val() || 0;
            var end = $grp_row.find('div.fin input').val() || 0;
            var duration = Math.round(end - start) || 0;

            // Set duration
            $grp_row.find('div.duracion input').val(duration);

            // Uncheck the is_clip_processed and mail_fue_enviado fields
            $grp_row.find('div.is_clip_processed input').prop("checked", false);
            $grp_row.find('div.mail_fue_enviado input').prop("checked", false);

            // Set the new filename with the new duration
            var newfilename = [start, end, $('#id_archivo').val()].join('_')
            $grp_row.find('input.clip-name').val(newfilename);
        }

        // Handle the start - end timepickers clicks and initialization.
        // Also if the start - end inputs are manually set, calculate the duration.
        $('input.start-end-timepicker')
            .after('<button type="button" class="ui-timepicker-trigger start-end-timepicker-trigger"></button>')
            .on('input', function(e) {
                calculateDuration($(this).parents('div.grp-row'));
            });

        // Handle clicks on start-end timepickers, get the current position of the video and calculate duration.
        $(document).on('click', 'button.start-end-timepicker-trigger', function (e) {
            $(this).siblings().filter('input').val(jwplayer().getPosition());
            calculateDuration($(this).parents('div.grp-row'));
        });

        if ($("#mediaspace-origen").html()==null) {
            /*Displays the video preview dialog*/
            $("<div></div> ").attr({'id': 'mediaspace-origen'}).dialog({
                draggable: false,
                resizable: false,
                width: 470,
                height: 350,
                title: 'Visualizar archivo',
                position: {
                    at: 'right bottom',
                    my: 'right bottom',
                    using: function(position, elements) {
                        var $this = $(this);
                        var grapelliFooterHeight = 65;
                        var outerWidth = $this.outerWidth();
                        var outerHeight = $this.outerHeight() + grapelliFooterHeight;
                        var $window = $(window);
                        var getDialogPosition = function () {
                            return {top: $window.scrollTop() + $window.height() - outerHeight, left: $window.width() - outerWidth}
                        }
                        $this.css(getDialogPosition());
                        $window.on({
                            'resize scroll': function(e) {
                                $this.css(getDialogPosition());
                            }
                        });
                    }
                },
                open: function(event, ui) {
                    // don't show the close button
                    $(".ui-dialog-titlebar-close").hide();

                    // animate the title to minimize/maximize the dialog
                    // $(".ui-dialog-titlebar").click(function(e) {
                    //     $this = $(this)
                    //     $this.toggleClass('maximized');
                    //     if($this.hasClass('maximized')) {
                    //         $this.parents('.ui-dialog').animate({
                    //             height: '40px',
                    //             top: $(window).height() - 50
                    //         }, 200);
                    //     } else {
                    //         $this.parents('.ui-dialog').animate({
                    //             height: '40px',
                    //             top: ($(window).height()-200)/2,
                    //             //set the height again
                    //             height: 200
                    //         }, 200);
                    //     }
                    // });

                }
            });
        };
    };
});



</script>


</div>
{% endblock %}
