<!DOCTYPE html>
{%load staticfiles%}
<html ng-app="infoxel_multimedia">
<head lang="en">
    <meta charset="UTF-8">
    <title>Material de Infoxel</title>
    <script src= "{%static "js/lib/jquery-1.11.1.min.js" %}" ></script>
    <script src= "{%static "lib/bootstrap/js/bootstrap.min.js" %}" ></script>
    <script src= "{%static "lib/angular-1.2.21/angular.js" %}" ></script>	
    <script src= "{%static "lib/angular-1.2.21/angular-cookies.js" %}" ></script>
	
    <script src= "{%static "js/material.js" %}" ></script>


	<link rel="stylesheet" href="{%static "lib/bootstrap/css/bootstrap.css" %}">
	<link rel="stylesheet" href="{%static "css/material.css" %}">



    <script src="{% static "lib/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap-datepicker/css/datepicker.css" %}" />
      

	<script>
	   var urlPostForm ='/material/'; 
        $(document).ready(function() {
    	   $('#id_fecha').datepicker({
               'format': 'dd/mm/yyyy',
    	       'autoclose': true,
    	       'orientation': 'top',
    	   });
        });
	</script>
    
    <style>
		.div-file:hover{cursor: pointer;}
    </style>
</head>
<body ng-controller="MultimediaController as multimedia">
	
	<div class="container">

		<div id="logo" class="row" style="margin-top:35px;">
			<div class="col-md-1">
				<img class="responsive" src="{%static "img/logo.png" %}">
			</div>

			<div class="col-md-5 col-lg-4">
				<div class="panel panel-default">
				  	<div class="panel-heading text-center">
				  		Búsqueda
				  	</div>
				  	<div class="panel-body">

					<form  id="multimedia_form" onsubmit="return  false;" ng-submit="multimedia.post_multimedia_form()">
			    		{%csrf_token%}

						<div class="form-group search-form-item">
							<div class="input-group col-xs-12">
								<div class="col-md-3 col-sm-2">
									<label style="line-height: 30px;" for="id_canal">Canal</label>
								</div>
								<div class="col-md-9 col-sm-10" ng-disble="true">
									{{form.canal}}
								</div>
							</div>
						</div>


						<div class="form-group search-form-item">
							<div class="input-group col-xs-12">
								<div class="col-md-3 col-sm-2">
									<label style="line-height: 30px;" for="id_fecha">Fecha</label>
								</div>
								<div class="col-md-9 col-sm-10" ng-disble="true">
									{{form.fecha}}
								</div>
							</div>
						</div>


						<div class="form-group search-form-item">
							<div class="input-group col-xs-12">
								<div class="col-md-3 col-sm-2">
									<label style="line-height: 30px;" for="id_programa">Programa</label>
								</div>
								<div class="col-md-9 col-sm-10">
									{{form.programa}}
								</div>
							</div>
						</div>

						<div class="row text-center" >
							<button ng-disabled="multimedia.post_disabled || multimedia_form.$invalid" type="submit" class="btn btn-large submit btn-danger"><i class="glyphicon glyphicon-search"></i> Buscar</button>
						</div>
			    		
					</form>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-7">
				
				<div class="panel panel-default">
				  <div class="panel-heading text-center"><i class="glyphicon glyphicon-th-list"></i> Archivos Disponibles</div>
				  <div class="panel-body" style="min-height: 214px;">
				    <div ng-hide="multimedia.archivos_disponibles.length" style="color:#999; text-align: center; padding: 17px 30px 18px;">
				    	<h4>Instrucciones</h4>
				    	<p>Seleccione un canal, una fecha y un programa. Presione el botón "Buscar" para mostrar una lista de archivos disponibles</p>
				    	<p>
				    </div>
					<div ng-show="multimedia.archivos_disponibles.length">
						<div class="col-lg-4 col-md-6 col-sm-4 col-sm-offset-0 col-xs-6" ng-repeat="archivo in multimedia.archivos_disponibles" style="margin-top:5px;">
							<div class="input-group input-group-lg">

							  	<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-file" aria-hidden="true"></i> {$archivo.file_name_clean$}</span>
							  	<span class="input-group-btn">
									<!--button type="button" class="btn btn-inv btn-secondary btn-large" aria-label="right Align"-->
    									    <a href="{$archivo.file_action$}" class="btn btn-inv btn-secondary btn-large" aria-label="right Align">
										<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
									    </a>
									<!--/button-->
								</span>
							</div>

						</div>
					</div>

				    <div ng-show="(!multimedia.archivos_disponibles.length) && multimedia.error_message"  class="alert alert-danger" role="alert">
				      <strong >Atención</strong> {$multimedia.error_message$}
				    </div>

				  </div>
				</div>

			</div>
		</div>
	</div>


	<script>
	 	
	 	var tag = '<option ng-show="multimedia.programas.length" ng-repeat="programa in multimedia.programas" value="{$programa.id$}">{$programa.programa__nombre$}</option>'
		$('#id_programa').append(tag);

		 
	</script>


	<div id="asyncLoader" style="position:fixed; z-index:1500; right:5px; top:5px;" ng><span class="label label-primary" ng-show="multimedia.ajax.is_loading">{$multimedia.ajax.message$}</span></div>

	<div id="overlayLoader" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; filter:alpha(opacity=50);-moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; z-index: 1499;" ng-show="multimedia.ajax.block_ui"> </div>

</body>
</html>