<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>

<body>

<!--Hola-->
<!--<div style="margin-left: 51px;">-->
<div>
Hola, {{nombre_usuario}}!
</div>
<br >
<!--Cuerpo-->
<!--<div style="margin-left: 70px;">-->
<div>
Esta es una notificación del servicio de alertas automáticas de infoAD. <br>
Las nuevas campañas en {{busqueda}} son:
<br >

	<div style="margin-top:10px">
		{% for producto in url_productos %}
			<div style="width:200px;">
				<!--<div style="position: relative;background-image:url({{producto.thumb}});background-position: center center;background-repeat: no-repeat;max-width: 100%;width: 100%;border: 1px solid #DADADA;border-radius:3px;max-height: 120px;height: 200px;">
				</div>-->
				{% if producto.thumb == '/static/design/thumb_tv_big.jpg' or producto.thumb == '/static/design/thumb_radio_big.jpg' or producto.thumb == '/static/design/thumb_diario_big.jpg' %}
					<img src="{{SITE_URL}}/{{producto.thumb}}" style="width:250px;" alt="{{producto.nombre}}">
				{% else %}
					<img src="{{producto.thumb}}" style="width:250px;" alt="{{producto.nombre}}">
				{% endif %}
			<p>
			</div>
			<div style="margin-top: 10px;">
					<div>
						<b>{{producto.nombre}}</b>
					</div>
					<div>{{producto.marca}} ({{producto.marca.anunciante}})</div>
					<div>Alta: {{producto.datos_alerta_nuevo_producto}} </div>
					<div>
					    <a target="_blank" href="{{SITE_URL}}/filtros/mostrar_producto/{{producto.id}}/">Ingresar</a>
					</div>
			</div>
		</p>
			<br>
		{% endfor %}
	</div>	
	<br >
</div>
<!--Chau-->
<div style="float:left;">
	<!--<div style="margin-left: 51px;margin-top:10px;float">-->
	<div>
	Continuamos trabajando para que ahorres tiempo y esfuerzo!<br>

	Saludos!<br>

	Equipo de InfoAd<br>

	<b>0810 888 Info (4636)</b>
	</div>
	<br >
	<p>Si no desea recibir más esta alerta, haga click <a href="{{SITE_URL}}/filtros/eliminar_alerta_producto/?perfil={{id_perfil}}">aquí</a></p>

	<br >
	<!-- footer -->
	<small>©2014 Infoxel de Argentina S.A. | http://www.infoxel.com | 0810 888 INFO (4636)
	La información contenida en este mensaje y cualquier archivo anexo al mismo,
	son para uso exclusivo del destinatario y pueden ser confidencial o propietaria,
	cuya divulgación es sancionada por la ley. Todas las opiniones aquí contenidas
	son propias del autor del mensaje y no necesariamente coinciden con las de
	Infoxel de Argentina S.A. Los mensajes electrónicos pueden ser alterados,
	motivo por el cual no se aceptará ninguna obligación cualquiera sea el resultante
	de este mensaje</small>

		</div>
	</div>
	<br >
</div>
</body>