<!DOCTYPE html>
<html>
<head><meta http-equiv="content-type" content="text/html; charset=UTF-8">

</head>

<body>

<!--Hola-->
<div  class="filters-block clearfix">
Hola, {{nombre_usuario}}!
</div>
<br >

<!--Cuerpo-->
<div  class="filters-block clearfix"> <!--  style="margin-left: 51px;"-->
Esta es una notificación automática de infoAD.
<br >
Tu búsqueda <b>"{{alerta.perfil.nombre}}"</b> ha llegado a
{{magnitud}} de <b>{{valor_alcanzado}} durante {{periodo}}</b>.
<br >
<p>
{% if sucedio %}
	{% if lapso == 'dia' %}
		La condición de alerta programada se está cumpliendo:
	{% else %}
		La condición de alerta programada ha empezado a cumplirse:
	{% endif %}
{% else %}
	La condición de alerta programada ha dejado de cumplirse:
{% endif %}
<br >
{% if es_maximo %}
    Está por {% if sucedio %}encima{% else %}debajo{% endif %} del máximo establecido de {{valor_de_referencia}} por {{lapso}}.
{% endif %}
{% if es_minimo %}
	Está por {% if sucedio %}debajo{% else %}encima{% endif %} del mínimo establecido de {{valor_de_referencia}} por {{lapso}}.   
{% endif %}
</p>
</div>

<!--Botón -->
<div style="font-family:Arial;width:150px;min-height:100%;color:#ffffff;background-color:#7fbf4d;border:1px solid #63a62f;border-bottom:1px solid #5b992b;background-image:-webkit-linear-gradient(top,#7fbf4d,#63a62f);background-image:-moz-linear-gradient(top,#7fbf4d,#63a62f);background-image:-ms-linear-gradient(top,#7fbf4d,#63a62f);background-image:-o-linear-gradient(top,#7fbf4d,#63a62f);background-image:linear-gradient(top,#7fbf4d,#63a62f);border-radius:3px;line-height:1;padding:7px 0 8px 0;text-align:center">
    <a target="_blank" href="{{url_busqueda}}" style="padding:10px;text-decoration:none;color:#ffffff">Entrá Ahora</a>
</div>

<!--Chau-->
<div  class="filters-block clearfix" >
<p>Se te notificará nuevamente vía mail cuando cambie el estado de alerta.<br >
Continuamos trabajando para que ahorres tiempo y esfuerzo!</p><br >



Saludos!<br >

Equipo de InfoAd<br >

<b>0810 888 Info (4636)</b>
</div>
<br >

<p>Si no desea recibir más esta alerta, haga click <a href="{{SITE_URL}}/filtros/eliminar_alerta/?alerta={{alerta.id}}">aquí</a></p>
<br >
<!-- footer -->

<small>©2013 Infoxel de Argentina S.A. | http://www.infoxel.com | 0810 888 INFO (4636)
La información contenida en este mensaje y cualquier archivo anexo al mismo,
son para uso exclusivo del destinatario y pueden ser confidencial o propietaria,
cuya divulgación es sancionada por la ley. Todas las opiniones aquí contenidas
son propias del autor del mensaje y no necesariamente coinciden con las de
Infoxel de Argentina S.A. Los mensajes electrónicos pueden ser alterados,
motivo por el cual no se aceptará ninguna obligación cualquiera sea el resultante
de este mensaje</small>

</body>
