
<!DOCTYPE html>
<html>
<head><meta http-equiv="content-type" content="text/html; charset=UTF-8">

<link href="http://clips.adbout.com:8080/multimedia/adbout/pdf.css" rel="stylesheet">
</head>

<body>







<div id="producto" class="filters-block clearfix" style="margin-left: 51px;">
Hola: {{nombre}}, aquí están las estadísticas más recientes de los últimos {{dias}} dias.

<tr>
<table border=1 align=center>
    <tr> <td>{{desde}}-{{hasta}}</td>   <td>{{inicial}} -{{hasta_vs}}</td>  <td>Unidad</td></tr>
    <tr> <td>{{anuncios.0}} </td>   <td>{{anuncios.1}}</td>  <td>Emisiones</td>  </tr> 
    <tr> <td>{{segundos.0}} </td>   <td>{{segundos.1}}</td> <td>Segundos/cm<sup>2</sup></td> </tr> 
    <tr> <td>{{superficie.0}}</td>  <td> {{superficie.1}}</td>  <td>Inversión Bruta</td>  </tr> 
    # FIXME: no está bien que diga superficie
</table>

<h3> Nuevos Productos </h3>



    <ul>
    {% for elem,thumb in productos %}
       <li>{{elem}}</li>
       {% endfor %}
   </ul>

  </div>
 
 
  <a href="http://adbout.com"> Entrá ahora  </a>






</body>
