<!DOCTYPE html>
<html>
<head>
    <title></title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body bgcolor="#000000">

<center>
<video width="100%" height="100%"  controls autoplay preload="auto" id="video"></video>

    <audio controls src="" autoplay id="audio">   </audio>
</center>

<script>


$(document).ready(function(){
    if ( "3" == "{{url}}"["{{url}}".length -1] ) {
        $("#video").hide();
        document.getElementById('audio').src="{{url}}";

    } else {
        $("#audio").hide();
        // document.getElementById('video').src="";
    }
});



setInterval(reload_dir,1000);

cargado = 0;
function reload_dir() {
        $.ajax({
          url: '{{status_url}}',
          type: "GET",
          cache: false,
          success: function(data, status){
            if (data.completed==100 && cargado!=100) {
                document.getElementById('video').src="{{url}}";
                cargado = 100;
            }
        }
        });
}

</script>

{{ response }}

</body>
</html>
