{% load staticfiles %}
<!doctype html>
<html ng-app='appInfoAd'>
    <head>
        <link rel="icon" type="image/ico" href="/mediamap/static/images/favicon.ico" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
        <!-- ************************************************************* -->

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>

        <script type="text/javascript" src="https://code.angularjs.org/1.4.2/angular-route.min.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.4.2/angular-resource.min.js"></script>
        <script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

       <script  type="text/javascript" src="/mediamap/static/js/libs/angular-resource-tastypie.min.js"></script>
        <script type="text/javascript" src="/mediamap/static/js/libs/isteven-multi-select.js"></script>
        <script  type="text/javascript" src="/mediamap/static/js/libs/angular-locale_es-ar.js"></script>
    
    
         <!-- ************************************************************* -->
    
        <script  type="text/javascript" src="/mediamap/static/js/utls/timepickerpop.js"></script>
    
        <!-- ************************************************************* -->
        <script  type="text/javascript" src="/mediamap/static/js/local_config.js"></script>
        <script  type="text/javascript" src="/mediamap/static/js/app.js"></script>
        <script  type="text/javascript" src="/mediamap/static/js/controllers.js"></script>
        <script  type="text/javascript" src="/mediamap/static/js/widgets.js"></script>
        <script  type="text/javascript" src="/mediamap/static/js/directives.js"></script>
        <script  type="text/javascript" src="/mediamap/static/js/services.js"></script>
        <script  type="text/javascript" src="/mediamap/static/js/infoad_services.js"></script>
        <script  type="text/javascript" src="/mediamap/static/js/segment_services.js"></script>
        <script  type="text/javascript" src="/mediamap/static/js/filters.js"></script>
    
        <!-- ************************************************************* -->

        <!-- STYLES -->

        <link rel="stylesheet" type="text/css" href="/mediamap/static/css/libs/isteven-multi-select.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.4/awesome-bootstrap-checkbox.min.css">
        <link rel="stylesheet" type="text/css" href="/mediamap/static/css/media_map.css">
        
    </head>

    <body ng-controller="mainController" data-ng-init="init()">
        <!-- WHOLE PAGE WRAPPER -->
         <div ng-include="'/mediamap/static/templates/main.html'"></div>
    </body>
</html>