<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{% block title %}Adtrack{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrapAT.min.css" rel="stylesheet">

    <!-- FontAwesome -->
    <!--<link href="{{STATIC_URL}}css/font-awesome.css" rel="stylesheet">-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Tags -->
    <link href="{{STATIC_URL}}css/bootstrap-tagsinput.css" rel="stylesheet">

    <!-- jQueryUI -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

    <!-- Carousel -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/carousel.css">

    <link rel="stylesheet" href="{{STATIC_URL}}css/context.bootstrap.css">
    

    <link rel="stylesheet" href="{{STATIC_URL}}css/jquery.contextMenu.css">

    <!-- Calendar -->
    <link rel="stylesheet" href="{{STATIC_URL}}calendar/css/datepicker.css" type="text/css"/>
    <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}calendar/css/layout.css"/>

    <!-- Custom -->
    <link rel="stylesheet" href="{{STATIC_URL}}css/customAT.css">



    {% block extra_head %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="page-wrap" style="margin-top:100px;">
      {% block content %}
      {% endblock %}
    </div>
   
  
    <!--<footer class="site-footer">
      <div class="container">
        <p class="pull-right"><a href="#" data-toggle="tooltip" title="Chat"><i class="fa fa-users fa-2x"></i></a></p>
      </div>
    </footer>-->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- Jquery UI -->
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{STATIC_URL}}js/bootstrapAT.min.js"></script>

    <script src="{{STATIC_URL}}js/context.js"></script>

    <script src="{{STATIC_URL}}js/jquery.ui.position.js"></script>
    <script src="{{STATIC_URL}}js/jquery.contextMenu.js"></script>

    <!-- Adtrack JS-->
    <script src="{{STATIC_URL}}js/base.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}calendar/js/datepicker.js"></script>
    <script src="{{STATIC_URL}}js/simple_calendar.js"></script>
	<link rel="stylesheet" href="{{STATIC_URL}}calendar/css/datepicker.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/simple_calendar.css">
    
    <script>
      $(function(){
        $('[data-toggle="tooltip"]').tooltip({'placement': 'auto'});
      });
      $('.Loader').fadeOut();
    </script>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
