{% extends 'base-adtrack.html' %}
{% block title %}Cargar Producto{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.tagsinput.css" />

  <!-- Video -->
  <link href="//vjs.zencdn.net/4.4/video-js.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <!-- NAVBAR -->
    <nav style="border-radius: 0;" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img style="float:left; height: 36px; margin:-10px 5px; " src="{{STATIC_URL}}img/logo-infoad.png"/></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li id="cortar_patron"><a href="/adtrack/cortar_patron/" data-toggle="tooltip" title="Cortar patrón"><span class="glyphicon glyphicon-tasks"></span></a></li>
          <li id="cargar_producto"><a href="/adtrack/cargar_producto/" data-toggle="tooltip" title="Cargar producto"><span class="glyphicon glyphicon-list-alt"></span></i></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a id="productos-pendientes" href="#"></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>{{user.username}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/accounts/logout"><span class="glyphicon glyphicon glyphicon-off"></span> Salir</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div id="autocomplete" class="form-group">
            <input style="width: 300px;" type="text" class="form-control"
            placeholder="Buscar por Industria, Marca o Sector" autofocus="autofocus">
          </div>
        </form>

      </div><!-- /.navbar-collapse -->
    </nav>
    <!-- END NAVBAR -->
	<div class="container" id="container">
        <!-- aca va el form de carga de datos del producto -->
        <div id="video_loading">
            <img style='display: block; margin: auto;' src="../../static/img/ajax-loader-video.gif" >
        </div>
  </div><!-- /.container -->
{% endblock %}

{% block scripts %}
    <!-- Tags -->
    <script src="{{STATIC_URL}}js/jquery.tagsinput.min.js"></script>

    <!-- Autocomplete -->
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <!-- token de seguridad -->
    {% csrf_token %}

    <!-- Cargar producto -->
    <script src="{{STATIC_URL}}js/cargar_producto.js"></script>

    <!-- Videojs -->

    <script src="//vjs.zencdn.net/4.4/video.js"></script>

{% endblock %}
