{% extends 'base-adtrack.html' %}
{% block title %}Cortar Patron{% endblock %}
{% block extra_head %}

  <!-- Calendar -->
  <link rel="stylesheet" href="{{STATIC_URL}}calendar/css/datepicker.css" type="text/css"/>
  <link rel="stylesheet" href="{{STATIC_URL}}css/badger.css" type="text/css"/>
  <link rel="stylesheet" media="screen" type="text/css" href="{{STATIC_URL}}calendar/css/layout.css"/>

  <!-- Video -->
  <link href="//vjs.zencdn.net/4.4/video-js.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- NAVBAR -->
    <nav style="border-radius: 0;" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img style="float:left; height: 36px; margin:-10px 5px; " src="{{STATIC_URL}}img/logo-infoad.png"/></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li id="cortar_patron"><a href="/adtrack/cortar_patron/" data-toggle="tooltip" title="Cortar patrón"><span class="glyphicon glyphicon-tasks"></span></a></li>
          <li id="cargar_producto"><a href="/adtrack/cargar_producto/" data-toggle="tooltip" title="Cargar producto"><span class="glyphicon glyphicon-list-alt"></span></i></a></li>
          <li style="width:200px;margin-top:8px;margin-right:10px;">
          <select id="comboMedios" class="form-control combo-medios">
            <option>Elija un medio</option>
          </select></li>
        </ul>




        <!-- Fechas -->

        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <div title="Análisis de fechas"  id="date-controls" class="BttH _OpenCalendar">
                        <span class="icon calendar"></span>
                        <span id="fecha_elegida"></span>
                        <span class="icon down"></span>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                    <div class="BlockSelectDate">
                        <div id="elegir_fecha"></div>
                        <input id="visoractual" type="text" style="display:none;"></input>
                    </div>
                    </li>
                </ul>
            </li>
        </ul>


        <ul class="nav navbar-nav navbar-left">
          <!--<li id="D"><a id="dia" class="filtro-fecha" href="#" data-toggle="tooltip" title="Último día">D</a></li>
          <li id="S"><a id="semana" class="filtro-fecha" href="#"  data-toggle="tooltip" title="Última semana">S</a></li>
          <li id="M"><a id="mes"  class="filtro-fecha" href="#"  data-toggle="tooltip" title="Último mes">M</a></li>
          <li id="T"><a id="todo"  class="filtro-fecha" href="#"  data-toggle="tooltip" title="Todo">T</a></li>-->
          <!--<li><a id="info-tanda" href="javascript:void(0)"></a></li>-->
          <li id="detectadas"><a href="javascript:void(0)"  data-toggle="tooltip" title="Mostrar thumbs de publicidades detectadas"><span class="glyphicon glyphicon-th-large"></span></a>
          </li>
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <li><a id="tandas-pendientes" href="#"></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>{{user.username}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a  href="/accounts/logout"  ><span class="glyphicon glyphicon glyphicon-off"></span> Salir</a></li>
            </ul>
          </li>
        </ul>
        <form>
        </form>
      </div><!-- /.navbar-collapse -->
    </nav>
    <!-- END NAVBAR -->
    <div id="container" class="container">
    </div><!-- /.container -->

    <div class="Loader"></div>
    
    <div class="modal" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close cerrarModal" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="tituloThumbsChicos" class="modal-title"></h4>
          </div>
          <div id="body-chicos" class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger cerrarModal" data-dismiss="modal">Cerrar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div style="overflow-y: hidden;" class="modal" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div style="width: 520px;" class="modal-dialog">
        <div class="modal-content">
          
          <div id="body-video" class="modal-body">
            <video id="videoTanda" class="video-js vjs-default-skin" controls preload="auto" width="480" height="300" >
            <source id="sourceVideo" src="" type="video/mp4" /></video>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger cerrarModalVideo" data-dismiss="modal">Cerrar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal" id="modalAmpliar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div style="width: 500px;" class="modal-dialog">
        <div class="modal-content">
          <!--<div class="modal-header">
            <button type="button" class="close cerrarModal" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4></h4>
          </div>-->
          <div id="thumbAmpliado" class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger cerrarModal" data-dismiss="modal">Cerrar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div style="overflow-y: hidden;" class="modal" id="modalMarca" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div style="width: 450px;" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close cerrarModalMarca" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="tituloModalMarca" class="modal-title">Asignar Marca</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                <div id="marca" class="col-md-12 col-md-offset-0">
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <a type="button" target="_blank" href="http://{{site_url}}/admin/app/marca/add/"  class="btn btn-primary crearMarca pull-left">Crear Marca</a>
            <!--<div class="btn-group">-->
              <button id="asignar" type="button" class="btn btn-success asignarMarca">Asignar</button>
              <button id="propia" type="button" class="btn btn-warning asignarMarca">Pauta Propia</button>
              <button type="button" class="btn btn-danger cerrarModalMarca" data-dismiss="modal">Cancelar</button>
            <!--</div>-->

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    

    <div style="overflow-y: hidden;" class="modal" id="myModalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div style="width: 400px;" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close cerrarModalError" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Error</h4>
          </div>
          <div class="modal-body">
            <h5>No se puede seleccionar un thumb anterior.</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger cerrarModalError" data-dismiss="modal">Cerrar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div style="overflow-y: hidden;" class="modal" id="modalPatronExistente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div style="width: 600px;" class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close cerrarModalPatronExistente" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Patrones Existentes</h4>
          </div>
          <div id="bodyPatronExistente" class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group input-group">
                  <input style="width:50%;float:left;" type="text" name="multiple[]" class="form-control marca_existente" placeholder="Marca" >
                  <select style="width:50%;float:right;" name="multiple[]"  class="form-control producto_existente">    
                    <option>Elija un producto</option>
                  </select>
                 <!-- <input style="width:50%;float:right;" type="text" name="multiple[]" class="form-control producto_existente" placeholder="Producto">-->
                  <span class="input-group-btn "><button type="button" class="btn-mas-renglon btn btn-default btn-add">+</button></span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="asignarPatronExistente" type="button" class="btn btn-success">Aceptar</button>
            <button type="button" class="btn btn-danger cerrarModalPatronExistente" data-dismiss="modal">Cerrar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    
{% endblock %}

{% block scripts %}
    <!-- Adtrack JS-->
    <script src="{{STATIC_URL}}js/base.js"></script>

    <!-- Cortar patron -->
    <script src="{{STATIC_URL}}js/cortar_patron.js"></script>
    <script src="{{STATIC_URL}}js/cortar_patron_utils.js"></script>
    <script src="{{STATIC_URL}}js/cortar_patron_filters.js"></script>
    <script src="{{STATIC_URL}}js/cortar_patron_marcado.js"></script>
    <script src="{{STATIC_URL}}js/patrones_existentes.js"></script>

    <script src="{{STATIC_URL}}js/unicode_hack.js"></script>
    <!-- Videojs -->
    <script src="//vjs.zencdn.net/4.4/video.js"></script>
{% endblock %}
