<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Subida de nuevo video</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/css/customAT.css">
</head>
<body id="cont">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Carga de nuevo video</h1>
        <hr id="linea">
        <form role="form" id="formSubeVideo" method="POST">
            {% csrf_token %}
          <label for="marca">Marca</label>
          <input type="text" class="form-control inputVideo" id="marca" disabled value="{{ producto.marca.nombre }}">
          <label for="nombre">Producto</label>
          <input type="text" class="form-control inputVideo" id="nombre" disabled value="{{ producto.nombre }}">
          <label for="tipo">Tipo de publicidad</label>
          <input type="text" class="form-control inputVideo" id="tipo" disabled value="{{ producto.tipo_publicidad}}">
          <label for="observaciones">Observaciones</label>
          <input type="text" class="form-control inputVideo" id="observaciones" disabled value='{{ Producto.observaciones }}'>
          <label for="etiquetas">Etiquetas</label>
          <input type="text" class="form-control inputVideo" id="etiquetas" disabled value="{{ etiquetas }}">
          <label for="archivo">Archivo</label>
          <input type="file" class="inputVideo" id="archivo">
          <span id="errorMsg"></span>
          <span id="successMsg"></span>
          <div id="loaderVideo">
            <img src="/static/img/indicator.gif">
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function(){
    (function($) {
        $.get = function(key)   {
            key = key.replace(/[\[]/, '\\[');
            key = key.replace(/[\]]/, '\\]');
            var pattern = "[\\?&]" + key + "=([^&#]*)";
            var regex = new RegExp(pattern);
            var url = unescape(window.location.href);
            var results = regex.exec(url);
            if (results === null) {
                return null;
            } else {
                return results[1];
            }
      }
  })(jQuery);

        var nombre = $.get("nombre");
        var marca = $.get("marca");
        var tipo = $.get("tipo");
        var observaciones = $.get("observaciones");
        var etiquetas = $.get("etiquetas");
        var archivo = $.get("archivo");


        // archivo(s)
        var files;

        // Evento para tomar los archivo
        $('input[type=file]').on('change', prepareUpload);

        // Tomar los archivos y guardarlos en la variable
        function prepareUpload(event)
        {
            files = event.target.files;
            console.log(files);
            // solo un archivo
            if (files.length > 1)
            {
                alert("Sólo puede subir un archivo");
                files = undefined;
                return;
            }
            // chequear que sea mp4
            if(!(files[0].type == 'video/mp4'))
            {
                alert("Seleccione un video en formato mp4");
                files = undefined;
                $('#archivo').val('');
                return;
            }
            uploadFiles();
        }


        function uploadFiles()
        {
            //event.stopPropagation(); // Stop stuff happening
            //event.preventDefault(); // Totally stop stuff happening

            // borrar mensajes de otras ejecuciones
            $('#errorMsg').css({'display':'none'});
            $('#successMsg').css({'display':'none'});

            if(files === undefined)
            {
                alert("No ha seleccionado ningún archivo");
                return;
            }

            $('#loaderVideo').css({'display':'block'});

            // Create a formdata object and add the files
            var data = new FormData();
            $.each(files, function(key, value)
            {
                data.append(key, value);
            });
            data.append('nombre_sugerido','{{ nombre_en_simpson }}');

            $.ajax({
                url: '{{ url_cargar_archivo }}',
                type: 'POST',
                data: data,
                cache: false,
                dataType: 'json',
                processData: false, // Don't process the files
                contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                success: function(data, textStatus, jqXHR)
                {
                    if(!data.error)
                    {
                        // Mensaje de ok
                        $('#loaderVideo').css({'display': 'none'});
                        $('#successMsg').css({'display': 'block'});
                        $('#successMsg').html(data.msg);
                    }
                    else
                    {
                        // Handle errors here
                        $('#loaderVideo').css({'display': 'none'});
                        $('#errorMsg').css({'display': 'block'});
                        $('#errorMsg').html('Error => 1' + data.msg);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    // Handle errors here
                    $('#loaderVideo').css({'display': 'none'});
                    $('#errorMsg').css({'display': 'block'});
                    $('#errorMsg').html('Error => ' + textStatus);
                }
            }); // fin ajax
        } // fin uploadFiles

        // recibir ausuario con el spinner oculto
        $('#loaderVideo').css({'display':'none'});
    });
  </script>
</body>
</html>
