@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\000035}}
body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #333;
  padding-top: 100px;
}
/* Footer ----------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003427}}
#footer {
  background: #333;
  color: #FFF;
  padding: 30px 0 200px;
  margin-top: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003433}}
#footer .footer-menu {
  margin: 13px 0;
  padding: 0;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003438}}
#footer .footer-menu a {
  color: #FFF;
  font-size: 12px;
  font-weight: 300;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003445}}
#footer .telefono {
  font-size: 18px;
  font-weight: 300;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003450}}
#footer .social-footer {
  margin: 13px 0 0;
  padding: 0;
  display: block;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003456}}
#footer .social-footer li {
  float: left;
  margin-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003459}}
#footer .social-footer li.last {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003461}}
#footer .social-footer li a {
  background: url(../img/social-footer.png) no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003465}}
#footer .social-footer li a.facebook {
  background-position: -35px top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003466}}
#footer .social-footer li a.twitter {
  background-position: -71px top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003467}}
#footer .social-footer li a.google {
  background-position: -107px top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003472}}
#footer blockquote {
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
  border: none;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003480}}
#footer blockquote:before, #footer blockquote:after {
  content: "";
  width: 16px;
  height: 14px;
  display: inline-block;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003487}}
#footer blockquote:before {
  background: url(../img/quote-open.png) no-repeat;
  left: -8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003492}}
#footer blockquote:after {
  background: url(../img/quote-close.png) no-repeat;
  right: -15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003498}}
#footer .reporte {
  height: 42px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003501}}
#footer .pulsosocial:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/fede\/projects\/adkiller\/adkiller\/home\/static\/home\/sass\/infoad\.scss}line{font-family:\00003503}}
#footer .pulsosocial:hover blockquote {
  color: #FFF;
}
