 {
  margin: 0;
}
.wrap-reconocido{
  margin-top:-20px;
  margin-bottom:-35px;
}
html, body {
  height: 100%;
  background: #eeeeee;
}
footer {
    color: #666;
    background: #222;
    padding: 12px 0 0 0; /* 17px 0 18px 0*/
}
footer a {
  color: #999;
}

footer a:hover {
    color: #efefef;
}

#datos_deteccion {
    background: #D5D5D5;
    margin: 20px 2px 10px 0px;
    padding: 2px;
}

.square {
  height: 40px;
  text-decoration:none;
  text-align: center;
  float:left;
  vertical-align:middle;
  line-height:35px;

  /*-webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;*/
}

.red {
  background: #d9534f;
  width: 6px;
}
.orange {
  background: #428bca;
  width: 6px;
}
.green {
  background: #5cb85c;
  width: 6px;
}
.grey {
  width: 1px;
  pointer-events: none;
  cursor: default;
  background: #eeeeee;
}
.red:hover {
  cursor: pointer;
}
.green:hover {
  background: #2A6496;
}
.grey:hover {
  background: #2A6496;
}
.hora {
  text-decoration:none;
  text-align: center;
  color: #3d3c3c;
}
.hora-activa {
  opacity: 0.5;
}
.hora:hover {
  color: black;
}

.LoaderAdtrack {
  position:fixed;
  width:25%; height:25%;
  margin:-50px 0 0 -50px;
  left:40%; top:50%;
  border-radius:5px;
  background-image: url('../img/load.png');
  background-repeat:no-repeat;
  background-position:center center;
  z-index: 100000;
}
.Loader {
  position:fixed;
  width:100px; height:100px;
  margin:-50px 0 0 -50px;
  left:50%; top:50%;
  border-radius:5px;
  background-image: url('../img/indicator.gif');
  background-position:center center;
  z-index: 100000;
}

.ocultocompleto {
	display:none;
}
.oculto {
  visibility:hidden;
}

/* Overwrite bootsrap */
.row-offset-0 {
    margin-left: 0;
    margin-right: 0;
}
.row-offset-0 > * {
    padding-left: 0;
    padding-right: 0;
}
.label,.glyphicon { margin-right:5px; }
#navbar2 {z-index:999;}
#navbar3 {z-index:998;}

#progress-flag-save {
	padding-top: 15px;
	padding-bottom: 15px;
  border-radius: 15px;
}
#nav2 {
  top: -20px;
}

.modal .modal-dialog
{
  width: 900px;
}



.resaltar-marca {
  border: solid;
}

.marca-producto {
  background-color: #9FF781;
  padding: 1px; /*5px*/
  -moz-border-radius: 15px;
  border-radius: 15px;

  border-style:solid;
  border-width:5px;
}

.marca-producto h5 {
  margin:5px 0px 5px 10px;
}

.fino {
  height:0px;
  margin:0px;
  padding:0px;
}

.ui-menu .ui-menu-item a {
  font-size: 12px;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1510 !important;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
}

.thumb {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:80%;
    padding:2%;
    /*display: none;*/
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.container { padding-left:3%;width: auto; }

.div-thumb {
  margin-top:-20px;
  margin-bottom: 5px;
  width:100px; /*120*/
}

.resaltado {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  /*width:150px; /*120*/
  /*height:98px; /*80*/
  border: solid 1px;
}

.div-thumb-chico {
  width:120px
}

.footer-guardar {
  background-color:lightgrey;
}

.nombre-marca {
  font-size:12px;
}

#error-cargar-tanda {
  text-align:center;
  box-shadow: 0px 0px 10px #ff0000;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 50px;
}

.mostrar_reconocido {
  cursor: pointer;
}


.eliminar_patron {
  cursor: pointer;
}

.label_horas  {
    clear: both;
}

.hora {
    float: left;
}

.numero_hora {
    text-align: left;
}

.marca_reconocida {
    font-size: 18px;
    color: #428bca;
    font-weight:bold;
}
#btnCargar{
  margin-left:-15%;
}
.inputVideo{
  margin-bottom: 10px;
  font-size: 20px;
  height: 40px;
}
#formSubeVideo{
  width: 35%;
  margin: 0 auto;
}
#linea{
  border-color:#D5D5D5 !important;
}
#btnSearchFile{
  margin-bottom: 10px;
}
#loaderVideo{
  text-align: center;
  margin-top: 100px;
}
.btn-file {
    position: relative;
    overflow: hidden;
    margin-left: -25px;
  height: 50px;
  line-height: 35px;
  font-size: 18px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#errorMsg{
  width: 100%;
  height: 40px;
  border: 1px solid #E73E3E;
  text-align: center;
  float: left;
  border-radius: 3px;
  margin-top: 30px;
  box-shadow: 0px 0px 15px #e73e3e;
  background: #E73E3E;
  color: #c6c6c;
  display: none;
}

#successMsg{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(119, 163, 79, 0.41);
  text-align: center;
  float: left;
  border-radius: 3px;
  margin-top: 30px;
  box-shadow: 0px 0px 15px rgb(50, 83, 94);
  background: rgb(118, 248, 101);
  color: #c6c6c;
  display: none;
}
#btnSubir{
}
