.BlockSelectDate {
  position:fixed;
  display:none;
  width:470px;
  padding:15px;
  top:48px; right:40px;
  background-color:#FFF;
  box-shadow:0 1px 4px rgba(0,0,0,0.2);
  z-index: 100;
  cursor: default;
}
.BlockSelectDate .ArrowTop {
  position:absolute;
  margin:-30px 0 0 85%;
  border-color:transparent transparent #FFF;
  border-style:solid;
  border-width:0 15px 15px;
  width:0;
}
.OverCalendar {
  position:absolute; 
  width:226px; 
  height:150px; 
  background-image:url('../img/BackW50.png');
  z-index: 1;
}

.Header #date-controls {width: 195px;}

.icon {
  position: absolute;
  top: 15px; left: 3px;
  display: block;
  width: 22px; height: 22px;
  opacity: 0.9;
}
.icon.down {
  background: url(../img/gral/icons/down_w.png) no-repeat;
  top: 15px; right: 3px; left: auto;
  width: 16px; height: 16px;
  opacity: 0.6;
}
.icon.world {background: url(../img/gral/icons/world.png) no-repeat;}
.icon.calendar {background: url(../img/gral/icons/calendar.png) no-repeat;}
.icon.user {background: url(../img/gral/icons/user.png) no-repeat;}

.Header .dropdown-menu {
  top: 38px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
.Header .dropdown-toggle { 
  border-radius: 3px;
  padding: 6px 0px 3px 35px;
  color: #FFF;
  display:block;
}
#fecha_elegida {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
}
