// Importando Uilidades CSS3
@import "compass/css3";
@import "compass/utilities/general/clearfix";

// Fuentes
$lato: 'Lato', Arial, Helvetica, sans-serif;

// Colores
$red: #ce000d;
$gris: #646464;
$gris2: #858585;
$input: #e0e1e8;