/* Importando Configuracion */
@import "base.scss";

/* Estilos Generales ------------------------------------------------------- */
body {
	font-family: $lato;
	color: #333;
	padding-top: 100px;
}

h1, h2, h3, h4, h5, h6 {font-family: $lato;}

.container {max-width: 960px;}

.ver-mas {
	color: $red;
	font-size: 12px;

	&:hover {color: $red;}
}

.separador {
	height: 2px;
	background: url(../img/separador.png) no-repeat center center;
	@include pie-clearfix;
	margin: 40px 0;
}

form {
	width: 320px;
	padding: 10px 20px 20px;
	@include pie-clearfix;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	border: none;
	padding: 6px 10px;
	margin-bottom: 12px;
	width: 100%;
	@include box-sizing(border-box);
}
.submit {
	background: $red;
	border: none;
	color: #FFF;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	padding: 11px 19px 12px;
	display: inline-block;
	margin-right: 2px;
	@include single-transition(all ease-out 0.2s);
	&:hover {background: lighten($red, 10%);}
	float: right;
}

/* Header ----------------------------------------------------------------- */
#header {
	background: #FFF;
	border-top: 5px solid #242424;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	.logo {
		h1 {margin: 15px 0 0;}
	}

	.top-nav {margin-top: 30px;}

	.telefono {
		padding-left: 25px;
		font-size: 11px;
		display: inline-block;
		margin-right: 10px;
	}

	.contacto-btn {
		background: $red;
		color: #FFF;
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
		padding: 10px 10px;

		@include single-transition(all ease-out 0.2s);
		&:hover, &:focus {
			background: lighten($red, 10%);
			text-decoration: none;
		}
	}

	.login-btn {
		padding: 6px 11px;
		background: #333;
		color: #FFF;
		font-size: 11px;
		text-align: center;
		text-transform: uppercase;

		@include single-transition(all ease-out 0.2s);
		&:hover, &:focus {
			background: lighten(#333, 10%);
			text-decoration: none;
		}
	}

	.dropdown {
		display: inline-block;
	}
}
#contacto, #login {
	top: 50px;

	.dismiss {
		display: inline-block;
		clear: both;
		float: right;
		color: #333;
		font-size: 18px;
		font-weight: bold;
		line-height: 17px;
		padding: 0 4px 1px;
		border: 1px solid #333;
		margin-bottom: 10px;
	}
	input[type="text"],
	input[type="password"],
	input[type="email"] {
		background: $input url(../img/forms-iconos.png) no-repeat;
	}
	input.nombre {background-position: 98% 6px;}
	input.user {background-position: 98% 6px;}
	input.empresa {background-position: 98% -36px;}
	input.tel {background-position: 98% -81px;}
	input.email {background-position: 98% -120px;}
	input.pass {background-position: 98% -166px;}

	.msg-box {
		background: #EEE;
		color: #333;
		font-size: 14px;
		font-weight: bold;
		padding: 5px 2px;
		text-align: center;
		margin-bottom: 15px;
		display: none;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: -10px; left: 50%;
		margin-left: -5px;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #FFF;
	}

	.tooltip {width: 120px;}
}

#contacto {
	left: -40%;
}
#login {
	.forgot {
		color: #333;
		font-size: 12px;
		font-style: italic;
		text-decoration: underline;
	}

	&:after {
		left: auto;
		right: 50px;
		margin-left: 0;
	}

	.checkbox {
		font-size: 12px;
		font-style: italic;
		margin: 0;
	}
	
	.submit {margin-top: -20px;}

}

/* Intro & Carousel ------------------------------------------------------- */
#features {
	position: relative;

	.carousel-indicators {
		bottom: 65px;
		list-style: none;
		
		li {
			float: left;
			margin-right: 20px;
			background: url(../img/slider-nav.png) no-repeat left top;
			width: 25px; height: 27px;
			display: block;
			cursor: pointer;

			&.active {background-position: right 1px;}
		}
	}
	
	#captions {position: relative;}
	.caption {
		position: absolute;
		top: 65px; left: 0;
		@include opacity(0);
		@include translateY(-30px);
	
		&.showing {
			@include opacity(1);
			@include translateY(0);
			@include single-transition(all ease-out 0.2s);
		}

		h2 {font-size: 36px;}
		p {font-size: 18px;}
	}

	.ipad {
		width: 610px; height: 430px;
		position: relative;
		left: -60px;
		background: url(../img/ipad.png);

		.carousel-inner {
			position: absolute;
			top: 36px; left: 113px;
			width: 353px; height: 264px;
		}
	}
}

/* Mision y Redes Sociales -------------------------------------------------- */
#mision {
	margin-bottom: 78px;
	.copy {
		border-left: 7px solid $red;
		padding-left: 20px;
	}
	h3 {
		font-size: 18px;
		margin: 0 0 5px;
	}
	.blog-btn {
		padding: 5px 20px;
		background: #333;
		color: #FFF;
		font-size: 11px;
		text-align: center;
		text-transform: uppercase;
	}
	.social {
		margin: 10px 0 0;
		display: block;
		list-style: none;

		li {
			float: left;
			margin-right: 4px;
			&.last {margin-right: 0;}

			a {
				background: url(../img/social.png) no-repeat;
				width: 26px; height: 26px;
				display: block;
				&.linkedin {background-position: -27px top;}
				&.twitter {background-position: -54px top;}
				&.google {background-position: -80px top;}
			}
		}
	}
}

/* Clientes ------------------------------------------------------------ */
#clientes {
	h3 {
		color: $gris;
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;
		margin: 0 0 40px;
	}

	img {
		position: relative;
		&.telecom {top: 3px;}
		&.arcor {top: 8px;}
		&.coca-cola {top: -5px;}
		&.fiat {top: 0px;}
		&.santander {top: 17px;}
	}
}

/* Beneficios ------------------------------------------------------------ */
#beneficios {

	.beneficios {
		position: relative;
		.go-top {
			background: url(../img/go-top.png) no-repeat;
			padding: 2px 0 2px 27px;
			color: #777;
			font-size: 12px;
			font-weight: 300;
			position: absolute;
			bottom: -50px; left: 0;

			&:hover {text-decoration: none;}
		}

		&.beneficio-2 {
			.go-top {
				left: auto;
				right: 0;
			}
		}
	}

	h2 {
		font-size: 30px;
		color: $gris2;
	}

	p {
		font-size: 18px;
		color: $gris2;
	}

	dl {
		margin-top: 45px;
		dt, dd {padding-left: 35px;}
		
		dt {
			margin-bottom: 15px;
			color: $red;
			font-size: 18px;
			&.cobertura {background: url(../img/iconos/cobertura.png) no-repeat left top;}
			&.analisis {background: url(../img/iconos/analisis.png) no-repeat left top;}
			&.videos-audios {background: url(../img/iconos/videos-audios.png) no-repeat left top;}
			&.alertas {background: url(../img/iconos/alertas.png) no-repeat left top;}
			&.auditoria {background: url(../img/iconos/auditoria.png) no-repeat right top;}
			&.facil {background: url(../img/iconos/facil.png) no-repeat right top;}
			&.informacion {background: url(../img/iconos/informacion.png) no-repeat right top;}
			&.descarga {background: url(../img/iconos/descarga.png) no-repeat right top;}
			&.analisis2 {background: url(../img/iconos/analisis2.png) no-repeat left top;}
			&.servicio {background: url(../img/iconos/servicio.png) no-repeat left top;}
			&.licencias {background: url(../img/iconos/licencias.png) no-repeat left top;}
		}

		dd {
			font-size: 14px;
			margin-bottom: 30px;
		}

		&.right {
			dt, dd {padding: 0 30px 0 0;}
		}
	}
	.image {
		position: relative;
		&.smartphones {top: 50px;}
		&.imac {top: 35px;}
		&.mac-air {top: 45px;}
	}
}

/* Redes Sociales ----------------------------------------------------------- */
#redes-sociales {
	display: none;
	margin-top: 200px;
	.container {max-width: 857px;}
	.row {margin-bottom: 14px;}
	.col-sm-4, .col-sm-8 {
		padding-left: 7px;
		padding-right: 7px;
	}
	.post {
		background: #333;
		color: #FFF;
		position: relative;

		h4 {
			color: #FFF;
			display: inline;
			background: rgba($red, 0.8);
			font-size: 30px;
			padding: 3px 5px;
			position: absolute;
			top: 20px; left: 0;
			max-width: 200px;
			text-transform: uppercase;
		}

		&.large {
			h4 {max-width: 300px;}
		}
	}

	#tweets {
		background: url(../img/twitter-icon.png) no-repeat 20px 210px #6eb3e8;
		color: #FFF;
		padding: 40px 20px;
		font-size: 15px;
		.time {color: #e1e2e9;}
	}

	#post-small, #tweets, .mas-blog {
		height: 273px;
		overflow: hidden;
	}
}

/* Footer ----------------------------------------------------------------- */
#footer {
	background: #333;
	color: #FFF;
	padding: 30px 0 200px;
	margin-top: 100px;

	.footer-menu {
		margin: 13px 0;
		padding: 0;
		list-style: none;

		a {
			color: #FFF;
			font-size: 12px;
			font-weight: 300;
		}
	}

	.telefono {
		font-size: 18px;
		font-weight: 300;
	}

	.social-footer {
		margin: 13px 0 0;
		padding: 0;
		display: block;
		list-style: none;

		li {
			float: left;
			margin-right: 4px;
			&.last {margin-right: 0;}

			a {
				background: url(../img/social-footer.png) no-repeat;
				width: 30px; height: 30px;
				display: block;
				&.facebook {background-position: -35px top;}
				&.twitter {background-position: -71px top;}
				&.google {background-position: -107px top;}
			}
		}
	}

	blockquote {
		color: #BDBDBD;
		font-size: 14px;
		font-weight: 300;
		padding: 0;
		border: none;
		margin-top: 20px;

		&:before, &:after {
			content: "";
			width: 16px; height: 14px;
			display: inline-block;
			position: relative;
		}

		&:before {
			background: url(../img/quote-open.png) no-repeat;
			left: -8px;
		}

		&:after {
			background: url(../img/quote-close.png) no-repeat;
			right: -15px;
		}
	}
	
	.reporte {height: 42px;}

	.pulsosocial {
		&:hover {
			text-decoration: none;
			blockquote {color: #FFF;}
		}
	}
}