{% extends "base.html" %}
{% block content %}
<div class="box clearfix">
	<div class="ten centered">
		<div class="four column">
			<img src="{{STATIC_URL}}images/candaditos/ups.png" alt="Ups! Parece que esta página no existe">
		</div>
		<div class="eigth column">
			<h4>Ups! Parece que esta página no existe</h4>
	        <a href="/cotizar" class="button blue-next">Ir a cotizar</a>
	    </div>
	</div>
</div>
</div>
{% endblock %}