<h3>Servidor caido: {{ nombre_server }}</h3>

<p>El <a href='http://{{ servidor }}/is_online.htm'>servidor</a> est&aacute;
caido desde {{ ultima_vez_online }} y el t&eacute;cnico ya fue alertado a trav&eacute;s
de un e-mail a la direcci&oacute;n {{ mail_tecnico }}.
</p>
<p>Tal vez sea un buen momento para llamar por tel&eacute;fono o averiguar si se trata
de un problema m&aacute;s duradero.</p>

<hr />
<small>Este mensaje fue generado autom&aacute;ticamente.
<strong>No es necesario responderlo.</strong></small>
