<h4 style='align: left'>Estimado {{ nombre }}:</h4>

<p>Nos comunicamos para notificarle que no podemos acceder al servidor.
Esto puede deberse a un problema de red, la conexi&oacute;n a Internet
o a que el servidor est&aacute; apagado. Le agradeceremos que verifique
cu&aacute;l es el inconveniente y lo solucione a la brevedad.
Una vez que el problema est&eacute; resuelto, haga click
<a href='http://{{ servidor }}/is_online.htm'>aqu&iacute;</a> para
chequear que est&eacute; funcionando.</p>

<p>En caso de un problema de fuerza mayor (como un corte de luz generalizado),
env&iacute;enos un mail a {{ responder }}  para notificar esta situaci&oacute;n.</p>

<p>Si hubo un corte de luz, dependiendo del sintonizador que tengan los canales
es posible que queden apagados y no se est&eacute; grabando ninguna imagen.
Por favor verifique que todo el equipo est&eacute; encendido y funcionando.</p>

<p style='text-align:right'>Muchas Gracias</p>
<p style='text-align:right'>Equipo t&eacute;cnico de InfoAd</p>

<br />
<hr />
<small>Este mensaje fue generado autom&aacute;ticamente. <strong>No es necesario responderlo.</strong>
Si el mensaje contiene informaci&oacute;n err&oacute;nea le pedimos disculpas y le
rogamos notificar a la direcci&oacute;n {{ responder }} para que no vuelva a ocurrir.</small>
