<h4>{{ title }}</h4>
<p>
	{{ observations }}
	<br />
	<a href="{{ link }}">Haga clic para obtener el contenido original</a>
</p>
<br />
<small>©2013 Infoxel de Argentina S.A. | http://www.infoxel.com | 0810 888 INFO (4636)
La información contenida en este mensaje y cualquier archivo anexo al mismo,
son para uso exclusivo del destinatario y pueden ser confidencial o propietaria,
cuya divulgación es sancionada por la ley. Todas las opiniones aquí contenidas
son propias del autor del mensaje y no necesariamente coinciden con las de
Infoxel de Argentina S.A. Los mensajes electrónicos pueden ser alterados,
motivo por el cual no se aceptará ninguna obligación cualquiera sea el resultante
de este mensaje</small>