<h4 style='align: left'>Muchas Gracias, {{ nombre }}:</h4>

<p> El <a href='http://{{ servidor }}/is_online.htm'>servidor</a> se encuentra online nuevamente</p>

<p style='text-align:right'>Equipo t&eacute;cnico de InfoAd</p>

<br />
<hr />
<small>Este mensaje fue generado autom&aacute;ticamente. <strong>No es necesario responderlo.</strong>
Si el mensaje contiene informaci&oacute;n err&oacute;nea le pedimos disculpas y le
rogamos notificar a la direcci&oacute;n {{ responder }} para que no vuelva a ocurrir.</small>
