{% load style_forms %}
{% load widget_tweaks %}

<div class="form-item {% field_type field %} {% if field.errors %}error{% endif %}" id="{{field.name}}">
  {% if field.label %}{% field_label field %}{% endif %}
  <span class="prefix"></span>
  {% render_field field placeholder=field.label %}
  <span class="sufix"></span>
  {% if field.help_text %}
  <div class="error-msg clearfix">
    {{ field.help_text }}
  </div>
  {% endif %}
  {% if field.errors %}
  <div class="error-msg clearfix">
    {{ field.errors }}
  </div>
  {% endif %}
</div>
