<ul class="footer-links">
  	<li class="first">&copy; Copyright 2012. Asegú.com</li>
  	<li><a href="/nosotros">Sobre Asegú</a></li>
	<li><a href="/nosotros#politicas">Política de Privacidad</a></li>
	<li class="last"><a href="/nosotros#terminos">Términos de Uso</a></li>
	{% comment %}
	<li><a href="#">Asociados Comerciales</a></li>
	<li><a href="#">Productor Asesor de Seguros</a></li>
	{% endcomment %}
</ul>

<ul class="footer-social">
	<li><a class="facebook" target="_blank" href="http://www.facebook.com/asegucom" rel="nofollow">Haceté fan de Asegú</a></li>
	<li><a class="twitter" target="_blank" href="http://twitter.com/asegucom" rel="nofollow">Seguí a Asegú en twitter</a></li>
	<li class="last"><a class="google" target="_blank" href="https://plus.google.com/u/0/102995744466262538349/posts" rel="nofollow">Seguínos en Google+</a></li>
</ul>  

<ul class="toolbar">
	<li><a class="soporte" href="http://soporte.asegu.com" target="_blank">Soporte</a></li>
	<li><a class="contacto" href="javascript:UserVoice.showPopupWidget();">Contacto</a></li>
	<li class="last"><a class="blog" href="http://blog.asegu.com" target="_blank">Blog</a></li>
	{% comment %}
	{% include 'desk_chat.html' %}			
	<li class="last"><a class="chat" onclick="$zopim.livechat.window.show()">Chat</a></li>
	{% endcomment %}			
</ul>