	<div class="brand">
	  <h1 id="logo"><a href="/">Asegú</a></h1>
	</div>
	
	<div class="quick-links">
		<ul>
		  	<li><a id="teaser-trigger" href="/#tour">Tour</a></li>
		  	<li><a href="/siniestros">Tuve un siniestro</a></li>
			<li><a href="/cotizar">Cotizar</a></li>
		</ul>
	</div>
	
	<div class="account">
	    <ul class="accounts">
	      {% if request.user.is_authenticated %}
		  <li class="options">
		  	<a href="#" class="button green-dark">
		  		Hola {{request.user.first_name}}!
		  	</a>
		  	<div id="account-box">
		  		<div class="user">
					<span class="name">{{request.user.first_name}} {{request.user.last_name}}</span>
					<span class="email">{{request.user.email}}</span>
				</div>
				{% if request.user.is_staff %}
				<ul>
		  			<li><a href="/gestionar/mis_polizas" class="button silver">Mis pólizas</a></li>
		  			<li><a href="/gestionar/mis_cotizaciones" class="button silver">Mis cotizaciones</a></li>
		  	    {% endif %}
		  			<li><a href="/cuentas/password/change/" class="button silver">Modificar contraseña</a></li>
		  			<li><a href="/cuentas/logout/" class="button blue">Cerrar sesión</a></li>
		  		</ul>
		  	</div>
		  </li>
	      {% else %}
		  <li class="login"><a class="button green-dark link-overlay" href="/cuentas/login/">Login</a></li>
		  <li class="register"><a class="button green-light link-overlay" href="/cuentas/register/">Registro</a></li>
	      {% endif %}
	    </ul>
	</div>

	
	<!-- Inline Layouts -->
	
	<div class="compartir" >
	<div class="twitter">
	    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://asegu.com" data-text="Asegú" data-via="asegucom" data-count="horizontal">Tweet</a>
	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
	<div class="facebook">
	    <div id="fb-root"></div>
	    <script>(function(d, s, id) {
	      var js, fjs = d.getElementsByTagName(s)[0];
	      if (d.getElementById(id)) return;
	      js = d.createElement(s); js.id = id;
	      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	      fjs.parentNode.insertBefore(js, fjs);
	    }(document, 'script', 'facebook-jssdk'));</script>
	    <div class="fb-like" data-href="https://facebook.com/asegucom" data-layout="button_count" data-width="52" data-show-faces="true" data-font="lucida grande"></div>
	</div>
	<div class="google">
		<g:plusone size="medium" href="https://asegu.com"></g:plusone>
		<script type="text/javascript">
		  window.___gcfg = {lang: 'es'};
		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	</div>
	

	{% comment %} <!-- Boxes Layouts -->
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://asegu.com" data-text="Asegú" data-via="asegucom" data-count="vertical">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div class="fb-like" data-href="http://facebook.com/asegucom" data-layout="box_count" data-width="52" data-show-faces="true" data-font="lucida grande"></div>
  
	<g:plusone size="tall" href="http://asegu.com"></g:plusone>
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
	{% endcomment %}	      

</div>