<h1> Cantidad de Accesos por Mes </h1>
<table border="1" style="background-color:lightblue;border:1px dotted black;width:80%;border-collapse:collapse;">
<tr style="background-color:darkgray;color:white;">
<th style="padding:3px;">Año</th>
<th style="padding:3px;">Mes</th>
<th style="padding:3px;">Cantidad de Accesos</th>
</tr>
<tr>
{% for fila in filas %}
	    <tr>
	    <td>{{fila.0}}</td>
	    <td>{{fila.1}}</td>
	    <td>{{fila.2}}</td>
	    </td>
{% endfor %}
</tr>
</table>