{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="twelve column centered msg" id="error_restricted">
    <div class="msg-wrapper">
        <div class="msg-detail">
        <h4>No tenés acceso a esta información</h4>
        <p>Podés volver al inicio y realizar una cotización <br />para el seguro de tu vehículo</p>
        <a href="/cotizar" class="cotizar">Ir a cotizar</a>
        </div>
    </div>
</div>
</div>
{% endblock %}